// config
$px-only:true;

//$pixelBase : 16; /* 1 */
$pixelBase : $rem-base; /* 1 */


@function parseInt($n) {
  @return $n / ($n * 0 + 1); /* 2 */
}


@function u($values){

  @if (type-of($values) == "list") { // process it as a list

    $list: (); // set an empty list to append the values to

    @each $value in $values {

      @if (type-of($value) == "number") and ($value != 0) {

        $unit:unit($value);
        $val:parseInt($value);
        @if ($px-only) and ($unit == 'rem') {
          $list:append($list, ($val * $pixelBase) + px);
        } @else if($unit == 'px') or ($unit == 'rem') {
          $list:append($list, $value);
        } @else {
          @warn 'There is no unit conversion for "#{$unit}"';
        }

      } @else {
        $list:append($list, $value);
      }
    }

    @return $list();

  } @else { // process it as a single value

    $value: $values;
    $return: 0;

    @if (type-of($value) == "number") and ($value != 0) {

      $unit:unit($value);
      $val:parseInt($value);
      @if ($px-only) and ($unit == 'rem') {
        $return: ($val * $pixelBase) + px;
      } @else if($unit == 'px') or ($unit == 'rem') {
        $return: $value;
      } @else {
        @warn 'There is no unit conversion for "#{$unit}"';
      }

    } @else {
      $return: $value;
    }

    @return $return;
  }
}
