// MAP FETCH

/**
 * loop through a list map and return the value based on the key
 */

@function map-fetch($map, $keys) {
  $key: nth($keys, 1);
  $length: length($keys);
  $value: map-get($map, $key);

  @if $value != null {
    @if $length > 1 {
      $rest: ();

      @for $i from 2 through $length {
        $rest: append($rest, nth($keys, $i))
      }

      @return map-fetch($value, $rest);

    } @else {
      @return $value;
    }
  } @else {
    @return false;
  }
}
