// STRIP UNIT
// It strips the unit of measure and returns it
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// CONVERT TO REM
@function convert-to-rem($value, $base-value: $rem-base)  {
  $value: strip-unit($value) / strip-unit($base-value) * 1rem;
  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}

@function rem-calc($values, $base-value: $rem-base) {
  $max: length($values);

  @if $rem-support == true {

    @if $max == 1 {
      @return convert-to-rem(nth($values, 1), $base-value);
    }

    $remValues: ();
    @for $i from 1 through $max {
      $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
    }
    @return $remValues;

  } @else {

    //does not work
    @if $max == 1 {
      $value: nth($values, 1);
      @return ($value);
    }

    $remValues: ();
    @for $i from 1 through $max {
      $value: nth($values, $i);
      $remValues: append($remValues, ($value + px));
    }

    @return $remValues;

  }
}
