// Convert PX to REM if the project supports REM.
// Enabled/Disabled with '$rem-support: true' in _variables.scss
@function safe-rem($size) {
  $output: 0;

  @if $rem-support == true {
    $output: ($size / $rem-base) * 1rem;
  } @else {
    $output: $size + px;
  }
  @return $output;

}

// Example:
// padding: safe-rem(16) !important;