.row {
  @apply w-full px-20 mx-auto;
  max-width: 1400px;
}

.button-focus:focus,
.button-focus:active {
  outline: none;
  box-shadow: 0 0 0 2px #a5c7fe;
}

.hover\:bg-darken:hover {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.15);
}
.hover\:bg-darken-light:hover {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.1);
}

.text-hidden {
  @apply block absolute text-0;
}

.text-inherit {
  font-size: inherit;
}

.p-text-inherit p {
  font-size: inherit;
}