
/* Arrows */

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  transform: translate(0, -50%);
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
}

.slick-prev {
  left: -25px;
}

.slick-prev:before {
  content: '?';
}

.slick-next {
  right: -25px;
}

.slick-next:before {
  content: '?';
}


/* Dots */

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  padding: 0;
}

.slick-dots li:only-child {
  display: none;
}

.slick-dots li button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 0;
  outline: none;
  background: transparent;
  color: transparent;
  font-size: 0;
  line-height: 0;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:before {
  @apply bg-black;
  content: '';
  width: 15px;
  height: 15px;
  opacity: .25;
  border-radius: 100%;
  transition:
  background .2s ease,
  opacity .2s ease;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: .5;
}

.slick-dots li.slick-active button:before {
  @apply bg-primary;
  opacity: 1;
}


/* Loading States */

.slick-hide-load {
  display: none !important;
}
.slick-hide-load.slick-initialized {
  display: block !important;
}

/* All sizes */
.slick-col-1 > div + div,
.slick-col-2 > div + div + div,
.slick-col-3 > div + div + div + div {
  display: none !important;

  .slick-initialized & {
    display: block !important;
  }

}

/* Small only */
@media (max-width: 640px){

  .sm\:slick-col-1 > div + div,
  .sm\:slick-col-2 > div + div + div,
  .sm\:slick-col-3 > div + div + div + div {
    display: none !important;

    .slick-initialized & {
      display: block !important;
    }

  }

}

/* Medium only */
@screen md {

  .md\:slick-col-1 > div + div,
  .md\:slick-col-2 > div + div + div,
  .md\:slick-col-3 > div + div + div + div {
    display: none !important;

    .slick-initialized & {
      display: block !important;
    }

  }

}

/* Medium only */
@media (min-width: 641px) and (max-width: 1023px){

  .md-only\:slick-col-1 > div + div,
  .md-only\:slick-col-2 > div + div + div,
  .md-only\:slick-col-3 > div + div + div + div {
    display: none !important;

    .slick-initialized & {
      display: block !important;
    }

  }

}

/* Large */
@screen lg {

  .lg\:slick-col-1 > div + div,
  .lg\:slick-col-2 > div + div + div,
  .lg\:slick-col-3 > div + div + div + div {
    display: none !important;

    .slick-initialized & {
      display: block !important;
    }

  }

}

/* Large only */
@media (min-width: 1024px) and (max-width: 1279px){

  .lg-only\:slick-col-1 > div + div,
  .lg-only\:slick-col-2 > div + div + div,
  .lg-only\:slick-col-3 > div + div + div + div {
    display: none !important;

    .slick-initialized & {
      display: block !important;
    }

  }

}

/* X-Large */
@screen xl {

  .xl\:slick-col-1 > div + div,
  .xl\:slick-col-2 > div + div + div,
  .xl\:slick-col-3 > div + div + div + div {
    display: none !important;

    .slick-initialized & {
      display: block !important;
    }

  }

}


/*
  Misc Utilities
  -------
*/

/* Equal height slides (no js) */
.slick-h-full {

  .slick-track {
    display: flex !important;
  }

  .slide {
    height: auto;
  }

}

/* Overflow visible e.g. 'full screen' slick contained in a row */
.slick-overflow-visible .slick-list {
  overflow: visible;
}

/* Remove padding from no-init state (messes up logic + display) */
.slick-slider.slick-initialized {
  display: block;
  padding-left: 0 !important;
  padding-right: 0 !important;
}