
.ani-spin {
  animation: spin 1s infinite linear;
}

.ani-spin-stepped {
  animation: spin 1s steps(8) infinite;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}