/* purgecss start ignore */
.cms-content,
.mce-content-body {

  p {
    @apply mb-4;

    &:last-child {
      @apply mb-0;
    }

  }

  a {
    @apply font-semibold underline;

    &:hover {
      @apply no-underline;
    }

  }

  &.text-white a {
    color: white;
  }

  strong {
    @apply font-bold;
  }

  h2 {
    @apply text-3xl;

    @screen md {
      @apply text-4xl;
    }
  }

  h3 {
    @apply text-2xl;

    @screen md {
      @apply text-3xl;
    }
  }

  h4 {
    @apply text-xl;
  }

  h2, h3, h4, h5, h6 {
    @apply leading-tight font-bold mt-8 mb-4 text-teal;

    &:first-child {
      @apply mt-0;
    }
  }

  blockquote {
    @apply relative text-2xl leading-tight font-bold mt-8 mb-12;

    @screen md {
      @apply text-3xl;
    }

    @screen lg {
      @apply mt-12 mb-16;
    }

    &:first-child {
      @apply mt-0;
    }

  }

  ul, ol {
    @apply my-8 ml-5;

    li {
      @apply my-4;
    }

  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  tr,
  td {
    @apply py-4 px-2 border-b border-grey-100 align-top;
  }

}
/* purgecss end ignore */