.hover-parent:hover {

  .hover-child\:no-underline {
    text-decoration: none;
  }

  .hover-child\:opacity-0 {
    opacity: 0;
  }
  .hover-child\:opacity-25 {
    opacity: .25;
  }
  .hover-child\:opacity-50 {
    opacity: .50;
  }
  .hover-child\:opacity-75 {
    opacity: .75;
  }
  .hover-child\:opacity-90 {
    opacity: .9;
  }
  .hover-child\:opacity-100 {
    opacity: 1;
  }

}