.bm-menu {

  &::-webkit-scrollbar {
    width: 24px;
    background-color: #333347;
  }

  &::-webkit-scrollbar-thumb {
    border: 8px solid #333347;
    background-color: #71717f;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #9999a3;
  }

}