// Properties

.no-tr,
.tr-none { transition: none }

.tr-all { transition: all .3s ease }

.tr-opacity { transition: opacity .3s ease }

.tr-bg { transition: background-color .3s ease }
.tr-color { transition: color .3s ease }
.tr-colors {
  transition:
    background-color .3s ease,
    color .3s ease;
}

.tr-shadow { transition: box-shadow .3s ease }

.tr-transform { transition: transform .3s ease }

// Duration

.tr-dur-100 { transition-duration: .1s }
.tr-dur-150 { transition-duration: .15s }
.tr-dur-200 { transition-duration: .2s }
.tr-dur-250 { transition-duration: .25s }
.tr-dur-500 { transition-duration: .5s }
.tr-dur-750 { transition-duration: .75s }
.tr-dur-1000 { transition-duration: 1s }