.tr-center {
  transform: translate3d(-50%, -50%, 0)
}
.-tr-center {
  transform: translate3d(50%, 50%, 0)
}

.tr-x-50 {
  transform: translate3d(50%, 0, 0)
}
.-tr-x-50 {
  transform: translate3d(-50%, 0, 0)
}

.tr-y-50 {
  transform: translate3d(0, 50%, 0)
}
.-tr-y-50 {
  transform: translate3d(0, -50%, 0)
}

.rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#{1});
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#{2});
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#{3});
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.flip-horizontal,
.flip-hori {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#{0});
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.flip-vertical,
.flip-vert {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#{2});
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

// Rotate/Flip Hook for IE8-9
// -------------------------
:root .rotate-90,
:root .rotate-180,
:root .rotate-270,
:root .flip-horizontal,
:root .flip-hori,
:root .flip-vertical,
:root .flip-vert {
  filter: none;
}