
// _settings_override.scss contains only the overwrittes form _settings.scss
// Leave _settings.scss untouched! Changes made there could be overwritten by an upgrade.


// --- Example of Structure ---

// <variable altered> // <variable original for reference>
//$row-width: 100%;  // $row-width: rem-calc(1000);

// ----------------------------


// GRID
$row-width: rem-calc(1780);  // 1720 $row-width: rem-calc(1000);
$column-gutter: rem-calc(20); // $column-gutter: rem-calc(30);


// COLOURS
$primary-color: $colour-primary; // $primary-color: #008CBA;
$secondary-color: $colour-secondary; // $secondary-color: #e7e7e7;
$alert-color: $colour-error; // $alert-color: #f04124;
$warning-color: $colour-warning; // $warning-color: #f08a24;
$success-color: $colour-success; // $success-color: #43AC6A;
$info-color: $colour-grey-light; // $info-color: #a0d3e8;


// TYPOGRAPHY
$body-font-family: $sans-serif-font-family; // $body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-color: $colour-grey-darkest; // $body-font-color: #222;

$h1-font-size: rem-calc(51);
$h2-font-size: rem-calc(40);
$h3-font-size: rem-calc(30);
$h4-font-size: rem-calc(24);
$h5-font-size: rem-calc(20);
$h6-font-size: rem-calc(16);

$header-font-family: $body-font-family; // $header-font-family: $body-font-family;
$header-font-weight: 600; // $header-font-weight: normal;
$header-font-color: $body-font-color; // $header-font-color: #222;
$header-line-height: 1.2; // $header-line-height: 1.4;
$header-top-margin: 0; // $header-top-margin: .2rem;
$header-bottom-margin: rem-calc(24); // $header-bottom-margin: .5rem;

$paragraph-font-size: rem-calc(16); // $paragraph-font-size: 1rem;
$paragraph-margin-bottom: rem-calc(20); // $paragraph-margin-bottom: rem-calc(20);


// OFF-CANVAS NAV
$off-canvas-width: rem-calc(220);
$off-canvas-overlay-box-shadow: none; // $off-canvas-overlay-box-shadow: -4px 0 4px rgba(#000, 0.5), 4px 0 4px rgba(#000, 0.5);


// FORMS
$form-spacing: rem-calc(20); // $form-spacing: rem-calc(16);
$input-font-size: rem-calc(16); // $input-font-size: rem-calc(14);  //needs to match the select which needs to be 16 to stop zoom on iphones
$input-box-shadow: none; // $input-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
$input-bg-color: $colour-white; //$input-bg-color: #fff;
$input-focus-bg-color: $colour-white; //$input-bg-color: #fff;
$select-bg-color: $input-bg-color; //$select-bg-color: #fafafa;
$select-hover-bg-color: $input-bg-color; //$select-bg-color: #fafafa;
$input-prefix-border-size: 0; // $input-prefix-border-size: 1px;
$input-prefix-bg: $colour-off-white; // $input-prefix-bg: scale-color(#fff, $lightness: -5%);
$input-error-message-font-style: normal;


// ALERTS
$alert-border-width: 0; // $alert-border-width: 1px;
$alert-close-position: rem-calc(8); // $alert-close-position: rem-calc(4);
$alert-close-font-size: rem-calc(24); // $alert-close-font-size: rem-calc(22);
$alert-close-opacity: 0.4; // $alert-close-opacity: 0.3;
$alert-close-opacity-hover: 0.6; // $alert-close-opacity-hover: 0.5;


// BUTTONS
// moving to _variables.scss - $global-radius: rem-calc(4); // $global-radius: 3px;
$button-sml: rem-calc(13); // $button-sml: rem-calc(14);
$button-med: rem-calc(16); // $button-med: rem-calc(16);
$button-margin-bottom: $input-margin-bottom; // $button-margin-bottom: rem-calc(20);
$button-disabled-opacity: 0.4; //$button-disabled-opacity: 0.7;


// BLOCKQUOTES
$blockquote-padding: rem-calc(0 20 0 19); // rem-calc(9 20 0 19);
$blockquote-font-color: $body-font-color; //scale-color($header-font-color, $lightness: 35%);
$blockquote-cite-font-color: $body-font-color;//scale-color($header-font-color, $lightness: 23%);
$blockquote-border: 1px solid $colour-primary; //#ddd;


// TABLES
//$table-border-style: solid; // $table-border-style: solid;
//$table-border-size: 1px; // $table-border-size: 1px;
//$table-border-color: $colour-grey-lightest; // $table-border-color: #ddd;
//$table-line-height: inherit;  // $table-line-height: rem-calc(18);

// These control the background color for the table and even rows
// $table-bg: #fff;
$table-even-row-bg: #fff; // $table-even-row-bg: #f9f9f9;

// These control the table cell border style
// $table-border-style: solid;
// $table-border-size: 1px;
$table-border-color: #e4e8f0; // $table-border-color: #ddd;

// These control the table head styles
$table-head-bg: $admin-tab-bar-bg-colour; // $table-head-bg: #f5f5f5;
$table-head-font-size: rem-calc(13); // $table-head-font-size: rem-calc(14);
$table-head-font-color: $colour-grey-dark; // $table-head-font-color: #222;
$table-head-font-weight: 600; // $table-head-font-weight: bold;
// $table-head-padding: rem-calc(8 10 10);

// These control the row padding and font styles
// $table-row-padding: rem-calc(9 10);
$table-row-font-size: rem-calc(13); // $table-row-font-size: rem-calc(14);
$table-row-font-color: $colour-grey; // $table-row-font-color: #222;
// $table-line-height: rem-calc(18);

// These are for controlling the display and margin of tables
// $table-display: table-cell;
$table-margin-bottom: 0; // $table-margin-bottom: rem-calc(20);



// MEDIA QUERY RANGES
$small-range: (0em, 40em); // $small-range: (0em, 40em);
$medium-range: (40.063em, 64em); // $medium-range: (40.063em, 64em);
$large-range: (64.063em, 90em); // $large-range: (64.063em, 90em);
$xlarge-range: (90.063em, 120em); // $xlarge-range: (90.063em, 120em);
$xxlarge-range: (120.063em, 99999999em); // $xxlarge-range: (120.063em, 99999999em);

$screen: "only screen"; // $screen: "only screen";

// $landscape: "#{$screen} and (orientation: landscape)";
// $portrait: "#{$screen} and (orientation: portrait)";

$small-up: $screen; // $small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})"; // $small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})"; // $medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})"; // $medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})"; // $large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})"; // $large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})"; // $xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})"; // $xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})"; // $xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})"; // $xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

// Legacy
$small: $medium-up; // $small: $medium-up;
$medium: $medium-up; // $medium: $medium-up;
$large: $large-up; // $large: $large-up;


// Tabs
$tabs-content-margin-bottom: 0; // $tabs-content-margin-bottom: rem-calc(24);
$tabs-content-padding: 0; // $tabs-content-padding: $column-gutter/2;