
// Global Class
// -------------------------

%fi-adm,
.fi-adm {
  display: inline-block;
  font-family: "iconfont-admin" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  font-size-adjust: none;
}


// -------------------------
//  ICON MODIFIERS
// -------------------------

// Stacked
// Borrowed from https://github.com/FortAwesome/Font-Awesome/blob/v4.3.0/scss/_stacked.scss
// -------------------------
.fi-stack {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
}

.fi-stack-icon {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: inherit;
}


// Fixed Width
// Borrowed from https://github.com/FortAwesome/Font-Awesome/blob/v4.3.0/scss/_animated.scss
// -------------------------
.fi-fw {
  width: (18em / 14);
  text-align: center;
}

//squared no matter what
.fi-squared {
  width: 1em;
  height: 1em;

  &:before ,
  &:after {
    width: 1em;
    height: 1em;
  }
}

//be absolute center
.fi-absolute-center {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  left: 50%;
  margin-left: -0.5em;
}

.fi-absolute-vertical {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
}

.fi-absolute-horizontal {
  position: absolute;
  left: 50%;
  margin-left: -0.5em;
}


// Basic spin animation
.fi-spin {
  animation: fi-spin 2s infinite linear;
}

@keyframes fi-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}