/**
 * Icon Font template file, used in conjunction with Gulp
 */
// The following is a template file used by Gulp to automatically generate Sass code, which uses a font file to create icons


// Link Font Face
// -------------------------
@font-face {
  font-family: "iconfont-style-guide";
  src: url('../fonts/iconfont-style-guide.eot');
  src: url('../fonts/iconfont-style-guide.eot?#iefix') format('eot'),
  url('../fonts/iconfont-style-guide.woff') format('woff'),
  url('../fonts/iconfont-style-guide.ttf') format('truetype'),
  url('../fonts/iconfont-style-guide.svg#iconfont-style-guide') format('svg');
}

.fi-sg-font-family {
  font-family: "iconfont-style-guide" !important;
}
%fi-sg-font-family {
  font-family: "iconfont-style-guide" !important;
}


// Loop through icons
// -------------------------


@mixin fi-sg-arrow-left {
  content: "\E001";
}

.fi-sg-arrow-left:before {
  content: "\E001";
}

%fi-sg-arrow-left {
  content: "\E001" !important;
}



@mixin fi-sg-arrow-right {
  content: "\E002";
}

.fi-sg-arrow-right:before {
  content: "\E002";
}

%fi-sg-arrow-right {
  content: "\E002" !important;
}



@mixin fi-sg-bounce {
  content: "\E003";
}

.fi-sg-bounce:before {
  content: "\E003";
}

%fi-sg-bounce {
  content: "\E003" !important;
}



@mixin fi-sg-brackets {
  content: "\E004";
}

.fi-sg-brackets:before {
  content: "\E004";
}

%fi-sg-brackets {
  content: "\E004" !important;
}



@mixin fi-sg-ccw {
  content: "\E005";
}

.fi-sg-ccw:before {
  content: "\E005";
}

%fi-sg-ccw {
  content: "\E005" !important;
}



@mixin fi-sg-cw {
  content: "\E006";
}

.fi-sg-cw:before {
  content: "\E006";
}

%fi-sg-cw {
  content: "\E006" !important;
}



@mixin fi-sg-fade-in-from {
  content: "\E007";
}

.fi-sg-fade-in-from:before {
  content: "\E007";
}

%fi-sg-fade-in-from {
  content: "\E007" !important;
}



@mixin fi-sg-fade {
  content: "\E008";
}

.fi-sg-fade:before {
  content: "\E008";
}

%fi-sg-fade {
  content: "\E008" !important;
}



@mixin fi-sg-fade2 {
  content: "\E009";
}

.fi-sg-fade2:before {
  content: "\E009";
}

%fi-sg-fade2 {
  content: "\E009" !important;
}



@mixin fi-sg-fade3 {
  content: "\E00A";
}

.fi-sg-fade3:before {
  content: "\E00A";
}

%fi-sg-fade3 {
  content: "\E00A" !important;
}



@mixin fi-sg-flash {
  content: "\E00B";
}

.fi-sg-flash:before {
  content: "\E00B";
}

%fi-sg-flash {
  content: "\E00B" !important;
}



@mixin fi-sg-jigsaw {
  content: "\E00C";
}

.fi-sg-jigsaw:before {
  content: "\E00C";
}

%fi-sg-jigsaw {
  content: "\E00C" !important;
}



@mixin fi-sg-pulse {
  content: "\E00D";
}

.fi-sg-pulse:before {
  content: "\E00D";
}

%fi-sg-pulse {
  content: "\E00D" !important;
}



@mixin fi-sg-resize {
  content: "\E00E";
}

.fi-sg-resize:before {
  content: "\E00E";
}

%fi-sg-resize {
  content: "\E00E" !important;
}



@mixin fi-sg-shake {
  content: "\E00F";
}

.fi-sg-shake:before {
  content: "\E00F";
}

%fi-sg-shake {
  content: "\E00F" !important;
}



@mixin fi-sg-spring {
  content: "\E010";
}

.fi-sg-spring:before {
  content: "\E010";
}

%fi-sg-spring {
  content: "\E010" !important;
}



@mixin fi-sg-swing {
  content: "\E011";
}

.fi-sg-swing:before {
  content: "\E011";
}

%fi-sg-swing {
  content: "\E011" !important;
}



@mixin fi-sg-tada {
  content: "\E012";
}

.fi-sg-tada:before {
  content: "\E012";
}

%fi-sg-tada {
  content: "\E012" !important;
}



@mixin fi-sg-template {
  content: "\E013";
}

.fi-sg-template:before {
  content: "\E013";
}

%fi-sg-template {
  content: "\E013" !important;
}



@mixin fi-sg-warning {
  content: "\E014";
}

.fi-sg-warning:before {
  content: "\E014";
}

%fi-sg-warning {
  content: "\E014" !important;
}



@mixin fi-sg-wobble {
  content: "\E015";
}

.fi-sg-wobble:before {
  content: "\E015";
}

%fi-sg-wobble {
  content: "\E015" !important;
}


