/**
 * Icon Font template file, used in conjunction with Gulp
 */
// The following is a template file used by Gulp to automatically generate Sass code, which uses a font file to create icons


// Link Font Face
// -------------------------
@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
  url('<%= fontPath %><%= fontName %>.woff') format('woff'),
  url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
  url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
}

.<%= className %>-font-family {
  font-family: "<%= fontName %>" !important;
}
%<%= className %>-font-family {
  font-family: "<%= fontName %>" !important;
}


// Loop through icons
// -------------------------
<% _.each(glyphs, function(glyph) { %>

@mixin <%= className %>-<%= glyph.name %> {
  content: "\<%= glyph.codepoint.toString(16).toUpperCase() %>";
}

.<%= className %>-<%= glyph.name %>:before {
  content: "\<%= glyph.codepoint.toString(16).toUpperCase() %>";
}

%<%= className %>-<%= glyph.name %> {
  content: "\<%= glyph.codepoint.toString(16).toUpperCase() %>" !important;
}

<% }); %>

