footer{
	
	.site-logo{
		margin-bottom: 1.3em;
		display: inline-block;

		img{
			display: block;
			width: 100%;
		}
	}

	h6{
		margin-bottom: .55em;
	}

	ul.footer-menu{

		@media (max-width: $md){
			margin-bottom: 1rem;
		}

		li{
			margin-bottom: 0.25em;

			a{

				&:hover{
					color: $pink;
				}
			}
		}
	}

	ul.footer-botton-menu{
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		li{
			margin-bottom: 0;
			position: relative;
			margin-right: 19px;

			@media (max-width: $md){
				margin-bottom: 4px;
			}

			&:before{
				content: '';
				position: absolute;
				top: 4px;
				bottom: 4px;
				right: -11px;
				width: 1px;
				background-color: $pink;
			}

			&:last-of-type{
				margin-right: 0;

				&:before{
					display: none;
				}
			}

			a{

				&:hover{
					color: $pink;
				}
			}
		}
	}

	.social-links{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		@media (max-width: 343px){
			margin-top: 1.4em;
		}

		a{
			margin: 0 10px 5px;
			position: relative;

			&:hover{

				img{
					opacity: 0;
					visibility: hidden;

					+ img{
						opacity: 1;
						visibility: visible;
					}
				}
			}

			img{
				transition: $time;

				+ img{
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					visibility: hidden;
				}
			}
		}
	}

	.bg-teal{
		
		.w-full{
			
			&:nth-of-type(5){
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				justify-content: space-between;
			}
		}
	}

	.bg-teal-dark{
		background-color: #07384A;
		position: relative;

		*{
			font-size: .9rem;
		}

		.w-full{
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			&:nth-of-type(2){
				justify-content: space-between;
			}
		}

		.copy{
			margin-right: 44px;

			@media (max-width: $md){
				position: absolute;
				top: 1.5rem;
				right: 24px;
				margin-right: 0;
			}

			@media (max-width: 337px){
				top: 47px;
				right: auto;
				left: 24px;
			}
		}

		nav{
			flex: 1 1 auto;

			@media (max-width: $md){
				margin-top: 1.5rem;
			}

			@media (max-width: 337px){
				margin-top: 3rem;
			}
		}
	}
}
