//!!FORM
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
	font-size: 1.25rem;
	color: $white;
}

input:-moz-placeholder,
textarea:-moz-placeholder{
	font-size: 1.25rem;
	color: $white;
}

input::-moz-placeholder,
textarea::-moz-placeholder{
	font-size: 1.25rem;
	color: $white;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder{
	font-size: 1.25rem;
	color: $white;
}

form{
	margin: 0 auto;
	width: auto;
	display: block;
	margin-bottom: 0;

	&:after{
		visibility:hidden;
		display:block;
		font-size:0;
		content:" ";
		clear:both;
		height:0;
	}

	* html &{
		height:1%;
	}
}

$input-bottom-margin: 22px;

input,
input.input-text,
textarea,
select{
	display: block;
	padding: 13px 14px;
	font-size: 1.25rem;
	font-weight: 700;
	color: $white;
	width: 100%;
	max-width: 100%;
	margin-bottom: $input-bottom-margin;
	border: 1px solid $white;
	background-color: transparent;
	border-radius: 0;
	line-height: 20px;
	-webkit-appearance: none;
	box-shadow: none;
}

textarea{
	height: 177px;
	min-height: 177px;
	min-width: 100%;
}

input:focus,
input.input-text:focus,
textarea:focus,
select:focus{
	outline: none;
}

input:focus,
input.input-text:focus,
textarea:focus,
select:focus{
	outline: none;
	transition: color 0.5s ease, background-color 0.5s ease;
}

[type="file"]{
	border: none;
	padding: 0;
}

//
//!!SELECT START
//
select{
	padding-right: 90px;
	appearance: none;
	background-image: url(../images/select-icon.svg);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	line-height: 50px;
	height: 50px;
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;

	&.text-teal{
		background-image: url(../images/select-icon-pink.svg);
		padding-left: 0;
		padding-right: 26px;
		width: auto;
		line-height: 25px;
		height: 25px;
	}

	&::-ms-expand {
		display: none;
	}

	option{
		padding-top: 5px;
		padding-bottom: 5px;
		color: $grey-900;
	}
}
//
//!!SELECT END
//

label{
	display: block;
	font-size: 1.25rem;
	margin-bottom: 22px;
	transition: $time;
	font-weight: 500;
	font-style: italic;
	color: $white;
	text-transform: uppercase;

	.gfield_required{
		display: none;
	}

	+ .small{
		margin-top: -21px;
		margin-bottom: 1.655em;
	}
}

//
//!!RADIO & CHECKBOX START
//

.input-radio,
.input-checkbox{
	position: relative;
	display: inline-block;
	margin-bottom: 5px;

	&:before{
		content: '';
		display: block;
		position: absolute;
	}
}

input[type="radio"],
input[type="checkbox"]{
	display: none;

	& + span,
	& + .wpcf7-list-item-label,
	& + label{
		padding-left: 60px!important;
		position: relative;
		cursor: pointer;
		line-height: 1.3em;
		margin-bottom: 5px;
		font-size: 1.25rem;
		font-style: normal;
		color: $white;
		font-weight: 400;
		text-transform: none;
		min-height: 40px;
		display: inline-flex;
		align-items: center;

		&:before{
			position: absolute;
			content: "";
			width: 40px;
			height: 40px;
			left: 0;
			border-radius: 0;
			background-position: 0% 50%;
			border: 2px solid $grey-900;
			background-color: transparent;
			font-weight: 400;
		}

		&:after{
			position: absolute;
			content: "";
			width: 40px;
			height: 40px;
			line-height: 28.82px;
			text-align: center;
			font-weight: 900;
			left: 0px;
			background-color: transparent;
			opacity: 0;
			transition: $time;
			border-radius: 0px;
			background-image: url(../images/tick.svg);
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}
	}

	&:checked + label,
	&:checked + .wpcf7-list-item-label,
	&:checked + span,
	& + label.checked{
		font-weight: 700;
	}

	&:checked + label:after,
	&:checked + .wpcf7-list-item-label:after,
	&:checked + span:after,
	& + label.checked:after{
		opacity: 1;
	}
}

input[type="radio"]{

	& + .wpcf7-list-item-label,
	& + label{

		&:before,
		&:after{
			border-radius: 18px;
		}
	}
}

//
//!!RADIO & CHECKBOX END
//


