header .site-logo{

	img{
		display: block;
		width: 100%;
	}
}

header{

	.bg-teal{
		position: relative;

		&:after{
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			height: 6px;
			background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%);
			pointer-events: none;

			@media (max-width: $lg){
				z-index: 9999;
			}
		}
	}
}

@import 'burger';

header nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;

	@media (max-width: $lg){
		display: none;
	}

	::-webkit-input-placeholder {
		color: $white;
		font-weight: 500;
		font-size: 1rem;
		line-height: 1.5rem;
	}
	
	:-moz-placeholder { /* Firefox 18- */
		color: $white;
		font-weight: 500;
		font-size: 1rem;
		line-height: 1.5rem;
	}
	
	::-moz-placeholder {  /* Firefox 19+ */
		color: $white;
		font-weight: 500;
		font-size: 1rem;
		line-height: 1.5rem;
	}
	
	:-ms-input-placeholder {
		color: $white;
		font-weight: 500;
		font-size: 1rem;
		line-height: 1.5rem;
	}

	input{
		background-color: transparent;
		color: $white;
		background-image: url(../images/search.svg);
		background-repeat: no-repeat;
		background-position: 0 50%;
		width: 80px;
		padding: 0;
		border: none;
		padding-left: 25px;
		font-weight: 500;
		margin: 0;
		margin-left: 34px;
		font-size: 1rem;
		line-height: 1.5rem;

		&:focus {
			width: 240px;
		}
	}
}

ul.small-menu,
ul.main-menu{
	margin: 0;
	padding: 0;
	font-size: 0;
	display: flex;
	justify-content: center;

	li{
		font-size: 0;
		line-height: 1em;
		text-align: center;
		margin: 0 34px;

		&.has-child{

			> a{
				position: relative;

				&.active:before{
					right: 24px;
				}

				&:after{
					content: '';
					display: block;
					position: absolute;
					top: 100%;
					left: 50%;
					transform: translateX(-50%);
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0px 0px 0 0px;
					border-color: $teal transparent transparent transparent;
					z-index: 11;
					opacity: 0;
					visibility: hidden;
				}	
			}

			&.open{

				> a{
					position: relative;
					z-index: 12;
					background-image: none;

					&:after{
						opacity: 1;
						visibility: visible;
						transition: $time;
						border-width: 20px 20px 0 20px;
					}	
				}

				.sub-menu-big{
					opacity: 1;
					visibility: visible;
					transition: $time;
				}
			}

			> a{
				padding-right: 24px;
				background-image: url(../images/menu-arrow.svg);
				background-repeat: no-repeat;
				background-position: right 1px top 52%;
			}

			.sub-menu-big{
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				z-index: 11;
				text-align: left;
				opacity: 0;
				visibility: hidden;

				.container{
					padding-top: 44px;
					padding-bottom: 58px;
				}

				h6{
					margin-bottom: .5em;
				}

				ul{

					li{
						margin: 0;
						text-align: left;

						a{
							padding: 4.5px 0;
							font-weight: 400;

							&:hover{
								color: $teal;
							}
							
						}
					}
				}
			}
		}

		> a{
			font-size: 1rem;
			width: auto;
			color: $white;
			line-height: 1.5em;
			text-decoration: none!important;
			font-weight: 500;
			position: relative;
			display: inline-block;
			position: relative;
			padding: 28px 0;
			z-index: 2;
			transition: all $time 0s, z-index 0s 0s;

			&:hover{
				color: $pink;
			}

			&.active{
				
				&:before{
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: 25px;
					background-color: $pink;
					height: 2px;
				}

			}
		}
	}

	li.current>a {
		span,
		strong {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $pink;
				margin-top: .5rem;
			}
		}
	}

	.sub-menu-big a.current,
	.sub-menu-small a.current {
		span,
		strong {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $white;
				margin-top: 2px;
			}
		}
	}
}

ul.small-menu{

	li{

		a{

			&:hover{
				color: $pink;
			}
		}

		&:last-of-type{
			margin-right: 0;
		}

		> a{
			color: $teal;
			padding: 18px 0;
		}

		&.has-child{
			position: relative;

			> a{
				position: relative;

				&:after{
					content: '';
					display: block;
					position: absolute;
					top: 100%;
					left: 50%;
					transform: translateX(-50%);
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0px 0px 0 0px;
					border-color: white transparent transparent transparent;
					z-index: 11;
				}	
			}

			&.open{

				> a{
					position: relative;
					z-index: 12;

					&:after{
						opacity: 1;
						visibility: visible;
						border-width: 20px 20px 0 20px;
						transition: $time;
					}	
				}

				.sub-menu-small{
					opacity: 1;
					visibility: visible;
					transition: $time;
				}
			}

			.sub-menu-small{
				position: absolute;
				top: 100%;
				left: -24px;
				right: 0;
				z-index: 11;
				text-align: left;
				padding: 35px 12px 26px 33px;
				width: 280px;
				opacity: 0;
				visibility: hidden;

				@media (max-width: $xl){
					width: 240px;
				}

				a{

					&:hover{
						color: $teal;
					}
				}

				.container{
					padding-top: 44px;
					padding-bottom: 58px;
				}

				h6{
					margin-bottom: .5em;
				}

				ul{

					li{
						margin: 0;
						text-align: left;

						a{
							padding: 4.5px 0;
							font-weight: 700;
							color: white;

						}
					}
				}
			}
		}
	}
}

.mobile-menu-con{
	display: block;
	z-index: 1111;
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	padding-bottom: 5.5em;
	opacity: 0;
	visibility: hidden;

	@media (max-width: $lg){
		
		.menu-open &{
			opacity: 1;
			visibility: visible;
			transition: $time;
		}
	}

	@media (min-width: $lg + 1){
		display: none!important;
	}

	::-webkit-input-placeholder {
		color: $teal;
		font-size: 1.25rem;
		font-weight: 400;
	}
	
	:-moz-placeholder { /* Firefox 18- */
		color: $teal;
		font-size: 1.25rem;
		font-weight: 400;
	}
	
	::-moz-placeholder {  /* Firefox 19+ */
		color: $teal;
		font-size: 1.25rem;
		font-weight: 400;
	}
	
	:-ms-input-placeholder {
		color: $teal;
		font-size: 1.25rem;
		font-weight: 400;
	}

	input{
		background-image: url(../images/search-dark.svg);
		background-repeat: no-repeat;
		background-position: top 50% right 24px;
		background-color: white;
		margin: 0;
		width: 100%;
		font-weight: 400;
		font-size: 1.25rem;
		padding: 18px 50px 18px 24px;
		margin-bottom: .7em;
		color: $teal;
	}

	.mobile-main-menu{

		.mob-sub{
			position: absolute;
			background-color: $pink;
			top: 60px;
			bottom: 0;
			left: 0;
			right: 0;
			padding-top: 21px;
			opacity: 0;
			visibility: hidden;
			transition: $time;

			&.open{
				opacity: 1;
				visibility: visible;
			}

			.back{
				background-image: url(../images/arrow-left.svg);
				background-position: 24px 50%;
				background-repeat: no-repeat;
				padding-left: 43px;
				font-size: 1.02rem;
				cursor: pointer;
			}

			.text-3xl{
				color: white;
				padding: 19px 24px 0px;
				margin-bottom: 0.4em;
			}

			li{

				a{
					padding: 5px 24px;
				}
			}
		}

		li{
			margin-bottom: 0;

			a{
				color: white;
				font-size: 1.5rem;
				font-weight: 700;
				padding: 10px 24px;
				display: block;

				&.arrow{
					padding-right: 30px;
					background-image: url(../images/arrow-right.svg);
					background-repeat: no-repeat;
					background-position: top 43% right 23px;
				}
			}

			ul{

				li{

					a{
						font-size: 1.25rem;
						font-weight: 400;
						padding: 6px 24px;
					}
				}
			}
		}
	}
}