body{

    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        font-weight: 700;
    }
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6{
    margin-bottom: 1em;
}

.text-6xl{
    margin-bottom: .3em;
}

.text-5xl{
    margin-bottom: .4em;

    @media (max-width: $md){
        margin-bottom: .1em;
    }
}

.text-f1,
.text-4xl{
    margin-bottom: .5em;

    @media (max-width: $md){
        margin-bottom: .65em;
    }
}

.text-3xl{
    margin-bottom: 1.25em;

    @media (max-width: $md){
        margin-bottom: .75em;
    }
}

.text-f2,
.text-2xl{
    margin-bottom: .7em;
}

.text-xl{
    margin-bottom: 1em;
}

.text-base,
p{
    margin-bottom: 1em;
}

li{
    margin-bottom: 1em;
}

a{
    transition: $time;
}

.btn-con{

    .btn{
        margin-right: 50px;

        &:last-of-type{
            margin-right: 0;
        }
    }
}

blockquote{

    &:before,
    &:after{
        content: '';
        height: 47px;
        width: 100%;
        display: block;
    }

    &:before{
        background-image: url(../images/quote-start.svg);
        background-repeat: no-repeat;
        background-position: 0 100%;
        margin-bottom: 1em;
    }

    &:after{
        background-image: url(../images/quote-end.svg);
        background-repeat: no-repeat;
        background-position: 100% 0;
        margin-top: 1em;
    }
}

address{
    font-size: 1.25rem;
    font-style: normal;
    line-height: 1.25em;
    margin-bottom: 1.1em;
}