//!!COLOURS

$grey-100: #EBEBEB;
$grey-900: #2A2A2A;
$teal: #114A5F;
$pink: #F76C6C;
$blue: #5FC7C7;
$green: #8BD16E;
$tur: #5FC7C7;

$card_orange: #CB6500;
$card_blue: #2A96B7;
$card_green: #93D300;
$card_red: #AE2D2E;
$card_purple: #B267C8;

$white: #ffffff;
$black: #000000;

//!!SITE TRANSITIONS
$time: .25s;

$sm: 640px; // => @media (min-width: 640px) { ... }
$md: 769px; // => @media (min-width: 768px) { ... }
$lg: 1024px; // => @media (min-width: 1024px) { ... }
$xl: 1416px; // => @media (min-width: 1280px) { ... }