@import 'variables';
@import 'typography';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gotham HTF';
    src: url('../fonts/GothamHTF-Book.woff2') format('woff2'),
        url('../fonts/GothamHTF-Book.woff') format('woff'),
        url('../fonts/GothamHTF-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('../fonts/GothamHTF-Medium.woff2') format('woff2'),
        url('../fonts/GothamHTF-Medium.woff') format('woff'),
        url('../fonts/GothamHTF-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('../fonts/GothamHTF-Bold.woff2') format('woff2'),
        url('../fonts/GothamHTF-Bold.woff') format('woff'),
        url('../fonts/GothamHTF-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/* purgecss start ignore */
@import 'header';
@import 'footer';
@import 'forms';
@import 'slick';
@import 'slick-theme';
@import '../plugins/magnific-popup/magnific';
@import '../components/cms-content';

.waypoint{
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: $time * 3 $time;

    &.animate{
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }

}

.full-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.btn{
    padding: 9px 28px 9px 48px;
    display: inline-block;
    font-weight: 700;
    position: relative;
    background-color: transparent;
    transition: $time;
    z-index: 1;

    @media (max-width: $md){
        padding: 8px 26px 8px 46px;
    }

    &.btn-no-arrow.btn-no-arrow{
        padding: 12px 37px;
        border-radius: 18px;
        display: block;
        font-size: 1.2rem;

        &.bg-white{
            padding: 9px 30px 9px 30px;
            font-size: 1rem;
        }

        @media (min-width: 769px){
            
            &.md\:hidden{
                display: none;
            }
        }

        &:before{
            border-radius: 28px;
        }

        &:after{
            display: none;
        }
    }

    &.btn-full{
        padding-right: 26px;

        &.bg-pink.text-white{

            &:hover{
               
                &:before{
                    background-color: darken($pink, 10%);
                }
            }
        }
        
        &:before{
            width: 100%;
        }

        &:after{
            background-image: url(../images/arrow-down.svg);
        }

        &.right-arrow:after {
            background-image: url(../images/arrow-right.svg);
        }
    }

    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 42px;
        border-radius: 21px;
        transition: $time;
        z-index: -1;

        @media (max-width: $md){
            width: 40px;
        }
    }

    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 42px;
        background-image: url(../images/arrow-right.svg);
        background-repeat: no-repeat;
        background-position: 53% 50%;
    }

    &:hover,
    &:focus{

        &:before{
            width: 100%;
        }
    }

    &.arrow-down{
        &:after{
            background-image: url(../images/arrow-down.svg);
        }
    }

    &.bg-pink{

        &:before{
            background-color: $pink;
        }
    }

    &.bg-teal{

        &:before{
            background-color: $teal;
        }
    }

    &.bg-white{
        
        &.text-tur{

            &:after{
                background-image: url(../images/arrow-right-tur.svg);
            }
        }

        &.arrow-pink{

            &:after{
                background-image: url(../images/arrow-right-pink.svg);
                margin: 12px 0;
            }

        }

        &.btn-external {
            @apply text-teal;

            &::before {
                width: 100%;
            }
            &::after {
                background-image: url(../images/external-link-icon.svg);
                background-size: 20px;
                background-position: 80% 50%;
            }

            &:hover,
            &:focus {
                @apply text-teal;

                &::before {
                    @apply bg-grey-400;
                }
            }
        }

        &:before{
            background-color: $white;
            
        }

        &:hover,
        &:focus{
            color: $pink;
        }

    }

}

.container{

    @media (max-width: 1415px){
        max-width: 100%;
    }

    @media (max-width: $lg){
        padding-right: 24px;
	    padding-left: 24px;
    }
}

body{
    overflow-x: hidden;
}

.hero-section{
    margin-bottom: 5.05rem;

    @media (max-width: $md){
        margin-bottom: 0;

        &.more-margin{
            margin-bottom: 21.3rem;
        }
    }

    &.padded {
        margin-bottom: 0;
        padding-bottom: 5.05rem;

        @media (max-width: $md){
            &.more-margin {
                margin-bottom: 0;
                padding-bottom: 21.3rem;
            }
        }        
    }

    .full-bg{
        position: relative;
        
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            //height: 105.18px;
            //background-image: url(../images/curve-bottom-white.svg);
            height: 515px;
            background-image: url(../images/wave-white.svg);
            background-repeat: no-repeat;
            //bottom: -1px;
            bottom: -85px;
            left: 0;
            right: 0;
            //background-position: 50% 50%;
            background-position: 13% 0;

            @media (min-width: 1920px + 1){
                //background-size: 100% 105.18px;
                background-size: 100% 515px;
            }
        }

        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 190px;
            background-repeat: no-repeat;
            bottom: 0px;
            left: 0;
            right: 0;
            background: linear-gradient(to bottom, rgba(247,108,108,0) 0%, rgba(247,108,108,1) 100%);
        }
    }

    .theme-dark{
        //min-height: 490px; 
        position: relative;
        z-index: 1;

        @media (min-width: $md + 1){
            /*padding: 5.5rem 6.6rem 5rem 5.7rem;*/
            margin-bottom: -2.8rem;

            &.pr-8{
                padding: 2.4rem 4.0rem 2.4rem 5.7rem;
            }
        }

        @media (max-width: $md){
            margin-bottom: 2.6rem;
            padding: 4rem 2.6rem 2.9rem 1.4rem;
            padding: 2.9rem 2.6rem 2.9rem 1.4rem;

            .text-f2{
                margin-bottom: 0;
            }

            &.pr-8{
                margin-bottom: -20.4rem;
                padding: 2.6rem 2.6rem 2.4rem 1.4rem;
                padding: 2.4rem 2.6rem 2.4rem 1.4rem;
            }
        }

        @media (max-width: 361px){
            padding: 1.2rem 0.9rem 1.5rem 0.9rem;
        }
    }

    .container,
    .full-bg{
        height: 505px;

        @media (max-width: $md){
            height: 460px;
        }
        
    }
}

.hero-section-blue{
    margin-bottom: 5.05rem;

    @media (max-width: $md){
        margin-bottom: 0;

        &.more-margin{
            margin-bottom: 21.3rem;
        }
    }

    .full-bg{
        position: relative;
        
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            //height: 105.18px;
            //background-image: url(../images/curve-bottom-blue.svg);
            height: 515px;
            background-image: url(../images/wave.svg);
            background-repeat: no-repeat;
            //bottom: -4px;
            bottom: -85px;
            left: 0;
            right: 0;
            //background-position: 50% 50%;
            background-position: 13% 0;

            @media (min-width: 1920px + 1){
                //background-size: 100% 105.18px;
                background-size: 100% 515px;
            }
        }

        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 190px;
            background-repeat: no-repeat;
            bottom: 0px;
            left: 0;
            right: 0;
            background: linear-gradient(to bottom, rgba(247,108,108,0) 0%, rgba(247,108,108,1) 100%);
        }
    }

    .theme-dark{
        //min-height: 490px; 
        position: relative;
        z-index: 1;
        box-shadow: 0px 10px 10px #0f4153;

        @media (min-width: $md + 1){
            padding: 5.5rem 6.6rem 5rem 5.7rem;
            margin-bottom: -2.8rem;

            &.pr-8{
                padding: 2.4rem 4.0rem 2.4rem 5.7rem;
            }
        }

        @media (max-width: $md){
            margin-bottom: 2.6rem;
            padding: 4rem 2.6rem 2.9rem 1.4rem;
            padding: 2.9rem 2.6rem 2.9rem 1.4rem;

            .text-f2{
                margin-bottom: 0;
            }

            &.pr-8{
                margin-bottom: -20.4rem;
                padding: 2.6rem 2.6rem 2.4rem 1.4rem;
                padding: 2.4rem 2.6rem 2.4rem 1.4rem;
            }
        }

        @media (max-width: 361px){
            padding: 1.2rem 0.9rem 1.5rem 0.9rem;
        }
    }

    .container,
    .full-bg{
        height: 505px;

        @media (max-width: $md){
            height: 460px;
        }
        
    }
}

.breadcrum-section{
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(17,74,95,0.9) 0%, rgba(17,74,95,0) 95%, rgba(17,74,95,0) 100%);
    z-index: 1;

    a{

        &:hover{
            color: $pink;
        }
    }
}

.hero-slide{
    
    @media (max-width: $md){
        padding-bottom: 106px;
        overflow: hidden!important;

        .slick-list{
            overflow: visible;
        }
    }
    
    .container,
    .full-bg{
        height: 865px;

        @media (max-width: $md){
            height: 568px;
        }
    }

    .full-bg{
        
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            //height: 144.1863px;
            //background-image: url(../images/curve-bottom-grey.svg);
            height: 515px;
            background-image: url(../images/wave-grey.svg);
            background-repeat: no-repeat;
            //bottom: -1px;
            bottom: -85px;
            left: 0;
            right: 0;
            //background-position: 50% 0;
            background-position: 13% 0;

            @media (max-width: $md) {
                bottom: -107px;
            }

            @media (min-width: 1920px + 1){
                //background-size: 100% 144.1863px;
                background-size: 100% 515px;
            }
        }

        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 190px;
            background-repeat: no-repeat;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(to bottom, rgba(247,108,108,0) 0%, rgba(247,108,108,1) 100%);
        }
    }

    .theme-dark{
        min-height: 490px; 
        position: relative;
        z-index: 1;

        @media (min-width: $md + 1){
            padding: 3.5rem 3.5rem 5rem 3.5rem;
        }

        @media (min-width: $lg + 1){
            padding: 3.5rem 6.6rem 5rem 5.7rem;
        }

        @media (max-width: $md){
            min-height: 360px;
            padding: 2.5rem 1rem 5.5rem 1.5rem;
            margin-bottom: -202px;
        }
    }

    .btn{
        margin-top: 1.45em;

        @media (max-width: $md){
            margin-top: .9em;
        }
    }

    .slick-dots{ 
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: $md + 1){
            width: 50%;
            left: 0;
            transform: none;
            padding-left: calc((100vw - 1416px + 40px) / 2 + 5.7rem);
            padding-right: 6.6rem;
            bottom: 9rem;  
        }

        @media (max-width: 1416px){
            padding-left: 107px;
        }

        @media (max-width: $md){
            bottom: 2.8rem; 
            width: calc(100% - 38px - 38px);
            left: 51.2%;
            padding-left: 0;
        }

        li{
            flex: 1 1 auto;
            height: 10px;

            button{
                width: 100%;
                height: 10px;
                border-radius: 0;
            }
        }
    
    }
}

.share{

    a{
        position: relative;

        &:hover{

            img{
                opacity: 0;
                visibility: hidden;

                + img{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        img{
            transition: $time;

            + img{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

.card{
    position: relative;

    .over{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    &.transform{
        transition: $time;

        .bottom{
            transition: $time;
        }

        &:hover{
            transform: scale(1.04);

            .bottom{
                transform: scale(.96);
                position: relative;
                z-index: 1;
                pointer-events: none;

                a{
                    pointer-events: auto;
                }
            }
        }
    }
}

.cat-links{
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-wrap: wrap;

    // @media (max-width: $md){
    //     padding-bottom: 2.7em;
    // }

    a{
        padding: 7px 10px 7px 26px;
        position: relative;
        font-size: 0.9em;
        margin-right: .75em;
        z-index: 2;
        margin-bottom: .75em;
        display: inline-block;

        @media (max-width: $md){
            padding: 4.5px 10px 4.5px 26px;
            // margin-right: .4em;
        }
        
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 10px;
            width: 7px;
            height: 7px;
            border-radius: 1em;
            transform: translateY(-50%);
            background-image: url(../images/dot.svg);
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }

    &.condensed {
        a {
            margin-right: .5em;
        }
    }
}

.insights-section{
    
    .insights-section-quote{
        float: left;
        padding-right: 5px;
    }

}

.wave-section{
    background: linear-gradient(to bottom, rgba(203,101,0,1) 0%, rgba(172,61,4,1) 100%);
    padding-top: 5em;
    padding-bottom: 6em;
    position: relative;

    @media (max-width: $md){
        padding-top: 2.5em;
        padding-bottom: 1.4em;
    }

    &:after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 515px;
        background-position: 0 100%;
        background-image: url(../images/wave.svg);
        background-repeat: no-repeat;
        pointer-events: none;
        background-position: 13% 0;

        @media (min-width: 1920px + 1){
            background-size: 100% 515px;
        }
    }

    &.bg-card-orange {
        background: $card_orange;
    }
    &.bg-card-blue {
        background: $card_blue;
    }
    &.bg-card-green {
        background: $card_green;
    }
    &.bg-card-red {
        background: $card_red;
    }
    &.bg-card-purple {
        background: $card_purple;
    }
    &.bg-pink {
        background: $pink;
    }

    .text-4xl{
        margin-bottom: .9em;
    }

    .text-2xl{
        margin-bottom: .85em;
    }

    .btn{
        margin-top: .6em;
    }

    .order-2{

        @media (max-width: $md){
            margin-bottom: 3rem;
            margin-top: 1.2rem;
            margin-left: -1rem;
            margin-right: -1rem;
            width: calc(100% + 1em + 1em);
            
        }
    }
}

.tab-section{
    background: linear-gradient(to bottom, rgba(203,101,0,1) 0%, rgba(172,61,4,1) 100%);
    padding-top: 5em;
    padding-bottom: 6em;
    position: relative;

    @media (max-width: $md){
        padding-top: 2.5em;
        padding-bottom: 1.4em;
    }

    &:after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 515px;
        background-position: 0 100%;
        background-image: url(../images/wave.svg);
        background-repeat: no-repeat;
        pointer-events: none;
        background-position: 13% 0;

        @media (min-width: 1920px + 1){
            background-size: 100% 515px;
        }
    }

    .text-4xl{
        margin-bottom: .9em;
    }

    .text-2xl{
        margin-bottom: .85em;
    }

    .btn{
        margin-top: .6em;
    }

    .order-2{

        @media (max-width: $md){
            margin-bottom: 3rem;
            margin-top: 1.2rem;
            margin-left: -1rem;
            margin-right: -1rem;
            width: calc(100% + 1em + 1em);
            
        }
    }
}

@media (max-width: $md){
    
    .wave-section + .our-expertise-section{
        margin-top: -4.5em;
        z-index: 1;
        position: relative;
    }
}

.our-expertise-section{
    background-image: url(../images/angled-shape-bg.svg);
    background-repeat: no-repeat;
    background-position: 0 100%;

    @media (max-width: $md){
        background-position: -500px 100%;
    }

    .text-4xl{
        margin-bottom: .7em;

        @media (max-width: $md){
            margin-bottom: 1em;
        }
    }

    &.pb-28{

        @media (min-width: $lg + 1){
            padding-bottom: 7.6em;
        }
    }

    .container{
        
        @media (min-width: $lg + 1){
            max-width: 1490px;
        }
    }

    .icon-con{
        margin: 0 auto 1.85em;
        width: 216px;
        height: 216px;
        border-radius: 216px;

        @media (max-width: $xl){
            width: 166px;
            height: 166px;
            padding: 2em;
           
        }
    }

    .w-full.text-center.flex{

        @media (max-width: $xl){
            overflow: auto;
            width: $xl;
            margin-left: -20px;
            margin-right: -20px;

        }

        @media (max-width: $lg){
            margin-left: -24px;
            margin-right: -24px;
        }
    }

    a.text-center{
        
        .icon-con{
            transition: $time;

            *{
                transition: $time;
            }
        }

        .text-3xl{
            display: inline-block;
            position: relative;

            &:after{
                content: '';
                position: absolute;
                top: calc(100% + 6px);
                height: 3px;
                left: 50%;
                width: 100%;
                background-color: $pink;
                transform: translateX(-50%);
                opacity: 0;
                visibility: hidden;
                max-width: 0;
                transition: $time;
            }
        }

        &:hover{

            .icon-con{
                background-color: $pink;

                path{
                    fill: white;
                }
            }

            .text-3xl{

                &:after{
                    opacity: 1;
                    visibility: visible;
                    max-width: 100%;
                }
            }
        }
    }
}

.our-people-section{

    .text-4xl{
        margin-bottom: .7em;

        @media (max-width: $md){
            margin-bottom: 1em; 
        }
    }

    .img-con{
        position: relative;

        &:before,
        &:after{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 200px;
        }

        &:before{
            left: 0;
            background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        }

        &:after{
            right: 0;
            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        }

        img{
            object-fit: cover;
            height: 218px;
            width: 100%;

            @media (min-width: 1920px + 1){
                height: auto;
            }
        }
    }
}

.working-section{
    min-height: 600px;

    @media (max-width: $md){
        min-height: 0;
        background-image: none!important;
    }

    .-mt-16{
        margin-left: -24px;
        margin-right: -24px;
        width: calc(100% + 24px + 24px);
        max-width: calc(100% + 24px + 24px);
        height: 390px;
        object-fit: cover;
        object-position: 10% 50%;
    }

    .flex{
        min-height: calc(600px - 4rem - 4rem);

        @media (max-width: $md){
            min-height: 0;
        }
    }

    .text-4xl{
        margin-bottom: .75em;

        @media (max-width: $md){
            margin-bottom: 1em;
        }
    }

    .btn-con{

        @media (max-width: $lg){

            .btn + .btn{
                margin-top: 1.5em;
            }
        }
    }
}

.locations-section{

    .map-con{
        position: relative;
        
        @media (max-width: $md){
            width: calc(100% + 24px + 24px);
            max-width: calc(100% + 24px + 24px);
            margin-left: -24px;
            margin-right: -24px;
            
        }
        
        img{
            width: 100%;

           
        }
        

        .pin{
            position: absolute;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background-color: $pink;
            border: 1px solid $white;

            @media (max-width: $md){
                width: 10px;
                height: 10px;
            }

            &:not(.active){
                cursor: pointer;
            }

            &:hover,
            &.active{
                background-color: $white;
            }

            /*
            &[data-pin="1"]{
                top: 51.5%;
                left: 63%;
            }

            &[data-pin="2"]{
                top: 23.6%;
	            left: 51.2%;
            }

            &[data-pin="3"]{
                top: 31.9%;
                left: 68.8%;
            }

            &[data-pin="4"]{
                top: 38.7%;
                left: 35.8%;
            }

            &[data-pin="5"]{
                top: 51.5%;
	            left: 65.7%;
            }

            &[data-pin="6"]{
                top: 54.2%;
	            left: 65.7%;
            }

            &[data-pin="7"]{
                top: 54.9%;
                left: 60.7%;
            }

            &[data-pin="8"]{
                top: 69.9%;
	            left: 71.1%;
            }

            &[data-pin="9"]{
                top: 78.9%;
                left: 82.7%;
            }

            &[data-pin="10"]{
                top: 81.5%;
	            left: 61.9%;
            }

            &[data-pin="11"]{
                top: 87.3%;
                left: 71.2%;
            }
            */

        }
    }

    .text-4xl{
        margin-bottom: 1em;

        @media (max-width: $md){
            margin-bottom: 1.3em;
        }
    }

    select{
        width: auto;
        margin-bottom: 2em;
    }

    .text-3xl{
        margin-bottom: .35em;
    }

    a:not(.btn){
        font-size: 1.25rem;
        line-height: 1.2em;
    }

    .btn{
        margin-top: 2.2em;
    }

    .mt-1{
        margin-top: 1em;
    }

    .location{
        display: none;

        &.active{
            display: block;
        }
    }
}

.buttons-section,
.content-section{

    .container{
        max-width: 952px;
    }

    .wide-container{
        max-width: 1416px;

        /*img{
            height: 350px;
            position: relative;
            bottom: 40px;
        }*/
        .image-shift {
            position: relative;
            bottom: 40px;
        }
    }

    .text-4xl, .text-2rem{
        margin-bottom: 1em;
    }

    .text-3xl{
        margin-bottom: .9em;

        @media (max-width: $md){
            margin-bottom: 1.4em;
        }

    }

    .video{
        margin: 40px 0;
    
        img{
            width: 100px;
            margin: auto;
            padding: 200px 0;
            transition: all .2s ease-in-out;
        }

        &:hover{
            cursor: pointer;

            img{
                transform: scale(1.1);
            }
        }
    }

    .image{
        margin: 40px 0;
        padding: 250px;
    }

    p{
        margin-bottom: 1em;
    }

    a{
        h5{
            margin-bottom: 0;
        }
    }

    .over{
        margin-bottom: -230px;

        @media (max-width: $md){
            margin-bottom: -340px;
        }
    }

    .over-bottom.full-bg{
        height: 300px;

        @media (max-width: $md){
            height: 390px;
        }
    }
}

.key-contacts-section, .employee-benefits-section{
    background-image: url(../images/angled-left.svg), url(../images/angled-right.svg);
    background-repeat: no-repeat;
    background-position: 0 100%, 100% 0;

    @media (max-width: $md){
        background-size: 285px auto, 275px auto;
    }


    .slick-slide{

        &:hover{

            img{
                transform: scale(1.1);
            }
        }

        img{
            transition: $time;
            transform: scale(1);
        }
    }
}

.awards-section{
    background-image: url(../images/angled-left.svg), url(../images/angled-right.svg);
    background-repeat: no-repeat;
    background-position: 0 100%, 100% 0;

    @media (max-width: $md){
        background-size: 285px auto, 275px auto;
    }
}

.our-people-list-section{

    a.w-6\/12{
       
        &:hover{

            img{
                transform: scale(1.1);
            }
        }

        img{
            transition: $time;
            transform: scale(1);
        }
    }
}

aside{

    @media (max-width: $md){

        .wrap{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 100vh;
            z-index: 11111;
            background-color: white;
            padding-left: 24px;
            padding-right: 24px;
            opacity: 0;
            visibility: hidden;

            &.open{
                opacity: 1;
                visibility: visible;
                transition: $time;
            }

            .inner{
                overflow: auto;
                max-height: calc(100vh - 140px);
            }
        }


    }

    .title{
        margin-left: -24px;
        margin-right: -24px;
        padding: 24px 59px 24px 24px; 
        position: relative;
        margin-bottom: 1em;

        .close{
            background-image: url(../images/close.svg);
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 24px;
            width: 32px;
            height: 32px;
        }

    }
       
    input[type="radio"],
    input[type="checkbox"]{
        display: none;
    
        & + span,
        & + .wpcf7-list-item-label,
        & + label{
            color: $grey-900;
        }
    }
    
    .view{
        overflow: hidden;
        max-height: 395px;
        transition: $time;
        margin-bottom: 1.2em;

        &.open{
            max-height: 9999px!important;
            transition: $time * 4;
        }

        &.insights-larger {
            max-height: 487px;
        }
    }

    .show-all{
        font-weight: 700;
        padding-right: 31px;
        position: relative;
        display: inline-block;
        font-size: 1.25rem;
        cursor: pointer;
        margin-bottom: 2.2em;

        &.open.open{

            &:after{
                transform: translateY(-50%) rotate(0deg);
            }
        }

        &:after,
        &:before{
            content: '';
            width: 20px;
            height: 3px;
            position: absolute;
            right: 0;
            top: 50%;
            transition: $time;
            background-color: $pink;
        }

        &:after{
            transform: translateY(-50%) rotate(90deg);
        }

        &:before{
            transform: translateY(-50%);
        }
    }
}

.person-section{

    .container{
        max-width: 1370px;
    }
}

@media (max-width: 361px){
    
    .px-14.py-12{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.opportunities-section{



}




// -------------------------------------------------------------------------//
// -------------------------------------------------------------------------//
// ---------------------- extra tailwind styles ----------------------------//
// -------------------------------------------------------------------------//
// -------------------------------------------------------------------------//




.bg-grey-200{
    background-color: #E5E7EB;
}

.m-10{
    margin: 2.5rem;
}

.w-3\/4{
    width: 75%;
}

.ml-10{
    margin-left: 2.5rem;
}

.py-20{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.pr-10{
    padding-right: 2.5rem;
}

.my-30{
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
}

.mb-20{
    margin-bottom: 5rem;
}

.accordion-card {
    .accordion-card-toggle {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: inherit;
            padding-bottom: 40px;
            display: block;
        }
    }

    .accordion-card-content {
        h2, h3, h4, h5, h6 {
            @apply text-3xl mb-4;
        }

        .card-content {
            h2, h3, h4, h5, h6 {
                font-size: 2.25rem;
                @apply font-normal mb-12;

                @media (max-width: $md) {
                    font-size: 1.75rem;
                    @apply mb-6;
                }
            }
        }

        ul {
            li::before {
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-top: 6px;
                margin-right: 12px;
                border-radius: 100%;
                vertical-align: top;
                @apply bg-white;
            }
        }

        blockquote {
            @apply mt-4;
        }

        &.bg-card-orange ul li::before {
            background-color: $card_orange;
        }
        &.bg-card-blue ul li::before {
            background-color: $card_blue;
        }
        &.bg-card-green ul li::before {
            background-color: $card_green;
        }
        &.bg-card-red ul li::before {
            background-color: $card_red;
        }
        &.bg-card-purple ul li::before {
            background-color: $card_purple;
        }
        &.bg-pink ul li::before {
            background-color: $pink;
        }
    }

    &.none-under .accordion-card-toggle::after {
        display: none;
    }

    &.open + .accordion-card {
        @apply -mt-8;
    }

    .accordion-wave {
        position: relative;

        &::after {
            content: "";
            pointer-events: none;
            background-repeat: no-repeat;
            background-position: 13% 0;
            background-image: url(../images/wave.svg);
            position: absolute;
            left: 0;
            right: 0;
            bottom: -1px;
            height: 440px;
        }
    }
}

.values-wrapper {
    .values-line-wrapper {
        .values-line {
            width: 10px;
        }
        .values-circle {
            border-width: 10px;
        }
    }

    .value .content,
    .summary .content {
        h2, h3, h4, h5, h6 {
            @apply text-2xl text-teal mb-4;
        }

        p {
            @apply mb-4;
        }

        @media (min-width: $md) {
            h2, h3, h4, h5, h6 {
                @apply text-3xl mb-4;
            }   
        }
    }

    .summary {
        border-width: 10px;
    }
}

.jobs-iframe {
    max-height: 1750px;

    @media (min-width: $sm) {
        max-height: 1610px;
    }
    @media (min-width: $md) {
        max-height: 1690px;
    }
    @media (min-width: $lg) {
        max-height: 1630px;
    }
    @media (min-width: $xl) {
        max-height: 1100px;
    }
}
/* purgecss end ignore */