
@if map-get($includes, include-background) {


  // Background
  // -------------------------

  .transparent,
  .background-transparent {
    background-color: transparent !important;
  }
  .background-none.background-none.background-none {
    background: none !important;
  }
  .background-image-none {
    background-image: none !important;
  }
  .background-repeat {
    background-repeat: repeat !important;
  }
  .background-no-repeat {
    background-repeat: no-repeat !important;
  }
  .background-cover {
    background-size: cover !important;
    background-repeat: no-repeat;
  }
  .background-contain {
    background-size: contain !important;
    background-repeat: no-repeat;
  }

  .background-center {
    background-position: center center !important;
  }
  .background-center-top {
    background-position: center top !important;
  }
  .background-center-bottom {
    background-position: center bottom !important;
  }

  .background-left-center {
    background-position: left center !important;
  }
  .background-left-top {
    background-position: left top !important;
  }
  .background-left-bottom{
    background-position: left bottom !important;
  }

  .background-right-center {
    background-position: right center !important;
  }
  .background-right-top {
    background-position: right top !important;
  }
  .background-right-bottom {
    background-position: right bottom !important;
  }

}
