.border-none { border: 0 !important; }

.border-transparent.border-transparent.border-transparent {
  border-color: transparent !important;
}

@if map-get($includes, include-border-zero)  {

  @include box-model-loop($class-prefix: 'border', $class-suffix: '0', $property: 'border', $property_value: 0);

}

@if
map-get($includes, include-border)
or map-get($includes, include-border-responsive) {

  //legacy
  .border {
    border: 1px solid !important;
  }
  @each $i in $size-list-border {
    @include box-model-loop($class-prefix: 'border', $class-suffix: #{$i}, $property: 'border', $property_value: #{$i}px solid);
  }

  @if map-get($includes, include-border-responsive) {

    @media #{$small-only} {
      .border-t0-small-only { border-top: 0 !important; }
      .border-b0-small-only { border-bottom: 0 !important; }
      .border-l0-small-only { border-left: 0 !important; }
      .border-r0-small-only { border-right: 0 !important; }
      .border-x0-small-only {
        border-left: 0 !important;
        border-right: 0 !important;
      }
      .border-y0-small-only {
        border-top: 0 !important;
        border-bottom: 0 !important;
      }
    }

    @media #{$medium-only} {
      .border-t0-medium-only { border-top: 0 !important; }
      .border-b0-medium-only { border-bottom: 0 !important; }
      .border-l0-medium-only { border-left: 0 !important; }
      .border-r0-medium-only { border-right: 0 !important; }
      .border-x0-medium-only {
        border-left: 0 !important;
        border-right: 0 !important;
      }
      .border-y0-medium-only {
        border-top: 0 !important;
        border-bottom: 0 !important;
      }
    }
    @media #{$medium-up} {
      .border-t0-medium-up { border-top: 0 !important; }
      .border-b0-medium-up { border-bottom: 0 !important; }
      .border-l0-medium-up { border-left: 0 !important; }
      .border-r0-medium-up { border-right: 0 !important; }
      .border-x0-medium-up {
        border-left: 0 !important;
        border-right: 0 !important;
      }
      .border-y0-medium-up {
        border-top: 0 !important;
        border-bottom: 0 !important;
      }
    }

    @media #{$large-only} {
      .border-t0-large-only { border-top: 0 !important; }
      .border-b0-large-only { border-bottom: 0 !important; }
      .border-l0-large-only { border-left: 0 !important; }
      .border-r0-large-only { border-right: 0 !important; }
      .border-x0-large-only {
        border-left: 0 !important;
        border-right: 0 !important;
      }
      .border-y0-large-only {
        border-top: 0 !important;
        border-bottom: 0 !important;
      }
    }
    @media #{$large-up} {
      .border-t0-large-up { border-top: 0 !important; }
      .border-b0-large-up { border-bottom: 0 !important; }
      .border-l0-large-up { border-left: 0 !important; }
      .border-r0-large-up { border-right: 0 !important; }
      .border-x0-large-up {
        border-left: 0 !important;
        border-right: 0 !important;
      }
      .border-y0-large-up {
        border-top: 0 !important;
        border-bottom: 0 !important;
      }
    }

    @if $include-xl-html-grid-classes == true {

      @media #{$xlarge-only} {
        .border-t0-xlarge-only { border-top: 0 !important; }
        .border-b0-xlarge-only { border-bottom: 0 !important; }
        .border-l0-xlarge-only { border-left: 0 !important; }
        .border-r0-xlarge-only { border-right: 0 !important; }
        .border-x0-xlarge-only {
          border-left: 0 !important;
          border-right: 0 !important;
        }
        .border-y0-xlarge-only {
          border-top: 0 !important;
          border-bottom: 0 !important;
        }
      }

      @media #{$xlarge-up} {
        .border-t0-xlarge-up { border-top: 0 !important; }
        .border-b0-xlarge-up { border-bottom: 0 !important; }
        .border-l0-xlarge-up { border-left: 0 !important; }
        .border-r0-xlarge-up { border-right: 0 !important; }
        .border-x0-xlarge-up {
          border-left: 0 !important;
          border-right: 0 !important;
        }
        .border-y0-xlarge-up {
          border-top: 0 !important;
          border-bottom: 0 !important;
        }
      }

    }

  }


}
