
// Common Styles
// -------------------------

.simple-list {
  margin-left: 0;

  > li { list-style: none }
}

.simple-link {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
    color: inherit;
  }
}

.simple-input {
  box-shadow: 0 !important;
  @include border-radius(0);
}

.inline-list {
  margin: 0;

  > li {
    display: inline-block;
    margin: 0;
    float: none;
  }
}

.inline-list-center {
  text-align: center;
  margin: rem-calc(0 0 20 0);

  > li {
    display: inline-block;
    margin: rem-calc(0 10);
    float: none;
  }
}

span.error {
  padding: rem-calc(6 10);
}

.panel {
  border: none;
}

