// Cursor
// -------------------------

.pointer-none,
.pointer-events-none {
  pointer-events: none !important;
}

.pointer-events-auto {
  pointer-events: auto !important;
}

.user-select-none,
.noselect {
  user-select: none !important;
}

.cursor-auto {
  cursor: auto !important;
}

.cursor-default {
  cursor: default !important;
}

.cursor-initial {
  cursor: initial !important;
}

.cursor-pointer,
.pointer {
  cursor: pointer !important;
}


@if map-get($includes, include-cursors) {

  .cursor-text {
    cursor: text !important;
  }

  .cursor-help {
    cursor: help !important;
  }

  .cursor-move {
    cursor: move !important;
  }

  .cursor-grab {
    cursor: -webkit-grab !important;
    cursor: -moz-grab !important;
    cursor: grab !important;

    &:active {
      cursor: grab !important;
      cursor: -webkit-grabbing !important;
      cursor: -moz-grabbing !important;
    }
  }

  .cursor-disallowed,
  .cursor-not-allowed {
    cursor: not-allowed !important;
  }

  .cursor-progress {
    cursor: progress !important;
  }

  .cursor-wait {
    cursor: wait !important;
  }


}