

.outline-none {
  outline: none !important;
}

.content-box {
  box-sizing: content-box !important;
}

.border-box {
  box-sizing: border-box !important;
}


.resize-vertical {
  resize: vertical;
}



// ---------------------
//  DISPLAY
//----------------------

.block { display: block !important; }
.inline-block { display: inline-block !important; }
.inline { display: inline !important; }
.none { display: none !important; }


// --------------------------
//  DISPLAY AS... (RESPONSIVE)
// --------------------------

@if map-get($includes, include-display-responsive) {

  @media #{$small-only}{
    .block-small-only { display: block !important; }
    .inline-block-small-only { display: inline-block !important; }
    .inline-small-only { display: inline !important; }
  }

  @media #{$medium-up}{
    .block-medium-up { display: block !important; }
    .inline-block-medium-up { display: inline-block !important; }
    .inline-medium-up { display: inline !important; }
  }

  @media #{$medium-only}{
    .block-medium-only { display: block !important; }
    .inline-block-medium-only { display: inline-block !important; }
    .inline-medium-only { display: inline !important; }
  }

  @media #{$large-up}{
    .block-large-up { display: block !important; }
    .inline-block-large-up { display: inline-block !important; }
    .inline-large-up { display: inline !important; }
  }

  @media #{$large-only}{
    .block-large-only { display: block !important; }
    .inline-block-large-only { display: inline-block !important; }
    .inline-large-only { display: inline !important; }
  }

  @if $include-xl-html-grid-classes == true {

    @media #{$xlarge-up}{
      .block-xlarge-up { display: block !important; }
      .inline-block-xlarge-up { display: inline-block !important; }
      .inline-xlarge-up { display: inline !important; }
    }

    @media #{$xlarge-only}{
      .block-xlarge-only { display: block !important; }
      .inline-block-xlarge-only { display: inline-block !important; }
      .inline-xlarge-only { display: inline !important; }
    }

  }


}


@if map-get($includes, include-child-display) {
  .child-block * {
    display: block !important;
  }
  .child-inline-block * {
    display: inline-block !important;
  }
  .child-inline * {
    display: inline !important;
  }
  .child-none * {
    display: none !important;
  }
}
@if map-get($includes, include-child-display-responsive) {

  @media #{$small-only}{
    .child-block-small-only * { display: block !important; }
    .child-inline-block-small-only * { display: inline-block !important; }
    .child-inline-small-only * { display: inline !important; }
    .child-none-small-only * { display: none !important; }
  }

  @media #{$medium-up}{
    .child-block-medium-up * { display: block !important; }
    .child-inline-block-medium-up * { display: inline-block !important; }
    .child-inline-medium-up * { display: inline !important; }
    .child-none-medium-up * { display: none !important; }
  }

  @media #{$medium-only}{
    .child-block-medium-only * { display: block !important; }
    .child-inline-block-medium-only * { display: inline-block !important; }
    .child-inline-medium-only * { display: inline !important; }
    .child-none-medium-only * { display: none !important; }
  }

  @media #{$large-up}{
    .child-block-large-up * { display: block !important; }
    .child-inline-block-large-up * { display: inline-block !important; }
    .child-inline-large-up * { display: inline !important; }
    .child-none-large-up * { display: none !important; }
  }

  @media #{$large-only}{
    .child-block-large-only * { display: block !important; }
    .child-inline-block-large-only * { display: inline-block !important; }
    .child-inline-large-only * { display: inline !important; }
    .child-none-large-only * { display: none !important; }
  }

  @if $include-xl-html-grid-classes == true {

    @media #{$xlarge-up}{
      .child-block-xlarge-up * { display: block !important; }
      .child-inline-block-xlarge-up * { display: inline-block !important; }
      .child-inline-xlarge-up * { display: inline !important; }
      .child-none-xlarge-up * { display: none !important; }
    }

    @media #{$xlarge-only}{
      .child-block-xlarge-only * { display: block !important; }
      .child-inline-block-xlarge-only * { display: inline-block !important; }
      .child-inline-xlarge-only * { display: inline !important; }
      .child-none-xlarge-only * { display: none !important; }
    }

  }


}



// ---------------------
//  screen reader / accessibility extension
//----------------------


.hidden,
//.visuallyhidden,
.visually-hidden,
.honeypot {
  //position: absolute !important;
  //overflow: hidden;
  //height: 1px;
  //width: 1px;
  ////clip: rect(1px, 1px, 1px, 1px);
  //clip: rect(0 0 0 0);
  //margin: -1px;
  //padding: 0;
  //border: 0;
  @include visually-hidden();

}

@if map-get($includes, include-visibility-responsive ) {

  .visible-small-only ,
  .visible-medium-only ,
  .visible-medium-up ,
  .visible-large-only ,
  .visible-large-up {
    @include visually-hidden();
  }

  @if $include-xl-html-grid-classes == true {
    @media #{$xlarge-up} {
      .visible-xlarge-up { @include visually-hidden(); }
    }
  }

  // responsive position
  @media #{$small-only} {
    .visually-hidden-small-only { @include visually-hidden(); }
    .visible-small-only.visible-small-only { @include reverse-visually-hidden(); }
  }

  @media #{$medium-only} {
    .visually-hidden-medium-only { @include visually-hidden(); }
    .visible-medium-only.visible-medium-only { @include reverse-visually-hidden(); }
  }

  @media #{$medium-up} {
    .visually-hidden-medium-up { @include visually-hidden(); }
    .visible-medium-up.visible-medium-up { @include reverse-visually-hidden(); }
  }

  @media #{$large-only} {
    .visually-hidden-large-only { @include visually-hidden(); }
    .visible-large-only.visible-large-only { @include reverse-visually-hidden(); }
  }

  @media #{$large-up} {
    .visually-hidden-large-up { @include visually-hidden(); }
    .visible-large-up.visible-large-up { @include reverse-visually-hidden(); }
  }

  @if $include-xl-html-grid-classes == true {

    @media #{$xlarge-up} {
      .visually-hidden-xlarge-up { @include visually-hidden(); }
      .visible-xlarge-up.visible-xlarge-up { @include reverse-visually-hidden(); }
    }

  }
}





// ---------------------
//  POSITION
//----------------------

.relative { position: relative !important }
.absolute { position: absolute !important }
.static { position: static !important }
.fixed { position: fixed !important }

.top-0 { top: 0 !important }
.bottom-0 { bottom: 0 !important }
.left-0 { left: 0 !important }
.right-0 { right: 0 !important }

.top-100 { top: 100% !important }
.bottom-100 { bottom: 100% !important }
.left-100 { left: 100% !important }
.right-100 { right: 100% !important }

.top-50 { top: 50% !important }
.bottom-50 { bottom: 50% !important }
.left-50 { left: 50% !important }
.right-50 { right: 50% !important }

.top-auto { top: auto !important }
.bottom-auto { bottom: auto !important }
.left-auto { left: auto !important }
.right-auto { right: auto !important }


@if map-get($includes, include-position-responsive ) {

  // responsive position
  @media #{$small-only} {
    .relative-small-only { position: relative !important }
    .absolute-small-only { position: absolute !important }
    .static-small-only { position: static !important }
    .fixed-small-only { position: fixed !important }

    .top-0-small-only { top: 0 !important }
    .bottom-0-small-only { bottom: 0 !important }
    .left-0-small-only { left: 0 !important }
    .right-0-small-only { right: 0 !important }

    .top-100-small-only { top: 100% !important }
    .bottom-100-small-only { bottom: 100% !important }
    .left-100-small-only { left: 100% !important }
    .right-100-small-only { right: 100% !important }

    .top-50-small-only { top: 50% !important }
    .bottom-50-small-only { bottom: 50% !important }
    .left-50-small-only { left: 50% !important }
    .right-50-small-only { right: 50% !important }

    .top-auto-small-only { top: auto !important }
    .bottom-auto-small-only { bottom: auto !important }
    .left-auto-small-only { left: auto !important }
    .right-auto-small-only { right: auto !important }
  }

  @media #{$medium-only} {
    .relative-medium-only { position: relative !important }
    .absolute-medium-only { position: absolute !important }
    .static-medium-only { position: static !important }
    .fixed-medium-only { position: fixed !important }

    .top-0-medium-only { top: 0 !important }
    .bottom-0-medium-only { bottom: 0 !important }
    .left-0-medium-only { left: 0 !important }
    .right-0-medium-only { right: 0 !important }

    .top-100-medium-only { top: 100% !important }
    .bottom-100-medium-only { bottom: 100% !important }
    .left-100-medium-only { left: 100% !important }
    .right-100-medium-only { right: 100% !important }

    .top-50-medium-only { top: 50% !important }
    .bottom-50-medium-only { bottom: 50% !important }
    .left-50-medium-only { left: 50% !important }
    .right-50-medium-only { right: 50% !important }

    .top-auto-medium-only { top: auto !important }
    .bottom-auto-medium-only { bottom: auto !important }
    .left-auto-medium-only { left: auto !important }
    .right-auto-medium-only { right: auto !important }
  }

  @media #{$medium-up} {
    .relative-medium-up { position: relative !important }
    .absolute-medium-up { position: absolute !important }
    .static-medium-up { position: static !important }
    .fixed-medium-up { position: fixed !important }

    .top-0-medium-up { top: 0 !important }
    .bottom-0-medium-up { bottom: 0 !important }
    .left-0-medium-up { left: 0 !important }
    .right-0-medium-up { right: 0 !important }

    .top-100-medium-up { top: 100% !important }
    .bottom-100-medium-up { bottom: 100% !important }
    .left-100-medium-up { left: 100% !important }
    .right-100-medium-up { right: 100% !important }

    .top-50-medium-up { top: 50% !important }
    .bottom-50-medium-up { bottom: 50% !important }
    .left-50-medium-up { left: 50% !important }
    .right-50-medium-up { right: 50% !important }

    .top-auto-medium-up { top: auto !important }
    .bottom-auto-medium-up { bottom: auto !important }
    .left-auto-medium-up { left: auto !important }
    .right-auto-medium-up { right: auto !important }
  }

  @media #{$large-only} {
    .relative-large-only { position: relative !important }
    .absolute-large-only { position: absolute !important }
    .static-large-only { position: static !important }
    .fixed-large-only { position: fixed !important }

    .top-0-large-only { top: 0 !important }
    .bottom-0-large-only { bottom: 0 !important }
    .left-0-large-only { left: 0 !important }
    .right-0-large-only { right: 0 !important }

    .top-50-large-only { top: 100% !important }
    .bottom-100-large-only { bottom: 100% !important }
    .left-100-large-only { left: 100% !important }
    .right-100-large-only { right: 100% !important }

    .top-50-large-only { top: 50% !important }
    .bottom-50-large-only { bottom: 50% !important }
    .left-50-large-only { left: 50% !important }
    .right-50-large-only { right: 50% !important }

    .top-auto-large-only { top: auto !important }
    .bottom-auto-large-only { bottom: auto !important }
    .left-auto-large-only { left: auto !important }
    .right-auto-large-only { right: auto !important }
  }
  @media #{$large-up} {
    .relative-large-up { position: relative !important }
    .absolute-large-up { position: absolute !important }
    .static-large-up { position: static !important }
    .fixed-large-up { position: fixed !important }

    .top-0-large-up { top: 0 !important }
    .bottom-0-large-up { bottom: 0 !important }
    .left-0-large-up { left: 0 !important }
    .right-0-large-up { right: 0 !important }

    .top-100-large-up { top: 100% !important }
    .bottom-100-large-up { bottom: 100% !important }
    .left-100-large-up { left: 100% !important }
    .right-100-large-up { right: 100% !important }

    .top-auto-large-up { top: auto !important }
    .bottom-auto-large-up { bottom: auto !important }
    .left-auto-large-up { left: auto !important }
    .right-auto-large-up { right: auto !important }
  }

  @if $include-xl-html-grid-classes == true {

    @media #{$xlarge-up} {
      .relative-xlarge-up { position: relative !important }
      .absolute-xlarge-up { position: absolute !important }
      .static-xlarge-up { position: static !important }
      .fixed-xlarge-up { position: fixed !important }

      .top-0-xlarge-up { top: 0 !important }
      .bottom-0-xlarge-up { bottom: 0 !important }
      .left-0-xlarge-up { left: 0 !important }
      .right-0-xlarge-up { right: 0 !important }

      .top-100-xlarge-up { top: 100% !important }
      .bottom-100-xlarge-up { bottom: 100% !important }
      .left-100-xlarge-up { left: 100% !important }
      .right-100-xlarge-up { right: 100% !important }

      .top-50-xlarge-up { top: 50% !important }
      .bottom-50-xlarge-up { bottom: 50% !important }
      .left-50-xlarge-up { left: 50% !important }
      .right-50-xlarge-up { right: 50% !important }

      .top-auto-xlarge-up { top: auto !important }
      .bottom-auto-xlarge-up { bottom: auto !important }
      .left-auto-xlarge-up { left: auto !important }
      .right-auto-xlarge-up { right: auto !important }
    }

  }
}


// ---------------------
//  VERTICAL ALIGNMENT
//----------------------

.vertical-top { vertical-align: top !important; }
.vertical-middle { vertical-align: middle !important; }
.vertical-baseline { vertical-align: baseline !important; }
.vertical-bottom { vertical-align: bottom !important; }
.vertical-text-bottom { vertical-align: text-bottom !important; }
.vertical-text-top { vertical-align: text-top !important; }

@if map-get($includes, include-vertical-align-responsive ) {

  @media #{$small-only} {
    .vertical-top-small-only { vertical-align: top !important; }
    .vertical-middle-small-only { vertical-align: middle !important; }
    .vertical-baseline-small-only { vertical-align: baseline !important; }
    .vertical-bottom-small-only { vertical-align: bottom !important; }
    .vertical-text-bottom-small-only { vertical-align: text-bottom !important; }
    .vertical-text-top-small-only { vertical-align: text-top !important; }
  }

  @media #{$medium-only} {
    .vertical-top-medium-only { vertical-align: top !important; }
    .vertical-middle-medium-only { vertical-align: middle !important; }
    .vertical-baseline-medium-only { vertical-align: baseline !important; }
    .vertical-bottom-medium-only { vertical-align: bottom !important; }
    .vertical-text-bottom-medium-only { vertical-align: text-bottom !important; }
    .vertical-text-top-medium-only { vertical-align: text-top !important; }
  }
  @media #{$medium-up} {
    .vertical-top-medium-up { vertical-align: top !important; }
    .vertical-middle-medium-up { vertical-align: middle !important; }
    .vertical-baseline-medium-up { vertical-align: baseline !important; }
    .vertical-bottom-medium-up { vertical-align: bottom !important; }
    .vertical-text-bottom-medium-up { vertical-align: text-bottom !important; }
    .vertical-text-top-medium-up { vertical-align: text-top !important; }
  }

  @media #{$large-only} {
    .vertical-top-large-only { vertical-align: top !important; }
    .vertical-middle-large-only { vertical-align: middle !important; }
    .vertical-baseline-large-only { vertical-align: baseline !important; }
    .vertical-bottom-large-only { vertical-align: bottom !important; }
    .vertical-text-bottom-large-only { vertical-align: text-bottom !important; }
    .vertical-text-top-large-only { vertical-align: text-top !important; }
  }
  @media #{$large-up} {
    .vertical-top-large-up { vertical-align: top !important; }
    .vertical-middle-large-up { vertical-align: middle !important; }
    .vertical-baseline-large-up { vertical-align: baseline !important; }
    .vertical-bottom-large-up { vertical-align: bottom !important; }
    .vertical-text-bottom-large-up { vertical-align: text-bottom !important; }
    .vertical-text-top-large-up { vertical-align: text-top !important; }
  }

  @if $include-xl-html-grid-classes == true {

    @media #{$xlarge-up} {
      .vertical-top-xlarge-up { vertical-align: top !important; }
      .vertical-middle-xlarge-up { vertical-align: middle !important; }
      .vertical-baseline-xlarge-up { vertical-align: baseline !important; }
      .vertical-bottom-xlarge-up { vertical-align: bottom !important; }
      .vertical-text-bottom-xlarge-up { vertical-align: text-bottom !important; }
      .vertical-text-top-xlarge-up { vertical-align: text-top !important; }
    }

  }

}


// ---------------------
//  OVERFLOW / VISIBILITY
//----------------------

.visibility-hidden { visibility: hidden !important; }
.visibility-visible { visibility: visible !important; }

.overflow-hidden { overflow: hidden !important; }
.overflow-x-hidden { overflow-x: hidden !important; }
.overflow-y-hidden { overflow-y: hidden !important; }

.overflow-visible { overflow: visible !important; }
.overflow-x-visible { overflow-x: visible !important; }
.overflow-y-visible { overflow-y: visible !important; }

.overflow-scroll { overflow: scroll !important; }
.overflow-x-scroll { overflow-x: scroll !important; }
.overflow-y-scroll { overflow-y: scroll !important; }

.ellipsis,
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


// ---------------------
//  Z-INDEX
//----------------------
@if map-get($includes, include-z-index) {
  $z-index-min: 0 !default;
  $z-index-max: 9 !default;
  @for $i from $z-index-min through $z-index-max {
    .z-index-#{$i} {
      z-index: $i !important;
    }
  }
}

@if map-get($includes, include-z-index-negative) {
  $z-index-negative-min: 1 !default;
  $z-index-negative-max: 9 !default;
  @for $i from $z-index-negative-min through $z-index-negative-max {
    .z-index-#{$i}-negative {
      z-index: -($i) !important;
    }
  }
}





// --------------------------
//  HIDE ONLY... (RESPONSIVE)
// --------------------------

@if map-get($includes, include-hide-responsive) {

  @media #{$small-only}{
    .hide-small-only.hide-small-only {
      display: none !important;
    }
  }

  @media #{$medium-only}{
    .hide-medium-only.hide-medium-only {
      display: none !important;
    }
  }

  @media #{$large-only}{
    .hide-large-only.hide-large-only {
      display: none !important;
    }
  }

  @if $include-xl-html-grid-classes == true {
    @media #{$xlarge-only}{
      .hide-xlarge-only.hide-xlarge-only {
        display: none !important;
      }
    }
  }

  // -------------------------------
  //  HIDE ABOVE(UP)... (RESPONSIVE)
  // -------------------------------
  @media #{$medium-up}{
    .hide-medium-up.hide-medium-up {
      display: none !important;
    }
  }

  @media #{$large-up}{
    .hide-large-up.hide-large-up {
      display: none !important;
    }
  }

  // ---------------------------------
  //  HIDE BELOW(DOWN)... (RESPONSIVE)
  // ---------------------------------
  @media (max-width: upper-bound($medium-range)) {
    .hide-medium-down.hide-medium-down {
      display: none !important;
    }
  }

  @media (max-width: upper-bound($large-range)) {
    .hide-large-down.hide-large-down {
      display: none !important;
    }
  }

}



// --------------------------
//  TOUCH DETECTED DISPLAYS AS... (MODERNIZR)
// --------------------------

@if map-get($includes, include-touch-display) {

  .touch {

    .block-touch {
      display: block !important;
    }
    .inline-block-touch {
      display: inline-block !important;
    }
    .inline-touch {
      display: inline !important;
    }
    .none-touch {
      display: none !important;
    }

  }

}


// ---------------------------------
//  FLOATS
// ---------------------------------

.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.float-none {
  float: none !important;
}

// ---------------------
//  CLEARS
//----------------------

.clear-both,
.clear { clear: both !important }
.clear-left { clear: left !important }
.clear-right { clear: right !important }


@if map-get($includes, include-floats-responsive) {

  @media #{$small-only} {
    .left-small-only {
      float: left !important;
    }
    .right-small-only {
      float: right !important;
    }
    .float-none-small-only {
      float: none !important;
    }

    .clear-small-only { clear: both !important }
    .clear-left-small-only { clear: left !important }
    .clear-right-small-only { clear: right !important }
  }
  @media #{$medium-only} {
    .left-medium-only {
      float: left !important;
    }
    .right-medium-only {
      float: right !important;
    }
    .float-none-medium-only {
      float: none !important;
    }

    .clear-medium-only { clear: both !important }
    .clear-left-medium-only { clear: left !important }
    .clear-right-medium-only { clear: right !important }
  }
  @media #{$medium-up} {
    .left-medium-up {
      float: left !important;
    }
    .right-medium-up {
      float: right !important;
    }
    .float-none-medium-up {
      float: none !important;
    }

    .clear-medium-up { clear: both !important }
    .clear-left-medium-up { clear: left !important }
    .clear-right-medium-up { clear: right !important }
  }
  @media #{$large-only} {
    .left-large-only {
      float: left !important;
    }
    .right-large-only {
      float: right !important;
    }
    .float-none-large-only {
      float: none !important;
    }

    .clear-large-only { clear: both !important }
    .clear-left-large-only { clear: left !important }
    .clear-right-large-only { clear: right !important }
  }
  @media #{$large-up} {
    .left-large-up {
      float: left !important;
    }
    .right-large-up {
      float: right !important;
    }
    .float-none-large-up {
      float: none !important;
    }

    .clear-large-up { clear: both !important }
    .clear-left-large-up { clear: left !important }
    .clear-right-large-up { clear: right !important }
  }

  @if $include-xl-html-grid-classes == true {
    @media #{$xlarge-only} {
      .left-xlarge-only {
        float: left !important;
      }
      .right-xlarge-only {
        float: right !important;
      }
      .float-none-xlarge-only {
        float: none !important;
      }

      .clear-xlarge-only { clear: both !important }
      .clear-left-xlarge-only { clear: left !important }
      .clear-right-xlarge-only { clear: right !important }
    }
    @media #{$xlarge-up} {
      .left-xlarge-up {
        float: left !important;
      }
      .right-xlarge-up {
        float: right !important;
      }
      .float-none-xlarge-up {
        float: none !important;
      }

      .clear-xlarge-up { clear: both !important }
      .clear-left-xlarge-up { clear: left !important }
      .clear-right-xlarge-up { clear: right !important }
    }
  }

}


// OOCSS Widths
// -------------------------

@each $i in $width-list {

  $label: str-replace(to-string($i), '.', 'pt');
  $i: replace-decimal-recurring-values($i);

  .width-#{$label} {
    width: #{$i}#{$percent} !important;
  }

}

.width-0 {
  width: 0 !important;
}
.width-auto {
  width: auto !important;
}
.width-inherit {
  width: inherit !important;
}
.width-1em {
  width: 1em !important;
}
.min-width-100 {
  min-width: 100% !important;
}
.max-width-0 {
  max-width: 0 !important;
}
.max-width-100 {
  max-width: 100% !important;
}
.min-width-1em {
  min-width: 1em !important;
}

// Responsive OOCSS Widths
// -------------------------

@if map-get($includes, include-widths-responsive) {

  @media #{$small-only} {

    @each $i in $width-list {

      $label: str-replace(to-string($i), '.', 'pt');
      $i: replace-decimal-recurring-values($i);

      .width-#{$label}-small-only {
        width: #{$i}#{$percent} !important;
      }

    }

    .width-0-small-only {
      width: 0 !important;
    }
    .width-auto-small-only {
      width: auto !important;
    }
    .width-inherit-small-only {
      width: inherit !important;
    }
    .width-1em-small-only {
      width: 1em !important;
    }
    .min-width-100-small-only {
      min-width: 100% !important;
    }
    .max-width-0-small-only {
      max-width: 0 !important;
    }
    .max-width-100-small-only {
      max-width: 100% !important;
    }

  }
  @media #{$medium-only} {

    @each $i in $width-list {

      $label: str-replace(to-string($i), '.', 'pt');
      $i: replace-decimal-recurring-values($i);

      .width-#{$label}-medium-only {
        width: #{$i}#{$percent} !important;
      }

    }

    .width-0-medium-only {
      width: 0 !important;
    }
    .width-auto-medium-only {
      width: auto !important;
    }
    .width-inherit-medium-only {
      width: inherit !important;
    }
    .width-1em-medium-only {
      width: 1em !important;
    }
    .min-width-100-medium-only {
      min-width: 100% !important;
    }
    .max-width-0-medium-only {
      max-width: 0 !important;
    }
    .max-width-100-medium-only {
      max-width: 100% !important;
    }

  }

  @media #{$medium-up} {

    @each $i in $width-list {

      $label: str-replace(to-string($i), '.', 'pt');
      $i: replace-decimal-recurring-values($i);

      .width-#{$label}-medium-up {
        width: #{$i}#{$percent} !important;
      }

    }

    .width-0-medium-up {
      width: 0 !important;
    }
    .width-auto-medium-up {
      width: auto !important;
    }
    .width-inherit-medium-up {
      width: inherit !important;
    }
    .width-1em-medium-up {
      width: 1em !important;
    }
    .min-width-100-medium-up {
      min-width: 100% !important;
    }
    .max-width-0-medium-up {
      max-width: 0 !important;
    }
    .max-width-100-medium-up {
      max-width: 100% !important;
    }

  }
  @media #{$large-only} {

    @each $i in $width-list {

      $label: str-replace(to-string($i), '.', 'pt');
      $i: replace-decimal-recurring-values($i);

      .width-#{$label}-large-only {
        width: #{$i}#{$percent} !important;
      }

    }

    .width-0-large-only {
      width: 0 !important;
    }
    .width-auto-large-only {
      width: auto !important;
    }
    .width-inherit-large-only {
      width: inherit !important;
    }
    .width-1em-large-only {
      width: 1em !important;
    }
    .min-width-100-large-only {
      min-width: 100% !important;
    }
    .max-width-0-large-only {
      max-width: 0 !important;
    }
    .max-width-100-large-only {
      max-width: 100% !important;
    }

  }
  @media #{$large-up} {

    @each $i in $width-list {

      $label: str-replace(to-string($i), '.', 'pt');
      $i: replace-decimal-recurring-values($i);

      .width-#{$label}-large-up {
        width: #{$i}#{$percent} !important;
      }

    }

    .width-0-large-up {
      width: 0 !important;
    }
    .width-auto-large-up {
      width: auto !important;
    }
    .width-inherit-large-up {
      width: inherit !important;
    }
    .width-1em-large-up {
      width: 1em !important;
    }
    .min-width-100-large-up {
      min-width: 100% !important;
    }
    .max-width-0-large-up {
      max-width: 0 !important;
    }
    .max-width-100-large-up {
      max-width: 100% !important;
    }

  }

  @if $include-xl-html-grid-classes == true {

    @media #{$xlarge-only} {

      @each $i in $width-list {

        $label: str-replace(to-string($i), '.', 'pt');
        $i: replace-decimal-recurring-values($i);

        .width-#{$label}-xlarge-only{
          width: #{$i}#{$percent} !important;
        }

      }

      .width-0-xlarge-only {
        width: 0 !important;
      }
      .width-auto-xlarge-only {
        width: auto !important;
      }
      .width-inherit-xlarge-only {
        width: inherit !important;
      }
      .width-1em-xlarge-only {
        width: 1em !important;
      }
      .min-width-100-xlarge-only {
        min-width: 100% !important;
      }
      .max-width-0-xlarge-only {
        max-width: 0 !important;
      }
      .max-width-100-xlarge-only {
        max-width: 100% !important;
      }

    }

    @media #{$xlarge-up} {

      @each $i in $width-list {

        $label: str-replace(to-string($i), '.', 'pt');
        $i: replace-decimal-recurring-values($i);

        .width-#{$label}-xlarge-up{
          width: #{$i}#{$percent} !important;
        }

      }

      .width-0-xlarge-up {
        width: 0 !important;
      }
      .width-auto-xlarge-up {
        width: auto !important;
      }
      .width-inherit-xlarge-up {
        width: inherit !important;
      }
      .width-1em-xlarge-up {
        width: 1em !important;
      }
      .min-width-100-xlarge-up {
        min-width: 100% !important;
      }
      .max-width-0-xlarge-up {
        max-width: 0 !important;
      }
      .max-width-100-xlarge-up {
        max-width: 100% !important;
      }

    }

  }

}



// OOCSS Heights
// -------------------------

@each $i in $height-list {

  $label: str-replace(to-string($i), '.', 'pt');
  $i: replace-decimal-recurring-values($i);

  .height-#{$label} {
    height: #{$i}#{$percent} !important;
  }

}

.height-0 {
  height: 0 !important;
}
.height-auto {
  height: auto !important;
}
.height-inherit {
  height: inherit !important;
}
.height-1em {
  height: 1em !important;
}
.min-height-100 {
  min-height: 100% !important;
}
.max-height-0 {
  max-height: 0 !important;
}
.max-height-100 {
  max-height: 100% !important;
}
.min-height-1em {
  min-height: 1em !important;
}

@if map-get($includes, include-heights-responsive) {


  // Responsive Heights
  // -------------------------

  @media #{$small-only} {

    @each $i in $height-list {

      $label: str-replace(to-string($i), '.', 'pt');
      $i: replace-decimal-recurring-values($i);

      .height-#{$label}-small-only {
        height: #{$i}#{$percent} !important;
      }

    }

    .height-0-small-only {
      height: 0 !important;
    }
    .height-auto-small-only {
      height: auto !important;
    }
    .height-inherit-small-only {
      height: inherit !important;
    }
    .height-1em-small-only {
      height: 1em !important;
    }
    .min-height-100-small-only {
      min-height: 100% !important;
    }
    .max-height-0-small-only {
      max-height: 0 !important;
    }
    .max-height-100-small-only {
      max-height: 100% !important;
    }

  }
  @media #{$medium-only} {

    @each $i in $height-list {

      $label: str-replace(to-string($i), '.', 'pt');
      $i: replace-decimal-recurring-values($i);

      .height-#{$label}-medium-only {
        height: #{$i}#{$percent} !important;
      }

    }

    .height-0-medium-only {
      height: 0 !important;
    }
    .height-auto-medium-only {
      height: auto !important;
    }
    .height-inherit-medium-only {
      height: inherit !important;
    }
    .height-1em-medium-only {
      height: 1em !important;
    }
    .min-height-100-medium-only {
      min-height: 100% !important;
    }
    .max-height-0-medium-only {
      max-height: 0 !important;
    }
    .max-height-100-medium-only {
      max-height: 100% !important;
    }

  }
  @media #{$medium-up} {

    @each $i in $height-list {

      $label: str-replace(to-string($i), '.', 'pt');
      $i: replace-decimal-recurring-values($i);

      .height-#{$label}-medium-up {
        height: #{$i}#{$percent} !important;
      }

    }

    .height-0-medium-up {
      height: 0 !important;
    }
    .height-auto-medium-up {
      height: auto !important;
    }
    .height-inherit-medium-up {
      height: inherit !important;
    }
    .height-1em-medium-up {
      height: 1em !important;
    }
    .min-height-100-medium-up {
      min-height: 100% !important;
    }
    .max-height-0-medium-up {
      max-height: 0 !important;
    }
    .max-height-100-medium-up {
      max-height: 100% !important;
    }

  }
  @media #{$large-only} {

    @each $i in $height-list {

      $label: str-replace(to-string($i), '.', 'pt');
      $i: replace-decimal-recurring-values($i);

      .height-#{$label}-large-only {
        height: #{$i}#{$percent} !important;
      }

    }

    .height-0-large-only {
      height: 0 !important;
    }
    .height-auto-large-only {
      height: auto !important;
    }
    .height-inherit-large-only {
      height: inherit !important;
    }
    .height-1em-large-only {
      height: 1em !important;
    }
    .min-height-100-large-only {
      min-height: 100% !important;
    }
    .max-height-0-large-only {
      max-height: 0 !important;
    }
    .max-height-100-large-only {
      max-height: 100% !important;
    }

  }
  @media #{$large-up} {

    @each $i in $height-list {

      $label: str-replace(to-string($i), '.', 'pt');
      $i: replace-decimal-recurring-values($i);

      .height-#{$label}-large-up {
        height: #{$i}#{$percent} !important;
      }

    }

    .height-0-large-up {
      height: 0 !important;
    }
    .height-auto-large-up {
      height: auto !important;
    }
    .height-inherit-large-up {
      height: inherit !important;
    }
    .height-1em-large-up {
      height: 1em !important;
    }
    .min-height-100-large-up {
      min-height: 100% !important;
    }
    .max-height-0-large-up {
      max-height: 0 !important;
    }
    .max-height-100-large-up {
      max-height: 100% !important;
    }

  }

  @if $include-xl-html-grid-classes == true {

    @media #{$xlarge-only} {

      @each $i in $width-list {

        $label: str-replace(to-string($i), '.', 'pt');
        $i: replace-decimal-recurring-values($i);

        .height-#{$label}-xlarge-only {
          height: #{$i}#{$percent} !important;
        }

      }

      .height-0-xlarge-only {
        height: 0 !important;
      }
      .height-auto-xlarge-only {
        height: auto !important;
      }
      .height-inherit-xlarge-only {
        height: inherit !important;
      }
      .height-1em-xlarge-only {
        height: 1em !important;
      }
      .min-height-100-xlarge-only {
        min-height: 100% !important;
      }
      .max-height-0-xlarge-only {
        max-height: 0 !important;
      }
      .max-height-100-xlarge-only {
        max-height: 100% !important;
      }

    }

    @media #{$xlarge-up} {

      @each $i in $width-list {

        $label: str-replace(to-string($i), '.', 'pt');
        $i: replace-decimal-recurring-values($i);

        .height-#{$label}-xlarge-up {
          height: #{$i}#{$percent} !important;
        }

      }

      .height-0-xlarge-up {
        height: 0 !important;
      }
      .height-auto-xlarge-up {
        height: auto !important;
      }
      .height-inherit-xlarge-up {
        height: inherit !important;
      }
      .height-1em-xlarge-up {
        height: 1em !important;
      }
      .min-height-100-xlarge-up {
        min-height: 100% !important;
      }
      .max-height-0-xlarge-up {
        max-height: 0 !important;
      }
      .max-height-100-xlarge-up {
        max-height: 100% !important;
      }

    }

  }

}


// Half row layouts
// -------------------------

.half-row {
  max-width: $row-width / 2;
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  width: 100%;
}

@media #{$medium-up} {
  .half-row-medium-up {
    max-width: $row-width / 2;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    width: 100%;
  }
}




@if map-get($includes, include-text-columns) {

  // Text Columns
  // -------------------------

  @media #{$medium-up} {

    .text-2-column {
      column-count: 2;
      column-gap: $column-gutter;
    }

    .text-3-column {
      column-count: 3;
      column-gap: $column-gutter;
    }

    .text-4-column {
      column-count: 2;
      column-gap: $column-gutter;
    }

  }

  @media #{$large-up} {
    .text-4-column {
      column-count: 4;
      column-gap: $column-gutter;
    }
  }

}
