
@if map-get($includes, include-flexbox) {

  // PARENT FLEX PROPERTIES

  .flex {
    display: flex !important;
  }

  // text-align-right 54321
  .flex-direction-reverse {
    flex-direction: row-reverse;
  }

  // 1
  // 2
  // 3...
  .flex-direction-column {
    flex-direction: column;
  }

  // 5
  // 4
  // 3...
  .flex-direction-column-reverse {
    flex-direction: column-reverse;
  }

  // equal width children on one row if larger than container
  .flex-wrap-nowrap {
    flex-wrap: nowrap;
  }

  // blocks that wrap
  .flex-wrap-wrap {
    flex-wrap: wrap;
  }
  // blocks that wrap in reverse
  .flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  // left-align
  .justify-content-flex-start {
    justify-content: flex-start;
  }
  // right-align
  .justify-content-flex-end {
    justify-content: flex-end;
  }
  // center-align
  .justify-content-flex-center {
    justify-content: center;
  }
  // same X space between equal distance
  .justify-content-flex-space-between {
    justify-content: space-between;
  }
  // equal X space around each item
  .justify-content-flex-space-around {
    justify-content: space-around;
  }

  // align on the y axis top
  .align-items-flex-start {
    align-items: flex-start;
  }
  // align on the y axis bottom
  .align-items-flex-end {
    align-items: flex-end;
  }
  // align on the y axis middle
  .align-items-center {
    align-items: center;
  }
  // align on the y axis 100% heigh
  .align-items-stretch {
    align-items: stretch;
  }
  // align on the y axis baseline
  .align-items-stretch {
    align-items: baseline;
  }

  // forces content to be the height of parent (default state)
  .align-content-stretch {
    align-content: stretch;
  }
  // align content verticaly center
  .align-content-centre {
    align-content: center;
  }
  // align content verticaly top
  .align-content-flex-start {
    align-content: flex-start;
  }
  // align content verticaly bottom
  .align-content-flex-end {
    align-content: flex-end;
  }
  // equal X space around each item
  .align-content-space-around {
    align-content: space-around;
  }
  // same Y space between equal distance
  .align-content-space-between {
    align-content: space-between;
  }

  // mix space between with direction column

  // CHILD FLEX PROPERTIES

  // order items into a group
  .order-2-negative {
    order: -2;
  }
  .order-1-negative {
    order: -1;
  }
  .order-0 {
    order: 0;
  }
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }

  // items dont grow (default)
  .flex-grow-0 {
    flex-grow: 0;
  }
  // all items equal
  .flex-grow-1 {
    flex-grow: 1;
  }
  // items twice as big as 1
  .flex-grow-2 {
    flex-grow: 2;
  }

  // reduce an items with
  .flex-shrink-1 {
    flex-shrink: 1;
  }
  .flex-shrink-2 {
    flex-shrink: 2;
  }

  // the basis of the item before it grows

  // auto (default)
  .flex-basis-auto {
    flex-basis: auto;
  }
  .flex-basis-40 {
    flex-basis: 40px;
  }

  // align item to the top (default)
  .align-self-flex-start {
    align-self: flex-start;
  }
  // align item to the bottom
  .align-self-flex-end {
    align-self: flex-end;
  }
  // align item to the middle
  .align-self-center {
    align-self: center;
  }
  // item 100% of the height
  .align-self-stretch {
    align-self: stretch;
  }

}