
// ---------------------
//    MARGIN GUTTER
//----------------------

@if
    map-get($includes, include-margin-gutter)
or  map-get($includes, include-margin-gutter-negative) {

  @if map-get($includes, include-margin-gutter) {
    @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter', $property: 'margin', $property_value: $column-gutter / 2);
  }

  @if map-get($includes, include-margin-gutter-negative) {
    @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-negative', $property: 'margin', $property_value: -($column-gutter / 2));
  }
}

@if
    map-get($includes, include-margin-gutter-responsive)
or  map-get($includes, include-margin-gutter-negative-responsive) {

  @media #{$small-only} {
    @if map-get($includes, include-margin-gutter-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-small-only', $property: 'margin', $property_value: $column-gutter / 2);
    }

    @if map-get($includes, include-margin-gutter-negative-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-negative-small-only', $property: 'margin', $property_value: -($column-gutter / 2));
    }
  }

  @media #{$medium-only} {
    @if map-get($includes, include-margin-gutter-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-medium-only', $property: 'margin', $property_value: $column-gutter / 2);
    }

    @if map-get($includes, include-margin-gutter-negative-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-negative-medium-only', $property: 'margin', $property_value: -($column-gutter / 2));
    }
  }

  @media #{$medium-up} {
    @if map-get($includes, include-margin-gutter-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-medium-up', $property: 'margin', $property_value: $column-gutter / 2);
    }

    @if map-get($includes, include-margin-gutter-negative-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-negative-medium-up', $property: 'margin', $property_value: -($column-gutter / 2));
    }
  }

  @media #{$large-only} {
    @if map-get($includes, include-margin-gutter-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-large-only', $property: 'margin', $property_value: $column-gutter / 2);
    }

    @if map-get($includes, include-margin-gutter-negative-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-negative-large-only', $property: 'margin', $property_value: -($column-gutter / 2));
    }
  }

  @media #{$large-up} {
    @if map-get($includes, include-margin-gutter-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-large-up', $property: 'margin', $property_value: $column-gutter / 2);
    }

    @if map-get($includes, include-margin-gutter-negative-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-negative-large-up', $property: 'margin', $property_value: -($column-gutter / 2));
    }
  }

  @if $include-xl-html-grid-classes == true {

    @media #{$xlarge-only} {
      @if map-get($includes, include-margin-gutter-responsive) {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-xlarge-only', $property: 'margin', $property_value: $column-gutter / 2);
      }

      @if map-get($includes, include-margin-gutter-negative-responsive) {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-negative-xlarge-only', $property: 'margin', $property_value: -($column-gutter / 2));
      }
    }

    @media #{$xlarge-up} {
      @if map-get($includes, include-margin-gutter-responsive) {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-xlarge-up', $property: 'margin', $property_value: $column-gutter / 2);
      }

      @if map-get($includes, include-margin-gutter-negative-responsive) {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-negative-xlarge-up', $property: 'margin', $property_value: -($column-gutter / 2));
      }
    }
  }
}


// ---------------------
//    MARGIN GUTTER FULL
//----------------------
@if
    map-get($includes, include-margin-gutter-full)
or  map-get($includes, include-margin-gutter-full-negative) {

  @if map-get($includes, include-margin-gutter-full) {
    @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-full', $property: 'margin', $property_value: $column-gutter);
  }

  @if map-get($includes, include-margin-gutter-full-negative) {
    @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-full-negative', $property: 'margin', $property_value: -$column-gutter);
  }
}

@if
    map-get($includes, include-margin-gutter-full-responsive)
or  map-get($includes, include-margin-gutter-full-negative-responsive) {

  @media #{$small-only} {
    @if map-get($includes, include-margin-gutter-full-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-full-small-only', $property: 'margin', $property_value: $column-gutter);
    }

    @if map-get($includes, include-margin-gutter-full-negative-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-full-negative-small-only', $property: 'margin', $property_value: -$column-gutter);
    }
  }

  @media #{$medium-only} {
    @if map-get($includes, include-margin-gutter-full-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-full-medium-only', $property: 'margin', $property_value: $column-gutter);
    }

    @if map-get($includes, include-margin-gutter-full-negative-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-full-negative-medium-only', $property: 'margin', $property_value: -$column-gutter);
    }
  }

  @media #{$medium-up} {
    @if map-get($includes, include-margin-gutter-full-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-full-medium-up', $property: 'margin', $property_value: $column-gutter);
    }

    @if map-get($includes, include-margin-gutter-full-negative-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-full-negative-medium-up', $property: 'margin', $property_value: -$column-gutter);
    }
  }

  @media #{$large-only} {
    @if map-get($includes, include-margin-gutter-full-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-full-large-only', $property: 'margin', $property_value: $column-gutter);
    }

    @if map-get($includes, include-margin-gutter-full-negative-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-full-negative-large-only', $property: 'margin', $property_value: -$column-gutter);
    }
  }

  @media #{$large-up} {
    @if map-get($includes, include-margin-gutter-full-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-full-large-up', $property: 'margin', $property_value: $column-gutter);
    }

    @if map-get($includes, include-margin-gutter-full-negative-responsive) {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-full-negative-large-up', $property: 'margin', $property_value: -$column-gutter);
    }
  }

  @if $include-xl-html-grid-classes == true {

    @media #{$xlarge-only} {
      @if map-get($includes, include-margin-gutter-full-responsive) {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-full-xlarge-only', $property: 'margin', $property_value: $column-gutter);
      }

      @if map-get($includes, include-margin-gutter-full-negative-responsive) {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-full-negative-xlarge-only', $property: 'margin', $property_value: -$column-gutter);
      }
    }

    @media #{$xlarge-up} {
      @if map-get($includes, include-margin-gutter-full-responsive) {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-full-xlarge-up', $property: 'margin', $property_value: $column-gutter);
      }

      @if map-get($includes, include-margin-gutter-full-negative-responsive) {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: '-gutter-full-negative-xlarge-up', $property: 'margin', $property_value: -$column-gutter);
      }
    }
  }
}


// ---------------------
//    MARGIN AUTO / CENTER
//----------------------

@if map-get($includes, include-margin-auto) {
  .margin-auto {
    margin: auto !important;
  }
  .margin-0-auto {
    margin: 0 auto !important;
  }
  .margin-x-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .margin-l-auto {
    margin-left: auto !important;
  }
  .margin-r-auto {
    margin-right: auto !important;
  }
}


// ---------------------
//    MARGIN AUTO / CENTER RESPONSIVE
//----------------------

@if map-get($includes, include-margin-auto-responsive) {
  @media #{$small-only} {
    .margin-auto-small-only {
      margin: auto !important;
    }
    .margin-0-auto-small-only {
      margin: 0 auto !important;
    }
    .margin-x-auto-small-only {
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .margin-l-auto-small-only {
      margin-left: auto !important;
    }
    .margin-r-auto-small-only {
      margin-right: auto !important;
    }
  }
  @media #{$medium-only} {
    .margin-auto-medium-only {
      margin: auto !important;
    }
    .margin-0-auto-medium-only {
      margin: 0 auto !important;
    }
    .margin-x-auto-medium-only {
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .margin-l-auto-medium-only {
      margin-left: auto !important;
    }
    .margin-r-auto-medium-only {
      margin-right: auto !important;
    }
  }
  @media #{$medium-up} {
    .margin-auto-medium-up {
      margin: auto !important;
    }
    .margin-0-auto-medium-up {
      margin: 0 auto !important;
    }
    .margin-x-auto-medium-up {
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .margin-l-auto-small-up {
      margin-left: auto !important;
    }
    .margin-r-auto-small-up {
      margin-right: auto !important;
    }
  }
  @media #{$large-only} {
    .margin-auto-large-only {
      margin: auto !important;
    }
    .margin-0-auto-large-only {
      margin: 0 auto !important;
    }
    .margin-x-auto-large-only {
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .margin-l-auto-large-only {
      margin-left: auto !important;
    }
    .margin-r-auto-large-only {
      margin-right: auto !important;
    }
  }
  @media #{$large-up} {
    .margin-auto-large-up {
      margin: auto !important;
    }
    .margin-0-auto-large-up {
      margin: 0 auto !important;
    }
    .margin-x-auto-large-up {
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .margin-l-auto-large-up {
      margin-left: auto !important;
    }
    .margin-r-auto-large-up {
      margin-right: auto !important;
    }
  }

  @if $include-xl-html-grid-classes == true {
    @media #{$xlarge-only} {
      .margin-auto-xlarge-only {
        margin: auto !important
      }
    ;
      .margin-0-auto-xlarge-only {
        margin: 0 auto !important;
      }
      .margin-x-auto-xlarge-only {
        margin-left: auto !important;
        margin-right: auto !important;
      }
      .margin-l-auto-xlarge-only {
        margin-left: auto !important;
      }
      .margin-r-auto-xlarge-only {
        margin-right: auto !important;
      }
    }
    @media #{$xlarge-up} {
      .margin-auto-xlarge-up {
        margin: auto !important
      }
    ;
      .margin-0-auto-xlarge-up {
        margin: 0 auto !important;
      }
      .margin-x-auto-xlarge-up {
        margin-left: auto !important;
        margin-right: auto !important;
      }
      .margin-l-auto-xlarge-up {
        margin-left: auto !important;
      }
      .margin-r-auto-xlarge-up {
        margin-right: auto !important;
      }
    }
  }
}





// -------------------
//  MARGIN (EM)
// -------------------

@if
    map-get($includes, include-margin-em)
or  map-get($includes, include-margin-em-responsive)
or  map-get($includes, include-margin-em-negative)
or  map-get($includes, include-margin-em-negative-responsive) {

  // POSITIVE
  @if map-get($includes, include-margin-em) {
    @each $i in $size-list-em {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}em, $property: 'margin', $property_value: $i+em);
    }
  }

  // NEGATIVE
  @if map-get($includes, include-margin-em-negative) {
    @each $i in $size-list-em {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}em-negative, $property: 'margin', $property_value: -$i+em);
    }
  }

  // POSITIVE RESPONSIVE
  @if map-get($includes, include-margin-em-responsive) {

    @media #{$small-only} {
      @each $i in $size-list-em {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}em-small-only, $property: 'margin', $property_value: $i+em);
      }
    }

    @media #{$medium-only} {
      @each $i in $size-list-em {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}em-medium-only, $property: 'margin', $property_value: $i+em);
      }
    }

    @media #{$medium-up} {
      @each $i in $size-list-em {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}em-medium-up, $property: 'margin', $property_value: $i+em);
      }
    }

    @media #{$large-only} {
      @each $i in $size-list-em {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}em-large-only, $property: 'margin', $property_value: $i+em);
      }
    }

    @media #{$large-up} {
      @each $i in $size-list-em {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}em-large-up, $property: 'margin', $property_value: $i+em);
      }
    }

    @if $include-xl-html-grid-classes == true {

      @media #{$xlarge-only} {
        @each $i in $size-list-em {
          @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}em-xlarge-only, $property: 'margin', $property_value: $i+em);
        }
      }

      @media #{$xlarge-up} {
        @each $i in $size-list-em {
          @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}em-xlarge-up, $property: 'margin', $property_value: $i+em);
        }
      }
    }
  }

  // NEGATIVE RESPONSIVE
  @if map-get($includes, include-margin-em-negative-responsive) {

    @media #{$small-only} {
      @each $i in $size-list-em {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}em-negative-small-only, $property: 'margin', $property_value: -$i+em);
      }
    }

    @media #{$medium-only} {
      @each $i in $size-list-em {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}em-negative-medium-only, $property: 'margin', $property_value: -$i+em);
      }
    }

    @media #{$medium-up} {
      @each $i in $size-list-em {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}em-negative-medium-up, $property: 'margin', $property_value: -$i+em);
      }
    }

    @media #{$large-only} {
      @each $i in $size-list-em {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}em-negative-large-only, $property: 'margin', $property_value: -$i+em);
      }
    }

    @media #{$large-up} {
      @each $i in $size-list-em {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}em-negative-large-up, $property: 'margin', $property_value: -$i+em);
      }
    }

    @if $include-xl-html-grid-classes == true {

      @media #{$xlarge-only} {
        @each $i in $size-list-em {
          @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}em-negative-xlarge-only, $property: 'margin', $property_value: -$i+em);
        }
      }

      @media #{$xlarge-up} {
        @each $i in $size-list-em {
          @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}em-negative-xlarge-up, $property: 'margin', $property_value: -$i+em);
        }
      }
    }
  }

}



// -------------------
//  MARGIN (EM | 0.1 - 0.9)
// -------------------
@if
    map-get($includes, include-margin-em-points)
or  map-get($includes, include-margin-em-points-responsive)
or  map-get($includes, include-margin-em-points-negative)
or  map-get($includes, include-margin-em-points-negative-responsive) {

  // POSITIVE
  @if map-get($includes, include-margin-em-points) {
    @for $i from 1 through 9 {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: 0pt#{$i}em, $property: 'margin', $property_value: unquote(0 + '.' + $i + 'em'));
    }
  }

  // NEGATIVE
  @if map-get($includes, include-margin-em-points-negative) {
    @for $i from 1 through 9 {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: 0pt#{$i}em-negative, $property: 'margin', $property_value: unquote('-0' + '.' + $i + 'em'));
    }
  }

  // POSITIVE RESPONSIVE
  @if map-get($includes, include-margin-em-points-responsive) {

    @media #{$small-only} {
      @for $i from 1 through 9 {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: 0pt#{$i}em-small-only, $property: 'margin', $property_value: unquote(0 + '.' + $i + 'em'));
      }
    }

    @media #{$medium-only} {
      @for $i from 1 through 9 {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: 0pt#{$i}em-medium-only, $property: 'margin', $property_value: unquote(0 + '.' + $i + 'em'));
      }
    }

    @media #{$medium-up} {
      @for $i from 1 through 9 {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: 0pt#{$i}em-medium-up, $property: 'margin', $property_value: unquote(0 + '.' + $i + 'em'));
      }
    }

    @media #{$large-only} {
      @for $i from 1 through 9 {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: 0pt#{$i}em-large-only, $property: 'margin', $property_value: unquote(0 + '.' + $i + 'em'));
      }
    }

    @media #{$large-up} {
      @for $i from 1 through 9 {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: 0pt#{$i}em-large-up, $property: 'margin', $property_value: unquote(0 + '.' + $i + 'em'));
      }
    }

    @if $include-xl-html-grid-classes == true {

      @media #{$xlarge-only} {
        @for $i from 1 through 9 {
          @include box-model-loop($class-prefix: 'margin', $class-suffix: 0pt#{$i}em-xlarge-only, $property: 'margin', $property_value: unquote(0 + '.' + $i + 'em'));
        }
      }

      @media #{$xlarge-up} {
        @for $i from 1 through 9 {
          @include box-model-loop($class-prefix: 'margin', $class-suffix: 0pt#{$i}em-xlarge-up, $property: 'margin', $property_value: unquote(0 + '.' + $i + 'em'));
        }
      }
    }
  }

  // NEGATIVE RESPONSIVE
  @if map-get($includes, include-margin-em-points-negative-responsive) {

    @media #{$small-only} {
      @for $i from 1 through 9 {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: 0pt#{$i}em-negative-small-only, $property: 'margin', $property_value: unquote('-0' + '.' + $i + 'em'));
      }
    }

    @media #{$medium-only} {
      @for $i from 1 through 9 {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: 0pt#{$i}em-negative-medium-only, $property: 'margin', $property_value: unquote('-0' + '.' + $i + 'em'));
      }
    }

    @media #{$medium-up} {
      @for $i from 1 through 9 {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: 0pt#{$i}em-negative-medium-up, $property: 'margin', $property_value: unquote('-0' + '.' + $i + 'em'));
      }
    }

    @media #{$large-only} {
      @for $i from 1 through 9 {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: 0pt#{$i}em-negative-large-only, $property: 'margin', $property_value: unquote('-0' + '.' + $i + 'em'));
      }
    }

    @media #{$large-up} {
      @for $i from 1 through 9 {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: 0pt#{$i}em-negative-large-up, $property: 'margin', $property_value: unquote('-0' + '.' + $i + 'em'));
      }
    }

    @if $include-xl-html-grid-classes == true {

      @media #{$xlarge-only} {
        @for $i from 1 through 9 {
          @include box-model-loop($class-prefix: 'margin', $class-suffix: 0pt#{$i}em-negative-xlarge-only, $property: 'margin', $property_value: unquote('-0' + '.' + $i + 'em'));
        }
      }

      @media #{$xlarge-up} {
        @for $i from 1 through 9 {
          @include box-model-loop($class-prefix: 'margin', $class-suffix: 0pt#{$i}em-negative-xlarge-up, $property: 'margin', $property_value: unquote('-0' + '.' + $i + 'em'));
        }
      }

    }

  }

}




// -------------------
//  MARGIN (REM/PX)
// -------------------
@if
    map-get($includes, include-margin-rem)
or  map-get($includes, include-margin-rem-negative) {

  // POSITIVE
  @if map-get($includes, include-margin-rem) {
    @each $i in $size-list-margin {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}, $property: 'margin', $property_value: rem-calc($i));
    }
  }

  // NEGATIVE
  @if map-get($includes, include-margin-rem-negative) {
    @each $i in $size-list-margin-negative {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}-negative, $property: 'margin', $property_value: -(rem-calc($i)));
    }
  }

}



// -------------------
//  MARGIN (REM/PX) - RESPONSIVE
// -------------------
@if
    map-get($includes, include-margin-rem-responsive)
or  map-get($includes, include-margin-rem-negative-responsive) {

  @media #{$small-only} {
    @each $i in $size-list-margin {
      @if map-get($includes, include-margin-rem-responsive) {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}-small-only, $property: 'margin', $property_value: rem-calc($i));
      }
    }
    @each $i in $size-list-margin-negative {
      @if map-get($includes, include-margin-rem-negative-responsive) {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}-negative-small-only, $property: 'margin', $property_value: -(rem-calc($i)));
      }
    }
  }

  @media #{$medium-only} {

    @each $i in $size-list-margin {
      @if map-get($includes, include-margin-rem-responsive) {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}-negative-medium-only, $property: 'margin', $property_value: rem-calc($i));
      }
    }

    @each $i in $size-list-margin-negative {
      @if map-get($includes, include-margin-rem-negative-responsive) {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}-negative-medium-only, $property: 'margin', $property_value: -(rem-calc($i)));
      }
    }

  }

  @media #{$medium-up} {

    @each $i in $size-list-margin {
      @if map-get($includes, include-margin-rem-responsive) {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}-medium-up, $property: 'margin', $property_value: rem-calc($i));
      }
    }

    @each $i in $size-list-margin-negative {
      @if map-get($includes, include-margin-rem-negative-responsive) {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}-negative-medium-up, $property: 'margin', $property_value: -(rem-calc($i)));
      }
    }

  }

  @media #{$large-only} {

    @each $i in $size-list-margin {
      @if map-get($includes, include-margin-rem-responsive) {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}-large-only, $property: 'margin', $property_value: rem-calc($i));
      }
    }

    @each $i in $size-list-margin-negative {
      @if map-get($includes, include-margin-rem-negative-responsive) {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}-negative-large-only, $property: 'margin', $property_value: -(rem-calc($i)));
      }
    }
  }

  @media #{$large-up} {

    @each $i in $size-list-margin {
      @if map-get($includes, include-margin-rem-responsive) {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}-large-up, $property: 'margin', $property_value: rem-calc($i));
      }
    }

    @each $i in $size-list-margin-negative {
      @if map-get($includes, include-margin-rem-negative-responsive) {
        @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}-negative-large-up, $property: 'margin', $property_value: -(rem-calc($i)));
      }
    }

  }

  @if $include-xl-html-grid-classes == true {

    @media #{$xlarge-only} {

      @each $i in $size-list-margin {
        @if map-get($includes, include-margin-rem-responsive) {
          @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}-xlarge-only, $property: 'margin', $property_value: rem-calc($i));
        }
      }

      @each $i in $size-list-margin-negative {
        @if map-get($includes, include-margin-rem-negative-responsive) {
          @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}-negative-xlarge-only, $property: 'margin', $property_value: -(rem-calc($i)));
        }
      }

    }

    @media #{$xlarge-up} {

      @each $i in $size-list-margin {
        @if map-get($includes, include-margin-rem-responsive) {
          @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}-xlarge-up, $property: 'margin', $property_value: rem-calc($i));
        }
      }

      @each $i in $size-list-margin-negative {
        @if map-get($includes, include-margin-rem-negative-responsive) {
          @include box-model-loop($class-prefix: 'margin', $class-suffix: #{$i}-negative-xlarge-up, $property: 'margin', $property_value: -(rem-calc($i)));
        }
      }

    }
  }

}



// -------------------
//  MARGIN 0
// -------------------

@if map-get($includes, include-margin-zero) {

  @include box-model-loop($class-prefix: 'margin', $class-suffix: '0', $property: 'margin', $property_value: 0);

}

// -------------------
//  MARGIN 0 RESPONSIVE
// -------------------

@if map-get($includes, include-margin-zero-responsive) {

  @media #{$small-only} {
    @include box-model-loop($class-prefix: 'margin', $class-suffix: '0-small-only', $property: 'margin', $property_value: 0);
  }

  @media #{$medium-only} {
    @include box-model-loop($class-prefix: 'margin', $class-suffix: '0-medium-only', $property: 'margin', $property_value: 0);
  }

  @media #{$medium-up} {
    @include box-model-loop($class-prefix: 'margin', $class-suffix: '0-medium-up', $property: 'margin', $property_value: 0);
  }

  @media #{$large-only} {
    @include box-model-loop($class-prefix: 'margin', $class-suffix: '0-large-only', $property: 'margin', $property_value: 0);
  }

  @media #{$large-up} {
    @include box-model-loop($class-prefix: 'margin', $class-suffix: '0-large-up', $property: 'margin', $property_value: 0);
  }

  @if $include-xl-html-grid-classes == true {

    @media #{$xlarge-only} {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '0-xlarge-only', $property: 'margin', $property_value: 0);
    }

    @media #{$xlarge-up} {
      @include box-model-loop($class-prefix: 'margin', $class-suffix: '0-xlarge-up', $property: 'margin', $property_value: 0);
    }
  }
}
