@if map-get($includes, include-opacity) {

  // -------------------
  //  FADE OUT ON HOVER
  // -------------------

  .hover-fade
  //, .opacity-transition
   {
    //opacity: 1;
    transition: opacity .3s ease;
    -webkit-backface-visibility: hidden; // fixes chrome buggy 'shake/patches' behaviour


    &:hover {

      &.fade-10 {
        opacity: 1;

        // fixes flicker for IE
        .browser-internet-explorer & ,
        .vendor-ie & {
          opacity: 0.99;
        }
      }
      &.fade-9 {
        opacity: .9;
      }
      &.fade-8 {
        opacity: .8;
      }
      &.fade-7 {
        opacity: .7;
      }
      &.fade-6 {
        opacity: .6;
      }
      &.fade-5 {
        opacity: .5;
      }
      &.fade-4 {
        opacity: .4;
      }
      &.fade-3 {
        opacity: .3;
      }
      &.fade-2 {
        opacity: .2;
      }
      &.fade-1 {
        opacity: .1;
      }
      &.fade-0 {
        opacity: 0;
      }

    }
  }


  // -------------------
  //  SET OPACITY
  // -------------------

  .opacity-10 {
    opacity: 1;

    // fixes flicker for IE
    .browser-internet-explorer .hover-fade & ,
    .vendor-ie .hover-fade & {
        opacity: 0.99;
    }
  }
  .opacity-9 {
    opacity: .9;
  }
  .opacity-8 {
    opacity: .8;
  }
  .opacity-7 {
    opacity: .7;
  }
  .opacity-6 {
    opacity: .6;
  }
  .opacity-5 {
    opacity: .5;
  }
  .opacity-4 {
    opacity: .4;
  }
  .opacity-3 {
    opacity: .3;
  }
  .opacity-2 {
    opacity: .2;
  }
  .opacity-1 {
    opacity: .1;
  }
  .opacity-0 {
    opacity: 0;
  }

}

