
// -------------------------
//   OOCSS PADDING CLASSES
//--------------------------


// -------------------
//  PADDING (REM/PX)
// -------------------

@if map-get($includes, include-padding-rem) {
  @each $i in $size-list-padding {
    @include box-model-loop($class-prefix: 'padding', $class-suffix: #{$i}, $property: 'padding', $property_value: rem-calc($i));
  }
}


// -------------------
//  PADDING (REM/PX) RESPONSIVE
// -------------------

@if map-get($includes, include-padding-rem-responsive) {

  @media #{$small-only} {
    @each $i in $size-list-padding {
      @include box-model-loop($class-prefix: 'padding', $class-suffix: #{$i}-small-only, $property: 'padding', $property_value: rem-calc($i));
    }
  }

  @media #{$medium-only} {
    @each $i in $size-list-padding {
      @include box-model-loop($class-prefix: 'padding', $class-suffix: #{$i}-medium-only, $property: 'padding', $property_value: rem-calc($i));
    }
  }

  @media #{$medium-up} {
    @each $i in $size-list-padding {
      @include box-model-loop($class-prefix: 'padding', $class-suffix: #{$i}-medium-up, $property: 'padding', $property_value: rem-calc($i));
    }
  }

  @media #{$large-only} {
    @each $i in $size-list-padding {
      @include box-model-loop($class-prefix: 'padding', $class-suffix: #{$i}-large-only, $property: 'padding', $property_value: rem-calc($i));
    }
  }

  @media #{$large-up} {
    @each $i in $size-list-padding {
      @include box-model-loop($class-prefix: 'padding', $class-suffix: #{$i}-large-up, $property: 'padding', $property_value: rem-calc($i));
    }
  }

  @if $include-xl-html-grid-classes == true {

    @media #{$xlarge-only} {
      @each $i in $size-list-padding {
        @include box-model-loop($class-prefix: 'padding', $class-suffix: #{$i}-xlarge-only, $property: 'padding', $property_value: rem-calc($i));
      }
    }

    @media #{$xlarge-up} {
      @each $i in $size-list-padding {
        @include box-model-loop($class-prefix: 'padding', $class-suffix: #{$i}-xlarge-up, $property: 'padding', $property_value: rem-calc($i));
      }
    }
  }

}


// -------------------
//   PADDING BUTTON
// -------------------

@if map-get($includes, include-button-padding) {

  .button-padding-tiny {
    padding-top: $button-tny;
    padding-bottom: $button-tny + rem-calc(1);
    padding-left: $button-tny * 2;
    padding-right: $button-tny * 2;
  }
  .button-padding-small {
    padding-top: $button-sml;
    padding-bottom: $button-sml + rem-calc(1);
    padding-left: $button-sml * 2;
    padding-right: $button-sml * 2;
  }
  .button-padding {
    padding-top: $button-med;
    padding-bottom: $button-med + rem-calc(1);
    padding-left: $button-med * 2;
    padding-right: $button-med * 2;
  }
  .button-padding-large {
    padding-top: $button-lrg;
    padding-bottom: $button-lrg + rem-calc(1);
    padding-left: $button-lrg * 2;
    padding-right: $button-lrg * 2;
  }
}

// -------------------
//   PADDING BUTTON PRE/POSTFIX
// -------------------

.button.prefix,
.button.postfix {
  padding: 0;
}

// -------------------
//  PADDING (Percentage)
// -------------------

//to make objects square
.padding-b100p,
.padding-bottom-100-percent {
  padding-bottom: 100% !important;
}

.padding-b50p,
.padding-bottom-50-percent {
  padding-bottom: 50% !important;
}

.padding-50p,
.padding-50-percent {
  padding: 50% !important;
}


@if map-get($includes, include-padding-bottom-ratio) {

  .padding-b-ratio-16by9 {
    padding-bottom: percentage(9/16) !important;
  }
  .padding-b-ratio-8by5 {
    padding-bottom: percentage(5/8) !important;
  }
  .padding-b-ratio-4by3 {
    padding-bottom: percentage(3/4) !important;
  }
  .padding-b-ratio-3by2 {
    padding-bottom: percentage(2/3) !important;
  }
  .padding-b-ratio-2by1 {
    padding-bottom: percentage(1/2) !important;
  }

}



// -------------------
//  PADDING (EM)
// -------------------

@if map-get($includes, include-padding-em) {
  @each $i in $size-list-em {
    @include box-model-loop($class-prefix: 'padding', $class-suffix: #{$i}em, $property: 'padding', $property_value: $i+em);
  }
}



// -------------------
//  PADDING (EM | 0.1 - 0.9)
// -------------------

@if map-get($includes, include-padding-em-points) {
  @for $i from 1 through 9 {
    @include box-model-loop($class-prefix: 'padding', $class-suffix: 0pt#{$i}em, $property: 'padding', $property_value: unquote(0 + '.' + $i + 'em'));
  }
}


//----------------------
//   PADDING GUTTER
//----------------------

@if map-get($includes, include-padding-gutter) {
  @include box-model-loop($class-prefix: 'padding', $class-suffix: '-gutter', $property: 'padding', $property_value: $column-gutter / 2);
}

@if map-get($includes, include-padding-gutter-responsive) {

  @media #{$small-only} {
    @include box-model-loop($class-prefix: 'padding', $class-suffix: '-gutter-small-only', $property: 'padding', $property_value: $column-gutter / 2);
  }

  @media #{$medium-only} {
    @include box-model-loop($class-prefix: 'padding', $class-suffix: '-gutter-medium-only', $property: 'padding', $property_value: $column-gutter / 2);
  }

  @media #{$medium-up} {
    @include box-model-loop($class-prefix: 'padding', $class-suffix: '-gutter-medium-up', $property: 'padding', $property_value: $column-gutter / 2);
  }

  @media #{$large-only} {
    @include box-model-loop($class-prefix: 'padding', $class-suffix: '-gutter-large-only', $property: 'padding', $property_value: $column-gutter / 2);
  }

  @media #{$large-up} {
    @include box-model-loop($class-prefix: 'padding', $class-suffix: '-gutter-large-up', $property: 'padding', $property_value: $column-gutter / 2);
  }

  @if $include-xl-html-grid-classes == true {

    @media #{$xlarge-only} {
      @include box-model-loop($class-prefix: 'padding', $class-suffix: '-gutter-xlarge-only', $property: 'padding', $property_value: $column-gutter / 2);
    }

    @media #{$xlarge-up} {
      @include box-model-loop($class-prefix: 'padding', $class-suffix: '-gutter-xlarge-up', $property: 'padding', $property_value: $column-gutter / 2);
    }
  }

}


//----------------------
//    PADDING GUTTER FULL
//----------------------

@if map-get($includes, include-padding-gutter-full) {
  @include box-model-loop($class-prefix: 'padding', $class-suffix: '-gutter-full', $property: 'padding', $property_value: $column-gutter);
}

@if map-get($includes, include-padding-gutter-full-responsive) {

  @media #{$small-only} {
    @include box-model-loop($class-prefix: 'padding', $class-suffix: '-gutter-full-small-only', $property: 'padding', $property_value: $column-gutter);
  }

  @media #{$medium-only} {
    @include box-model-loop($class-prefix: 'padding', $class-suffix: '-gutter-full-medium-only', $property: 'padding', $property_value: $column-gutter);
  }

  @media #{$medium-up} {
    @include box-model-loop($class-prefix: 'padding', $class-suffix: '-gutter-full-medium-up', $property: 'padding', $property_value: $column-gutter);
  }

  @media #{$large-only} {
    @include box-model-loop($class-prefix: 'padding', $class-suffix: '-gutter-full-large-only', $property: 'padding', $property_value: $column-gutter);
  }

  @media #{$large-up} {
    @include box-model-loop($class-prefix: 'padding', $class-suffix: '-gutter-full-large-up', $property: 'padding', $property_value: $column-gutter);
  }

  @if $include-xl-html-grid-classes == true {

    @media #{$xlarge-only} {
      @include box-model-loop($class-prefix: 'padding', $class-suffix: '-gutter-full-xlarge-only', $property: 'padding', $property_value: $column-gutter);
    }

    @media #{$xlarge-up} {
      @include box-model-loop($class-prefix: 'padding', $class-suffix: '-gutter-full-xlarge-up', $property: 'padding', $property_value: $column-gutter);
    }

  }

}



// -------------------
//  PADDING 0
// -------------------

@if map-get($includes, include-padding-zero) {

  @include box-model-loop($class-prefix: 'padding', $class-suffix: '0', $property: 'padding', $property_value: 0);

}


//----------------------
//  PADDING 0 RESPONSIVE
// ---------------------

@if map-get($includes, include-padding-zero-responsive) {

  @media #{$small-only} {
    @include box-model-loop($class-prefix: 'padding', $class-suffix: '0-small-only', $property: 'padding', $property_value: 0);
  }

  @media #{$medium-only} {
    @include box-model-loop($class-prefix: 'padding', $class-suffix: '0-medium-only', $property: 'padding', $property_value: 0);
  }

  @media #{$medium-up} {
    @include box-model-loop($class-prefix: 'padding', $class-suffix: '0-medium-up', $property: 'padding', $property_value: 0);
  }

  @media #{$large-only} {
    @include box-model-loop($class-prefix: 'padding', $class-suffix: '0-large-only', $property: 'padding', $property_value: 0);
  }

  @media #{$large-up} {
    @include box-model-loop($class-prefix: 'padding', $class-suffix: '0-large-up', $property: 'padding', $property_value: 0);
  }

  @if $include-xl-html-grid-classes == true {

    @media #{$xlarge-only} {
      @include box-model-loop($class-prefix: 'padding', $class-suffix: '0-xlarge-only', $property: 'padding', $property_value: 0);
    }

    @media #{$xlarge-up} {
      @include box-model-loop($class-prefix: 'padding', $class-suffix: '0-xlarge-up', $property: 'padding', $property_value: 0);
    }
  }
}
