@if map-get($includes, include-portrait-landscape) {

  @media #{$portrait} {

    //--------------
    // TABLE STUFF
    //--------------

    //made the below x3 as strong to override the selector equivalencies of .table-medium-up [class*="table-cell"] + [class*="table-cell"]:last-child specificity
    //.table-row-portrait.table-row-portrait.table-row-portrait {
    .table-row-portrait {
      display: table-row !important;
    }
    //.table-cell-portrait.table-cell-portrait.table-cell-portrait {
    .table-cell-portrait {
      display: table-cell !important;
    }

    //--------------
    // VERTICAL ALIGNMENTS
    //--------------

    .vertical-top-portrait {
      vertical-align: top !important;
    }
    .vertical-middle-portrait {
      vertical-align: middle !important;
    }
    .vertical-baseline-portrait {
      vertical-align: baseline !important;
    }
    .vertical-bottom-portrait {
      vertical-align: bottom !important;
    }

    //--------------
    // DISPLAYS
    //--------------

    .block-portrait {
      display: block !important;
    }
    .inline-block-portrait {
      display: inline-block !important;
    }
    .inline-portrait {
      display: inline !important;
    }
    .none-portrait {
      display: none !important;
    }

    //--------------
    // WIDTHS & HEIGHTS
    //--------------

    @each $i in $width-list {

      $label: str-replace(to-string($i), '.', 'pt');
      $i: replace-decimal-recurring-values($i);

      .width-#{$label}-portrait {
        width: #{$i}#{$percent} !important;
      }

    }

    .width-0-portrait {
      width: 0 !important;
    }
    .width-auto-portrait {
      width: auto !important;
    }


    @each $i in $height-list {

      $label: str-replace(to-string($i), '.', 'pt');
      $i: replace-decimal-recurring-values($i);

      .height-#{$label}-portrait {
        height: #{$i}#{$percent} !important;
      }

    }

    .height-0-portrait {
      height: 0 !important;
    }
    .height-auto-portrait {
      height: auto !important;
    }

  }

  @media #{$landscape} {

    //--------------
    // TABLE STUFF
    //--------------

    //made the below x3 as strong to override the .table-XXX... [class*="table-cell"] + [class*="table-cell"]:last-child specificity
    //.table-row-landscape.table-row-landscape.table-row-landscape {
    .table-row-landscape {
      display: table-row !important;
    }
    //.table-cell-landscape.table-cell-landscape.table-cell-landscape {
    .table-cell-landscape {
      display: table-cell !important;
    }

    //--------------
    // VERTICAL ALIGNMENTS
    //--------------

    .vertical-top-landscape {
      vertical-align: top !important;
    }
    .vertical-middle-landscape {
      vertical-align: middle !important;
    }
    .vertical-baseline-landscape {
      vertical-align: baseline !important;
    }
    .vertical-bottom-landscape {
      vertical-align: bottom !important;
    }

    //--------------
    // DISPLAYS
    //--------------

    .block-landscape {
      display: block !important;
    }
    .inline-block-landscape {
      display: inline-block !important;
    }
    .inline-landscape {
      display: inline !important;
    }
    .none-landscape {
      display: none !important;
    }

    //--------------
    // WIDTHS & HEIGHTS
    //--------------


    @each $i in $width-list {

      $label: str-replace(to-string($i), '.', 'pt');
      $i: replace-decimal-recurring-values($i);

      .width-#{$label}-landscape {
        width: #{$i}#{$percent} !important;
      }

    }

    .width-0-landscape {
      width: 0 !important;
    }
    .width-auto-landscape {
      width: auto !important;
    }


    @each $i in $height-list {

      $label: str-replace(to-string($i), '.', 'pt');
      $i: replace-decimal-recurring-values($i);

      .height-#{$label}-landscape {
        height: #{$i}#{$percent} !important;
      }

    }

    .height-0-landscape {
      height: 0 !important;
    }
    .height-auto-landscape {
      height: auto !important;
    }

  }

}
