
.circle { @include border-radius(50% !important) }
.radius { @include border-radius($global-radius !important) }

.radius-0,
.radius-none {
  @include border-radius(0 !important)
}

// Global Radius Value
@if map-get($includes, include-radius-global) {

  .radius-t {
    @include border-radius-t($global-radius !important);
  }
  .radius-b {
    @include border-radius-b($global-radius !important);
  }
  .radius-l {
    @include border-radius-l($global-radius !important);
  }
  .radius-r {
    @include border-radius-r($global-radius !important);
  }
}

// Responsive Global Radius

@if map-get($includes, include-radius-global-responsive) {

  @media #{$small-only} {
    .radius-small-only { @include border-radius($global-radius !important) }
    .radius-l-small-only { @include border-radius-l($global-radius !important) }
    .radius-r-small-only { @include border-radius-r($global-radius !important) }
    .radius-t-small-only { @include border-radius-t($global-radius !important) }
    .radius-b-small-only { @include border-radius-b($global-radius !important) }
  }

  @media #{$medium-only} {
    .radius-medium-only { @include border-radius($global-radius !important) }
    .radius-l-medium-only { @include border-radius-l($global-radius !important) }
    .radius-r-medium-only { @include border-radius-r($global-radius !important) }
    .radius-t-medium-only { @include border-radius-t($global-radius !important) }
    .radius-b-medium-only { @include border-radius-b($global-radius !important) }
  }
  @media #{$medium-up} {
    .radius-medium-up { @include border-radius($global-radius !important) }
    .radius-l-medium-up { @include border-radius-l($global-radius !important) }
    .radius-r-medium-up { @include border-radius-r($global-radius !important) }
    .radius-t-medium-up { @include border-radius-t($global-radius !important) }
    .radius-b-medium-up { @include border-radius-b($global-radius !important) }
  }

  @media #{$large-only} {
    .radius-large-only { @include border-radius($global-radius !important) }
    .radius-l-large-only { @include border-radius-l($global-radius !important) }
    .radius-r-large-only { @include border-radius-r($global-radius !important) }
    .radius-t-large-only { @include border-radius-t($global-radius !important) }
    .radius-b-large-only { @include border-radius-b($global-radius !important) }
  }
  @media #{$large-up} {
    .radius-large-up { @include border-radius($global-radius !important) }
    .radius-l-large-up { @include border-radius-l($global-radius !important) }
    .radius-r-large-up { @include border-radius-r($global-radius !important) }
    .radius-t-large-up { @include border-radius-t($global-radius !important) }
    .radius-b-large-up { @include border-radius-b($global-radius !important) }
  }

  @if $include-xl-html-grid-classes == true {

    @media #{$xlarge-up} {
      .radius-xlarge-up, .radius-xlarge-only { @include border-radius($global-radius !important) }
      .radius-l-xlarge-up, .radius-l-xlarge-only { @include border-radius-l($global-radius !important) }
      .radius-r-xlarge-up, .radius-r-xlarge-only { @include border-radius-r($global-radius !important) }
      .radius-t-xlarge-up, .radius-t-xlarge-only { @include border-radius-t($global-radius !important) }
      .radius-b-xlarge-up, .radius-b-xlarge-only { @include border-radius-b($global-radius !important) }
    }

  }

}

@if map-get($includes, include-radius-remove) {

  // Resets
  .radius-t0 {
    @include border-radius-t(0 !important);
  }
  .radius-tl0 {
    @include border-radius-tl(0 !important);
  }
  .radius-tr0 {
    @include border-radius-tr(0 !important);
  }

  .radius-b0 {
    @include border-radius-b(0 !important);
  }
  .radius-bl0 {
    @include border-radius-bl(0 !important);
  }
  .radius-br0 {
    @include border-radius-br(0 !important);
  }

  .radius-l0 {
    @include border-radius-l(0 !important);
  }
  .radius-r0 {
    @include border-radius-r(0 !important);
  }

}

// Responsive Resets
@if map-get($includes, include-radius-remove-responsive) {

  @media #{$small-only} {
    .radius-t0-small-only { @include border-radius-t(0 !important) }
    .radius-tl0-small-only { @include border-radius-tl(0 !important) }
    .radius-tr0-small-only { @include border-radius-tr(0 !important) }
    .radius-b0-small-only { @include border-radius-b(0 !important) }
    .radius-bl0-small-only { @include border-radius-bl(0 !important) }
    .radius-br0-small-only { @include border-radius-br(0 !important) }
    .radius-l0-small-only { @include border-radius-l(0 !important) }
    .radius-r0-small-only { @include border-radius-r(0 !important) }
  }

  @media #{$medium-only} {
    .radius-t0-medium-only { @include border-radius-t(0 !important) }
    .radius-tl0-medium-only { @include border-radius-tl(0 !important) }
    .radius-tr0-medium-only { @include border-radius-tr(0 !important) }
    .radius-b0-medium-only { @include border-radius-b(0 !important) }
    .radius-bl0-medium-only { @include border-radius-bl(0 !important) }
    .radius-br0-medium-only { @include border-radius-br(0 !important) }
    .radius-l0-medium-only { @include border-radius-l(0 !important) }
    .radius-r0-medium-only { @include border-radius-r(0 !important) }
  }
  @media #{$medium-up} {
    .radius-t0-medium-up { @include border-radius-t(0 !important) }
    .radius-tl0-medium-up { @include border-radius-tl(0 !important) }
    .radius-tr0-medium-up { @include border-radius-tr(0 !important) }
    .radius-b0-medium-up { @include border-radius-b(0 !important) }
    .radius-bl0-medium-up { @include border-radius-bl(0 !important) }
    .radius-br0-medium-up { @include border-radius-br(0 !important) }
    .radius-l0-medium-up { @include border-radius-l(0 !important) }
    .radius-r0-medium-up { @include border-radius-r(0 !important) }
  }

  @media #{$large-only} {
    .radius-t0-large-only { @include border-radius-t(0 !important) }
    .radius-tl0-large-only { @include border-radius-tl(0 !important) }
    .radius-tr0-large-only { @include border-radius-tr(0 !important) }
    .radius-b0-large-only { @include border-radius-b(0 !important) }
    .radius-bl0-large-only { @include border-radius-bl(0 !important) }
    .radius-br0-large-only { @include border-radius-br(0 !important) }
    .radius-l0-large-only { @include border-radius-l(0 !important) }
    .radius-r0-large-only { @include border-radius-r(0 !important) }
  }
  @media #{$large-up} {
    .radius-t0-large-up { @include border-radius-t(0 !important) }
    .radius-tl0-large-up { @include border-radius-tl(0 !important) }
    .radius-tr0-large-up { @include border-radius-tr(0 !important) }
    .radius-b0-large-up { @include border-radius-b(0 !important) }
    .radius-bl0-large-up { @include border-radius-bl(0 !important) }
    .radius-br0-large-up { @include border-radius-br(0 !important) }
    .radius-l0-large-up { @include border-radius-l(0 !important) }
    .radius-r0-large-up { @include border-radius-r(0 !important) }
  }

  @if $include-xl-html-grid-classes == true {

    @media #{$xlarge-up} {
      .radius-t0-xlarge-up, .radius-t0-xlarge-only { @include border-radius-t(0 !important) }
      .radius-tl0-xlarge-up, .radius-tl0-xlarge-only { @include border-radius-tl(0 !important) }
      .radius-tr0-xlarge-up, .radius-tr0-xlarge-only { @include border-radius-tr(0 !important) }
      .radius-b0-xlarge-up, .radius-b0-xlarge-only { @include border-radius-b(0 !important) }
      .radius-bl0-xlarge-up, .radius-bl0-xlarge-only { @include border-radius-bl(0 !important) }
      .radius-br0-xlarge-up, .radius-br0-xlarge-only { @include border-radius-br(0 !important) }
      .radius-l0-xlarge-up, .radius-l0-xlarge-only { @include border-radius-l(0 !important) }
      .radius-r0-xlarge-up, .radius-r0-xlarge-only { @include border-radius-r(0 !important) }
    }

  }

}
