
//OOSCC Table Properties

.table {
  display: table !important;
}
.table-row {
  display: table-row !important;
}
.table-cell {
  display: table-cell !important;
  vertical-align: middle;
}

////override for column behaviour
////[class*="table-cell"] + [class*="table-cell"]:last-child {
//.table-cell + .table-cell:last-child {
//  //display: table-cell !important;
//  //vertical-align: middle;
//  float: none !important;
//}


@if map-get($includes, include-table-displays-responsive) {

  @media #{$small-only} {
    .table-small-only { display: table !important; }
    .table-row-small-only { display: table-row !important; }
    .table-cell-small-only { display: table-cell !important;}
  }

  @media #{$medium-only} {
    .table-medium-only { display: table !important; }
    .table-row-medium-only { display: table-row !important; }
    .table-cell-medium-only { display: table-cell !important;}
  }
  @media #{$medium-up} {
    .table-medium-up { display: table !important; }
    .table-row-medium-up { display: table-row !important; }
    .table-cell-medium-up { display: table-cell !important;}
  }

  @media #{$large-only} {
    .table-large-only { display: table !important; }
    .table-row-large-only { display: table-row !important; }
    .table-cell-large-only { display: table-cell !important;}
  }
  @media #{$large-up} {
    .table-large-up { display: table !important; }
    .table-row-large-up { display: table-row !important; }
    .table-cell-large-up { display: table-cell !important;}
  }

  @if $include-xl-html-grid-classes == true {

    @media #{$xlarge-up} {
      .table-xlarge-up { display: table !important; }
      .table-row-xlarge-up { display: table-row !important; }
      .table-cell-xlarge-up { display: table-cell !important;}
    }

  }

  //Responsive <table> soloution
  table.table-medium-up,
  table.table-large-up {
    display: block !important;

    > thead,
    > tbody,
    > tfoot,
    > tr,
    > tr > td,
    > tr > th,
    > thead > tr,
    > thead > tr > td,
    > thead > tr > th ,
    > tbody > tr,
    > tbody > tr > td,
    > tbody > tr > th ,
    > tfoot > tr,
    > tfoot > tr > td,
    > tfoot > tr > th
    {
      display: block !important;
    }

  }

  @media #{$medium-up} {
    table.table-medium-up {
      display: table !important;

      > tr > td,
      > tr > th,
      > thead > tr > td,
      > thead > tr > th ,
      > tbody > tr > td,
      > tbody > tr > th ,
      > tfoot > tr > td,
      > tfoot > tr > th
      {
        display: table-cell !important;
        //vertical-align: middle;
        //float: none !important;
      }

      > tr ,
      > thead > tr,
      > tbody > tr,
      > tfoot > tr
      { display: table-row !important; }

      > thead,
      > tbody,
      > tfoot
      { display: table-row-group !important; }
    }
  }

  @media #{$large-up} {
    table.table-large-up {
      display: table !important;

      > tr > td,
      > tr > th,
      > thead > tr > td,
      > thead > tr > th ,
      > tbody > tr > td,
      > tbody > tr > th ,
      > tfoot > tr > td,
      > tfoot > tr > th
      {
        display: table-cell !important;
        //vertical-align: middle;
        //float: none !important;
      }

      > tr ,
      > thead > tr,
      > tbody > tr,
      > tfoot > tr
      { display: table-row !important; }

      > thead,
      > tbody,
      > tfoot
      { display: table-row-group !important; }
    }
  }

}


@if map-get($includes, include-tables-js-responsive) {

  .js-responsive-table table {

    @media #{$small-only}{
      background-color: transparent;
      border: none;
    }

    tr {

      @media #{$small-only}{

        &:first-child {
          display: none;
        }

        display: block;
        margin-bottom: rem-calc(20);
        background-color: $colour-white;
        background-color: $colour-white;
        border-color: $table-border-color;
        border-width: $table-border-size;
        border-style: $table-border-style;
      }

      @media #{$medium-up}{
        display: table-row;
        margin-bottom: 0;
      }

    }

    td {
      display: block;
      position: relative;

      &:before {
        content: attr(data-heading) ": ";
        display: block;
        font-weight: bold;
        margin-bottom: 5px;

        @media #{$medium-up}{
          display: none;
        }
      }
    }

    display: block; //were in table selector
    tr { display: block; }
    tbody { display: block; }

    @media #{$medium-up}{
      display: table; //were in table selector
      th, td { display: table-cell; }
      tr { display: table-row; }
      tbody { display: table-row-group; }
    }
  }

}



//buttons in table structure that uses multiple colours
a.button.table.table ,
button.table.table {

  //background-color: transparent;
  &.transparent {
    background-color: transparent;
  }

  .button.transparent {
    background-color: transparent;
  }
  .background {
    //@include transition(background-color .4s);
    transition: background-color 0.3s ease-out;
  }

//  This is a hard coded example, the colours are all generated in the colours mixin
//  &:hover {
//    .colour-orange.background {
//      background-color: darken($colour-orange, 10%)
//    }
//    .colour-orange-dark.background {
//      background-color: darken($colour-orange-dark, 10%)
//    }
//  }

}


%table-height {
  //display: table !important; //can we use table oocss, may not always be a table with responsive oocss components/classes

  .table-row {
    height: 100%;
  }

  .table-cell.table-cell.table-cell { // Out weighs other selectors (e.g. table-medium-up)
    display: table-cell !important;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
  }

  input,
  select,
  textarea,
  button {
    height: 100%;

    // Correct collapsing issue in webkit // requires layout-engine
    .vendor-webkit & {
      box-sizing: content-box;
    }

  }

}

//table structure for standard inputs
.table-input-height {
  @extend %table-height;
  height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
}

//table structure em based tables - use in conjuction with a font size utility class i.e. .font-size-72
.table-em-height {
  @extend %table-height;
  //height: 1em; //leave this to oocss, see demo
}
