

.text-replace,
.textreplace {
  @include textreplace();
}

.small-paragraph p ,
p.small-paragraph p {
  font-size: $small-paragragh-font-size !important;
}

.serif {
  font-family: $serif-font-family !important;
}

.sans-serif {
  font-family: $sans-serif-font-family !important;
}

.header-font {
  font-family: $header-font-family !important;
}


h1, .h1 {
  font-size: $h1-font-size-for-small !important;
}
h2, .h2 {
  font-size: $h2-font-size-for-small !important;
}
h3, .h3 {
  font-size: $h3-font-size-for-small !important;
}
h4, .h4 {
  font-size: $h4-font-size-for-small !important;
}
h5, .h5 {
  font-size: $h5-font-size-for-small!important;
}
h6, .h6 {
  font-size: $h6-font-size-for-small !important;
}

@media #{$medium-up}{

  h1, .h1 {
    font-size: $h1-font-size-for-medium !important;
  }
  h2, .h2 {
    font-size: $h2-font-size-for-medium !important;
  }
  h3, .h3 {
    font-size: $h3-font-size-for-medium !important;
  }
  h4, .h4 {
    font-size: $h4-font-size-for-medium !important;
  }
  h5, .h5 {
    font-size: $h5-font-size-for-medium !important;
  }
  h6, .h6 {
    font-size: $h6-font-size-for-medium !important;
  }

}

@media #{$large-up}{

  h1, .h1 {
    font-size: $h1-font-size !important;
  }
  h2, .h2 {
    font-size: $h2-font-size !important;
  }
  h3, .h3 {
    font-size: $h3-font-size !important;
  }
  h4, .h4 {
    font-size: $h4-font-size !important;
  }
  h5, .h5 {
    font-size: $h5-font-size !important;
  }
  h6, .h6 {
    font-size: $h6-font-size !important;
  }

}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $header-font-family;
  color: $header-font-color;
  font-style: $header-font-style;
  font-weight: $header-font-weight;
  line-height: $header-line-height;
  margin-bottom: $header-bottom-margin;
  margin-top: $header-top-margin;
}



.font-size-inherit {
  font-size: inherit !important;
}

//make the kids grow up like their parents
.child-font-size-inherit * {
  font-size: inherit !important;
}


//for removing whitespace when <!-- --> comments just wont doo
.font-size-0 {
  font-size: 0 !important;
}


// -------------------------
//   RESPONSIVE FONT SIZES
//  (using ranges set in _variables.scss)
//--------------------------

@if map-get($includes, include-font-size-responsive) {

  //  Small Reduction
  //--------------------------
  @each $i in $small-font-range {
  //@for $i from first($small-font-range) through last($small-font-range) {

    .font-size-#{$i} {
      font-size: (rem-calc($i) * $small-font-reduction) !important;
    }

  }

  //  Medium Reduction
  //--------------------------
  @each $i in $medium-font-range {
  //@for $i from first($medium-font-range) through last($medium-font-range) {

    .font-size-#{$i} {
      font-size: (rem-calc($i) * $medium-font-reduction) !important;
    }

  }

  //  Large Reduction
  //--------------------------
  @each $i in $large-font-range {
  //@for $i from first($large-font-range) through last($large-font-range) {

    .font-size-#{$i} {
      font-size: (rem-calc($i) * $large-font-reduction) !important;
    }

  }

  //  Remove any reductions for medium up (actual size)
  //--------------------------

  @media #{$medium-up}{

    //@for $i from first($small-font-range) through last($large-font-range) {
    //
    //  .font-size-#{$i} {
    //    font-size: rem-calc($i) !important;
    //  }
    //
    //}

    @each $i in $small-font-range {

      .font-size-#{$i} {
        font-size: rem-calc($i) !important;
      }

    }

    @each $i in $medium-font-range {

      .font-size-#{$i} {
        font-size: rem-calc($i) !important;
      }

    }

    @each $i in $large-font-range {

      .font-size-#{$i} {
        font-size: rem-calc($i) !important;
      }

    }

  }

  @if map-get($includes, include-fixed-font-size) {
    //  couple font size with class .fixed-font-size so it doesn't reduce for small
    //--------------------------

    //@media #{$small-only}{

      @for $i from first($small-font-range) through last($large-font-range) {

        .fixed-font-size.font-size-#{$i} {
          font-size: rem-calc($i) !important;
        }

      }

    //}
  }

}

// Font Size in EM (0.1 - 0.9)
@for $i from 1 through 9 {
  .font-size-0pt#{$i}em {
    font-size: unquote(0 + '.' + $i + 'em')
  }
}


// ---------------------
//     FONT WEIGHTS
//----------------------

// Font Weight
$font-weight-min: 1 !default;
$font-weight-max: 9 !default;
@for $i from $font-weight-min through $font-weight-max {
  .font-weight-#{$i}00 {
    font-weight: ($i * 100) !important;
  }
}


// ---------------------
//     LINE HEIGHTS
//----------------------

// Line Height reset
//.line-height-normal { line-height: normal }
//.line-height-0 {  line-height: 0 }
//.line-height-1 {  line-height: 1 }
//.line-height-2 {  line-height: 2 }
//.line-height-3 {  line-height: 3 }
//.line-height-4 {  line-height: 4 }
//.line-height-5 {  line-height: 5 }

.child-line-height-inherit * {
  line-height: inherit !important;
}


@if map-get($includes, include-line-height) {

  // Line Height in Rem
  // Commented out as it creates a lot of stuff that can be done via Em line-heights and font sizes
  //$line-height-min: 10 !default;
  //$line-height-max: 72 !default;
  //@for $i from $line-height-min through $line-height-max {
  //  .line-height-#{$i} {
  //    line-height: rem-calc($i) !important;
  //  }
  //}


  @each $i in $line-height-list {

    $i-pt: str-replace(#{$i}, '.', 'pt');

    .line-height-#{$i-pt} {
      line-height: #{$i} !important;
    }

  }

  //no need for this method now we have the above. feel free to delete me one day
  // Line height in EM
  //$line-height-em-min: 1;
  //$line-height-em-max: 2;
  //@for $i from $line-height-em-min through $line-height-em-max {
  //  .line-height-#{$i} {
  //    line-height: #{$i}
  //  }
  //}
  //
  //// Line Height in Points 0.1 - 0.9
  //@for $i from 1 through 9 {
  //  .line-height-0pt#{$i} {
  //    line-height: unquote(0 + '.' + $i)
  //  }
  //}
  //// Line Height in Points 1.1 - 1.9)
  //@for $i from 1 through 9 {
  //  .line-height-1pt#{$i} {
  //    line-height: unquote(1 + '.' + $i)
  //  }
  //}

}


// ---------------------
//     DECORATION / UNDERLINES
//----------------------

.strike,
.strike-out,
.line-through {
  text-decoration: line-through !important;
}

.underline {
  text-decoration: underline !important;

  .underline-none {
    text-decoration: none !important;
  }
}

.underline-none {
  text-decoration: none !important;

  .underline {
    text-decoration: underline !important;
  }
}

.underline-on-hover {
  text-decoration: none !important;

  &:hover,
  &:hover * {
    text-decoration: underline !important;

    .underline ,
    .underline * {
      text-decoration: underline !important;
    }
    .underline-none ,
    .underline-none * {
      text-decoration: none !important;
    }
  }
}

.underline-none-on-hover {
  text-decoration: underline !important;

  &:hover,
  &:hover * {
    text-decoration: none !important;

    .underline ,
    .underline * {
      text-decoration: underline !important;
    }
    .underline-none ,
    .underline-none * {
      text-decoration: none !important;
    }
  }
}

.underline-always {
  text-decoration: underline !important;

  &:hover {
    text-decoration: underline !important;
  }
}

.thin-underline {
  box-shadow: inset 0 -1px !important;
}
a.thin-underline:hover {
  box-shadow: none !important;
}

.thin-underline-on-hover {
  box-shadow: none !important;

  &:hover,
  &:hover * {
    box-shadow: inset 0 -1px !important;

    .thin-underline-none ,
    .thin-underline-none * {
      box-shadow: none !important;
    }
  }
}

.thin-underline-none,
.box-shadow-none {
  box-shadow: none !important;
}



// ---------------------
//     FONT STYLE
//----------------------

.font-style-italic,
.italic { font-style: italic !important; }

.font-style-normal,
.normal { font-style: normal !important; }



// ---------------------
//    TEXT TRANSFORM
//----------------------

.text-transform-none { text-transform: none !important; }

.uppercase,
.text-transform-uppercase { text-transform: uppercase !important; }

.capitalise,
.capitalize,
.text-transform-capitalize,
.text-transform-capitalise { text-transform: capitalize !important; }

.lowercase,
.text-transform-lowercase { text-transform: lowercase !important; }


// ---------------------
//    WHITE SPACE
//----------------------

.nowrap,
//.no-wrap,
.white-space-nowrap {
  white-space: nowrap !important;
}

.wrap,
.white-space-normal {
  white-space: normal !important;
}


// ---------------------
//    BREAK WORD / WRAP
//----------------------

.word-break-break-all,
.break-all { word-break: break-all !important; }
.word-break-normal,
.break-normal { word-break: normal !important; }

.word-wrap-break-word,
.break-word { word-wrap: break-word !important; }
.word-wrap-normal,
.wrap-normal { word-wrap: normal !important; }


// ---------------------
//    TEXT ALIGNMENT
//----------------------

.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }

@media #{$small-only} {
  .text-left-small-only { text-align: left !important; }
  .text-right-small-only { text-align: right !important; }
  .text-center-small-only { text-align: center !important; }
}
@media #{$medium-only} {
  .text-left-medium-only { text-align: left !important; }
  .text-right-medium-only { text-align: right !important; }
  .text-center-medium-only { text-align: center !important; }
}
@media #{$medium-up} {
  .text-left-medium-up { text-align: left !important; }
  .text-right-medium-up { text-align: right !important; }
  .text-center-medium-up { text-align: center !important; }
}
@media #{$large-only} {
  .text-left-large-only { text-align: left !important; }
  .text-right-large-only { text-align: right !important; }
  .text-center-large-only { text-align: center !important; }
}
@media #{$large-up} {
  .text-left-large-up { text-align: left !important; }
  .text-right-large-up { text-align: right !important; }
  .text-center-large-up { text-align: center !important; }
}

@if $include-xl-html-grid-classes == true {
  @media #{$xlarge-only} {
    .text-left-xlarge-only { text-align: left !important; }
    .text-right-xlarge-only { text-align: right !important; }
    .text-center-xlarge-only { text-align: center !important; }
  }
  @media #{$xlarge-up} {
    .text-left-xlarge-up { text-align: left !important; }
    .text-right-xlarge-up { text-align: right !important; }
    .text-center-xlarge-up { text-align: center !important; }
  }
}


// ---------------------
//     LETTER SPACING
//----------------------

//commented out as we've only ever used px spacing on one project and then it was never consistent with regards to font size. By using em's below the spacing can be controlled much better than with px values.
//@if map-get($includes, include-letter-spacing) {
//  $letter-spacing-min: 1;
//  $letter-spacing-max: 9;
//  @for $i from $letter-spacing-min through $letter-spacing-max {
//    .letter-spacing-#{$i} {
//      letter-spacing: rem-calc($i) !important;
//    }
//  }
//}
//
//@if map-get($includes, include-letter-spacing-negative) {
//  $letter-spacing-negative-min: 1;
//  $letter-spacing-negative-max: 9;
//  @for $i from $letter-spacing-negative-min through $letter-spacing-negative-max {
//    .letter-spacing-#{$i}-negative {
//      letter-spacing: -(rem-calc($i)) !important;
//    }
//  }
//}

@if map-get($includes, include-letter-spacing) {

  $letter-spacing-em-min: 1 !default;
  $letter-spacing-em-max: 10 !default;

  @for $i from $letter-spacing-em-min through $letter-spacing-em-max {

    $i-val: ($i / 100);
    $i-pt: str-replace(#{$i-val}, '.', 'pt');

    .letter-spacing-#{$i-pt}em {
      letter-spacing: #{$i-val}em !important;
    }
  }
}
@if map-get($includes, include-letter-spacing-negative) {

  $letter-spacing-negative-em-min: 1 !default;
  $letter-spacing-negative-em-max: 10 !default;

  @for $i from $letter-spacing-negative-em-min through $letter-spacing-negative-em-max {

    $i-val: ($i / 100);
    $i-pt: str-replace(#{$i-val}, '.', 'pt');

    .letter-spacing-#{$i-pt}em-negative {
      letter-spacing: -#{$i-val}em !important;
    }
  }
}


// -------------------------
//     UL LIST STYLES
// -------------------------

@if map-get($includes, include-list-style) {

  .list-style-disc {
    list-style: disc !important;
  }
  .list-style-circle {
    list-style: circle !important;
  }
  .list-style-none {
    list-style: none !important;
  }
  .list-style-square {
    list-style: square !important;
  }

}



// -------------------------
//     INLINE LIST DIVIDERS
// -------------------------

@if map-get($includes, include-inline-list-dividers) {

  //by default its pipelined
  .inline-list-dividers {
    @extend .inline-list;

    > li {
      display: inline;
      position: relative;
      margin-right: 1.1em;

      &:after {
        content: '\007C'; // a pipeline |
        display: inline-block;
        position: relative;
        right: -0.75em;
        vertical-align: text-bottom;
        color: $colour-grey-light;
      }

      &:last-of-type:after {
        display: none !important;
        margin-right: 0 !important;
      }

    }

    //or make if font icon greater than >
    &.greater-than > li:after {
      @extend %fi-adm-font-family;
      @extend %fi-adm-breadcrumb-divider;
      font-size: 0.8em;
    }

    //or use a border instead of a pipeline
    &.border-list-dividers {
      > li {
        margin-right: 0;

        &:after {
          content: '';
          border-left: 1px solid;
          width: 1px;
          height: 1em;
          position: relative;
          right: 0;
          display: inline-block;
          vertical-align: middle;
          margin: 0 0.75em;
        }

        > * {
          vertical-align: middle;
        }

      }

    }

  }

}


@if map-get($includes, include-text-stroke) {

  //1px black text stroke .text-stroke-1px-colour-black
  @include text-stroke(
    colour-black, //colour name (dont include the dot)
    $colour-black, //colour variable name (see _variables.scss)
    1px //size value e.g. 1px 1em 1vh
  );

  //1em black text stroke .text-stroke-1em-colour-black
  @include text-stroke(
    colour-black, //colour name (dont include the dot)
    $colour-black, //colour variable name (see _variables.scss)
    1em //size value e.g. 1px 1em 1vh
  );

}
