
$cms-content-styled-lists: true !default;

@if map-get($includes, include-cms-content) {

  .mce-content-body,
  .wysiwyg ,
  .cms-content {

    ul {

      @if $cms-content-styled-lists == true {
        @extend %styled-list-defaults;
        @extend %fancy-list;
      }

    }

    ol,
    ul {
      text-align: left;
    }

    ol {
      margin-left: 1.2em;
    }

    p:last-child {
      margin-bottom: 0;
    }

    img[style*="float: right"],
    img[style*="float:right"],
    img[align="right"],
    img.right,
    img.float-right {
      margin: 0 0 $column-gutter $column-gutter;
    }

    img[style*="float: left"],
    img[style*="float:left"],
    img[align="left"],
    img.left,
    img.float-left {
      margin: 0 $column-gutter $column-gutter 0;
    }
  }

}
