
@if map-get($includes, include-dropdown-menu ) {

  .dropdown-menu {

    //basic show n hide function
    .has-dropdown ,
    .has-sub-dropdown {

      > .dropdown ,
      > .sub-dropdown {
        display: none;
      }

      &.open {
        > .dropdown ,
        > .sub-dropdown {
          display: block;
        }
      }

      .no-js & {
        &:hover {
          > .dropdown ,
          > .sub-dropdown {
            display: block;
          }
        }
      }

    }

    //styling
    .has-dropdown {
      position: relative;

      .dropdown {
        top: 100%;
        position: absolute;
        z-index: 5;
        width: 220px;
      }
    }

    .has-sub-dropdown {
      position: relative;

      .sub-dropdown {
        left: 100%;
        top: 0;
        position: absolute;
        width: 220px;
      }
    }

  }

}
