
// Text replace technique
%textreplace {
  text-indent: 1000%;
  white-space: nowrap;
  overflow: hidden;
}

// Can make stuff vertically aligned (not <IE10)
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}