@if map-get($includes, include-fancy-radiobuttons ) {

  $fancy-radio-bg-colour:               lighten($colour-grey-lightest, 4%) !default;
  $fancy-radio-dot-active-colour:       $colour-grey-dark !default;
  $fancy-radio-dot-inactive-colour:     rgba($colour-grey-dark,0) !default;

  $fancy-radio-border-radius:           50% !default;
  $fancy-radio-border-size:             1px !default;
  $fancy-radio-border-colour:           lighten($colour-grey-light, 8%) !default;


  //fancy radio buttons
  input[type='radio'].fancy-radio {
    @include visually-hidden();

    + label {
      display: table;
      position: relative;
      margin: 0;

      > * {
        display: table-cell;
        vertical-align: middle;
        line-height: 1;
        padding-left: .5em;
      }

      @extend %fake-radio;

    }

    &:checked + label:after {
      color: $fancy-radio-dot-active-colour;
    }

    &:disabled {
      cursor: not-allowed;

      ~ label {
        cursor: not-allowed;

        &:before ,
        &:after {
          opacity: 0.5;
        }
      }
    }

  }
  //input[type='radio'].fancy-radio


  // fancy-radio v2 - let the label, wrap the input.
  // yes, we need more markup... and yes that was a take me out reference.
  label.fancy-radio {
    position: relative;
    line-height: inherit;
    display: table;

    input[type='radio'] {
      @include visually-hidden();

      &:checked ~ .fake-radio:after {
        color: $fancy-radio-dot-active-colour;
      }
    }

    .radio-text {
      display: table-cell;
      vertical-align: middle;
      line-height: 1;
      padding-left: .5em;
    }

    &.text-right .radio-text {
      padding-left: 0;
      padding-right: .5em;
    }

    input:disabled {

      ~ .fake-radio {
        opacity: 0.5;
      }
      ~ .fake-radio,
      ~ .radio-text {
        cursor: not-allowed;
      }
    }

  }//label.fancy-radio


  .fake-radio {
    position: relative;
    display: block;
    vertical-align: top;

    @extend %fake-radio;
  }

  %fake-radio {

    &:before,
    &:after {
      @extend %fi-adm;
      line-height: 1;
      display: block !important;
      border-radius: $fancy-radio-border-radius;
      width: 1em;
      height: 1em;
      font-size: 1em;
    }

    &:before {
      content: '';
      position: relative;
      z-index: 1;
      background-color: $fancy-radio-bg-colour;
      box-shadow: inset 0 0 0 $fancy-radio-border-size $fancy-radio-border-colour;
    }

    &:after {
      @extend %fi-adm-radio-inner;
      left: 0;
      top: 0;
      position: absolute;
      z-index: 2;
      color: $fancy-radio-dot-inactive-colour;

      // Fixes icon not being exactly centered in IE for sizes over 17px. Apply if required.
      //.browser-internet-explorer &,
      .lt-ie10 & {
        top: 1px;
      }

    }

  }

}
