@if map-get($includes, include-fancy-checkbox ) {

  $fancy-checkbox-bg-colour:                lighten($colour-grey-lightest, 4%) !default;
  $fancy-checkbox-tick-inactive-colour:     rgba($colour-grey-dark,0) !default;
  $fancy-checkbox-tick-active-colour:       $colour-grey-dark !default;

  $fancy-checkbox-border-radius:            0 !default;
  $fancy-checkbox-border-size:              1px !default;
  $fancy-checkbox-border-colour:            lighten($colour-grey-light, 8%) !default;


  //fancy checkbox
  input[type='checkbox'].fancy-checkbox {
    @include visually-hidden();

    ~ label {
      display: table;
      position: relative;
      margin: 0;

      > * {
        display: table-cell;
        vertical-align: middle;
        line-height: 1;
        padding-left: .5em;
      }

      @extend %fake-checkbox;

    }

    &:checked ~ label:after {
      color: $fancy-checkbox-tick-active-colour;
    }

    &:disabled {
      cursor: not-allowed;

      ~ label {
        cursor: not-allowed;

        &:before {
          opacity: 0.5;
        }
      }
    }

  }
  //input[type='checkbox'].fancy-checkbox


  // fancy-checkboxes v2 - let the label, wrap the input.
  // yes, we need more markup... and yes that was a take me out reference.
  label.fancy-checkbox {
    position: relative;
    line-height: inherit;
    display: table;

    input[type='checkbox'] {
      @include visually-hidden();

      &:checked ~ .fake-checkbox:after {
        color: $fancy-checkbox-tick-active-colour;
      }
    }

    .checkbox-text {
      display: table-cell;
      vertical-align: middle;
      line-height: 1;
      padding-left: .5em;
    }

    &.text-right .checkbox-text {
      padding-left: 0;
      padding-right: .5em;
    }

    input:disabled {

      ~ .fake-checkbox {
        opacity: 0.5;
      }
      ~ .fake-checkbox,
      ~ .checkbox-text {
        cursor: not-allowed;
      }
    }

  }
  //input[type='checkbox'].fancy-checkbox

  .fake-checkbox {
    position: relative;
    display: block;
    vertical-align: top;

    @extend %fake-checkbox;
  }

  %fake-checkbox {

    &:before,
    &:after {
      @extend %fi-adm;
      line-height: 1;
      display: block !important;
      border-radius: $fancy-checkbox-border-radius;
      width: 1em;
      height: 1em;
      font-size: 1em;
    }

    &:before {
      content: '';
      position: relative;
      z-index: 1;
      background-color: $fancy-checkbox-bg-colour;
      box-shadow: inset 0 0 0 $fancy-checkbox-border-size $fancy-checkbox-border-colour;
    }

    &:after {
      @extend %fi-adm-checkbox-tick;
      left: 0;
      top: 0;
      position: absolute;
      z-index: 2;
      color: $fancy-checkbox-tick-inactive-colour;

      // Fixes icon not being exactly centered in IE for sizes over 17px. Apply if required.
      //.browser-internet-explorer &,
      .lt-ie10 & {
        top: 1px;
      }

    }
  }

}