@if map-get($includes, include-fancy-switch ) {

  .fancy-switch {

    .switch {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 2.1em;
      height: 1.1em;
      background-color: $colour-error;
      border-width: 0.15em;
      border-style: solid;
      border-color: $colour-error;
      border-radius: 1em;
      transition:
        background-color .3s ease,
        border-color .3s ease;

      &:before,
      &:after {
        @extend %fi-adm;
        position: absolute;
        z-index: 1;
        top: 0;
        margin-top: .25em;
        font-size: .55em;
        line-height: 1;
        color: rgba($colour-black, .25);

        .lt-ie10 & {
          font-size: 12px;
          margin-top: 3px;
        }

      }

      // Tick
      &:before {
        @extend %fi-adm-check;
        left: 0;
        margin-left: .35em;

        .lt-ie10 & {
          margin-left: 3px;
        }

      }

      // Cross
      &:after {
        @extend %fi-adm-close;
        right: 0;
        margin-right: .35em;

        .lt-ie10 & {
          margin-right: 3px;
        }

      }

      .toggle {
        position: absolute;
        z-index: 2;
        content: '';
        height: .8em;
        width: .8em;
        border-radius: 50%;
        left: 0;
        top: 0;
        background-color: $colour-white;
        transition: transform .3s ease;
      }

    }

    // Checked State
    input[type="checkbox"] {
      display: none;

      &:checked + .switch {
        background-color: $colour-success;
        border-color:  $colour-success;

        .toggle {
          transform: translateX(1em);
        }

      }

    }

    // Focus State
    .fancy-switch:focus .switch,
    input[type="checkbox"]:focus + .switch {
      border-color: rgba($colour-black, .1);
    }

  }

}