
// Google Maps API
// -- Fixes controls displaying incorrectly
.gm-style img {
  max-width: none !important;
}
.gm-style label {
  width: auto;
  display: inline !important;
}

// iOS
// -- Stops zoom of inputs on iOS
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus {
    font-size: 16px;
  }
}

select,
select:focus,
select:active,
select.sod-select,
select.sod-select:focus,
select.sod-select:active
{
  font-size: 16px !important;
}


// Foundation Reveal
// -- Firefox display fix
@media only screen and (max-width: 40em){
  .reveal-modal, dialog {
    min-height: initial;
  }
}


// Number Input Styles
// -- Hide input spinners (up/down arrows)

@if map-get($includes, include-hide-number-input-arrows) {

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

}


//cos we live in a responsive world
fieldset { min-width: 100%; }


//-------------------
//   IE8 (and below) SPECIFIC FIXES
//--------------------

.ie8 {

  .left-off-canvas-menu {
    display: none !important;
  }

  .header {
    display: block !important;
  }

  button,
  .button,
  .button-padding {
    padding: 16px 32px !important;
  }

}

//  Hide for IE9 and below
// -------------

.none-lt-ie9,
.hide-lt-ie9 {

  .lt-ie9 & {
    display: none !important;
  }

}


//-------------------
//   IE Flicker Fix
//   - Solves flicker when changing opacity on hover
//--------------------

.browser-internet-explorer ,
.vendor-ie {

  .flicker-fix {
    opacity:0.99;
    filter:alpha(opacity=99);
  }

}


//-------------------
//   Selectbox Fix
//   - Solves selectboxes closing randomly in IE
//--------------------

select,
option {

  .lt-ie10 & {
//    background-color: #fff; // commenting out because it interferes with .label-placeholder technique and haven't been able to repeat the issue described in IE
    background-image: none !important;
    color: #000 !important;
    font-family: Arial, sans-serif !important;
    padding-right: 5px !important;
  }

}


//-------------------
//   Alert box info colour override
//   - the mixin lightens the background colour and tuns tones into colours, thanks!
//--------------------

.alert-box.info {
  color: $colour-off-black;
}


//-------------------
//   Fixes for foundations Tooltips for small
//--------------------

$tooltip-bg: #333 !default;

.tooltip {
  /*opacity: initial;*/ //fix for bootstaps tooltip use

  @media #{$small-only} {
    max-width: none !important;
    left: auto !important;

    $colGutter: $column-gutter;
    width: calc(100% - #{$colGutter} ) !important;

    margin: 0 ($column-gutter / 2);

    > .nub {
      border-color: transparent transparent $tooltip-bg transparent !important;
    }
  }
}

