@if map-get($includes, include-forms ) {

  .input-margin-bottom {
    margin-bottom: $input-margin-bottom !important;
  }

  @if map-get($includes, include-form-error-neg-top-margin ) {

    .inline-error,
    span.error,
    small.error {
      margin-top: -$input-margin-bottom;
    }

  }

  .input-margin-bottom-negative {
    margin-top: -$input-margin-bottom !important;
  }

  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], select {
    height: rem-calc(38);
    padding: rem-calc(4 10);
    border-radius: $global-radius;
    margin-bottom: $input-margin-bottom;
  }

  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], input[type="file"], input[type="checkbox"], input[type="radio"], select, textarea {
    margin-bottom: $input-margin-bottom;

    &.has-error, .has-error & {
      border: 1px solid $colour-error;
    }

    &.has-warning, .has-warning & {
      border: 1px solid $colour-warning;
    }

    &.has-success, .has-success & {
      border: 1px solid $colour-success;
    }

  }

  input.sort-order {
    width: rem-calc(50);
  }

  input[data-date-picker]{
    width: rem-calc(120);
  }

  // Hide clear (X) in IE
  input[data-date-picker]::-ms-clear {
    display: none;
  }

  input[data-time-picker]{
    width: rem-calc(80);
  }

  input[type="number"]{
    width: rem-calc(100);
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAGCAYAAADZq14TAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADtJREFUeNpiYMAOzgPxfzz4PAOFQAGI3+Mw/D1UnmIQgMOCAAYqgn40w/sZaADOUyvc8cXHfXLDHSDAAAKHHSMwhKVrAAAAAElFTkSuQmCC);
    width: auto;
    padding-right: rem-calc(40);

    .input-row & {
      min-width: rem-calc(250);

      &[multiple] {
        width: 100%;
      }

    }

    &:focus {
      outline: none;
    }

  }

  select::-ms-expand { /* for IE 11 */
    display: none;
  }

  textarea {
    height: auto;
    min-height: rem-calc(200);
    border-radius: $global-radius;
  }

  .help-text {
    display: block;
    font-size: rem-calc(12);
    //line-height: 1.2;
    color: $colour-grey;
    margin-bottom: rem-calc(10);
  }

  .bottom-help-text {
    font-size: rem-calc(11);
    margin-top: rem-calc(-20);
    padding-top: rem-calc(2);
  }

  .input-row {
    padding: rem-calc(20 20 1 20);
    border-bottom: 1px solid rgba($colour-black, .075);
  }

  label, .label {
    color: $colour-grey-dark;
    margin-bottom: rem-calc(2);
    
    .required {
      color: $colour-error;
    }
    
  }

  .output-field {
    color: $input-font-color;
  }

  .inline-error {
    display: block;
    font-size: rem-calc(14);
    color: $colour-error;
    margin-bottom: $input-margin-bottom;
  }

  .edit-main-content .input-row:last-of-type,
  .edit-main-content .input-row.last-row {
    border-bottom: 0 !important;
  }

  textarea[data-max-length],
  input[data-max-length]{
    padding-right: rem-calc(40);
  }

  .remaining-characters {
    cursor: default;
    //pointer-events: none;
    display: block;
    position: absolute;
    top: rem-calc(10);
    right: rem-calc(10);
    font-size: rem-calc(12);
    color: $colour-grey;

    &.has-warning {
      color: $colour-warning;
    }

    &.has-error {
      color: $colour-error;
    }

  }

}
