@if map-get($includes, include-highlighted-text ) {

  $highlighted-text-padding-x: 15px !default;
  $highlighted-text-padding-y: 10px !default;
  $highlighted-text-bg-color: $colour-white !default;

  .highlighted-text {
    padding: $highlighted-text-padding-y 0;
    margin-right: ($highlighted-text-padding-x * 2);

    > * {
      z-index: 3;
      display: inline !important;
      font-size: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      left: $highlighted-text-padding-x;
      padding-top: $highlighted-text-padding-y;
      padding-bottom: $highlighted-text-padding-y;

      > span {
        position: relative;
        left: -$highlighted-text-padding-x;
      }

    }

    > *:last-child {
      position: relative !important;
      z-index: 1;
      overflow: hidden;
      background-color: $highlighted-text-bg-color; // Default background colour, easily overwritten with OOCSS.
      left: ($highlighted-text-padding-x * 2);

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        height: 100%;
        width: $highlighted-text-padding-x * 2;
        background-color: inherit;
      }
    }

  }


  // Overrides for Firefox (Visual Bugs)
  @-moz-document url-prefix() {

    .highlighted-text {
      margin-right: 0 !important;

      > * {
        box-decoration-break: clone !important;
        left: 0 !important;
        padding-left: $highlighted-text-padding-x !important;
        padding-right: $highlighted-text-padding-x !important;
        z-index: auto !important;

        > span {
          left: auto !important;
          z-index: 2 !important;
        }

        &:before {
          display: none !important;
        }

      }

      > *.absolute {
        z-index: 3 !important;
      }

    }

  }

}
