@if map-get($includes, include-label-placeholder ) {

  $label-placehoder-font-colour: $placeholder-font-colour !default;
  $label-placehoder-focus-bg-colour: $colour-grey-dark !default;
  $label-placehoder-focus-font-colour: $colour-white !default;

  input,
  select,
  textarea {
    @include placeholder {
      color: $placeholder-font-colour;
    }
  }

  //lables that look like placholder styles
  .label-placeholder {

    > div {
      position: relative;
      margin-bottom: $input-margin-bottom;
    }

    label {
      position: absolute;
      z-index: 1; // needed if the background colour has been set
      top: 0;
//      bottom: 0;
      left: 0;
      width: 100%;
      padding: $form-spacing / 2;
      height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
      color: $placeholder-font-colour;
      font-size: $input-font-size;
      overflow: hidden;
      line-height: $form-spacing * 1.3;
      margin-bottom: 0;
      cursor: text; // so the input still feels like a form input

      .lt-ie10 & {
        left: 1px;
      }

    }

    input, select, textarea {
      margin-bottom: 0 !important;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: $input-bg-color !important;
      color: $input-font-color;

      // Hides the label
      &:focus {
        background-color: $input-focus-bg-color !important;
      }
      &.transparent {
//        background-color: transparent !important;
      }
      &.focus {
        background-color: $input-focus-bg-color !important;
      }
      &.valid {
        background-color: $input-bg-color !important;
      }

      &.focus + label,
      &:focus + label {
        margin-bottom: 0;
        color: $label-placehoder-focus-font-colour;
        padding: rem-calc(4 6);
        z-index: 2;
        height: auto;
        width: auto;
        overflow: visible;
        font-size: rem-calc(14);
        line-height: rem-calc(15);
        left: 0;
        bottom: 100%;
        top: auto;
        margin-top: rem-calc(-35);
        background-color: $label-placehoder-focus-bg-colour;

        //.colour-grey-light.background & {
        //  background-color: $colour-grey;
        //}

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 100%;
          left: rem-calc(6);
          border-style: solid;
          border-width: 6px;
          border-color: $label-placehoder-focus-bg-colour transparent transparent transparent;

          //.colour-grey-light.background & {
          //  border-color: $colour-grey transparent transparent transparent;
          //}
        }
      }

      &.valid + label {
        visibility: hidden; // the input has content, so we can hide the label for now
      }

      &.valid {
        &.focus + label,
        &:focus + label {
          visibility: visible; // still show the label on focus (even with content)
        }
      }

    }

    select {
      z-index: 2; // needed for IE9 so that the select becomes a sort of window frame around the label sitting behind it
      background-color: transparent !important;

      &:focus {
        background-color: $input-focus-bg-color !important;
      }
      &.focus {
        background-color: $input-focus-bg-color !important;
      }
      &.transparent {
//        background-color: transparent !important;
      }
      &.valid {
        background-color: $input-bg-color !important;
      }

      & + label {
        z-index: 1; // needed for IE9 so that the select becomes a sort of window frame around the label sitting behind it
        background-color: $input-bg-color;
      }
    }

//    select + label {
//      z-index: auto;
//    }
    //input, select, textarea

  }
  //.label-placeholder

}
