// 'Magic Line' header/divider
// -------------------------
@if map-get($includes, include-magic-line) {

  .magic-line {
    display: block;
    text-align: center;
    position: relative;
    overflow: hidden;

    > span {
      position: relative;

      &:before,
      &:after {
        content: '';
        display: block;
        z-index: 1;
        position: absolute;
        width: 100%;
        top: 50%;
        border-top: 1px solid;
        margin-top: 1px;
      }

      &:before {
        left: 100%;
      }

      &:after {
        right: 100%;
      }

    }

  }

}
