
@if map-get($includes, include-mobile-header) {

  $mobile-header-height: rem-calc(60) !default;
  $mobile-header-logo-max-width: rem-calc(86) !default;
  $mobile-header-border-bottom: $colour-grey-lightest !default;

  .mobile-header {
    position: fixed;
    z-index: 99;
    height: $mobile-header-height;
    border-bottom: 1px solid $mobile-header-border-bottom;

    .mobile-tap-area {
      width: rem-calc(42);
      height: rem-calc(42);
      line-height: rem-calc(42);
    }

    // On touch devices, when we focus on an input, body gets class .input-focus so we can unfix the fixed so we can see input focus with keyboards onscreen etc
    .input-focus & {
      position: absolute !important;
    }

  }

  .mobile-logo {
    max-width: $mobile-header-logo-max-width;
  }

}