@if map-get($includes, include-offcanvas-menu) {

  $offcanvas-menu-background-colour: $colour-grey !default;
  $offcanvas-menu-button-colour:  $offcanvas-menu-background-colour !default;
  $offcanvas-menu-button-border-bottom-colour: darken($offcanvas-menu-button-colour, 2.5%) !default;
  $offcanvas-menu-has-dropdown-arrow-colour: rgba($colour-white, 0.4) !default;

  .left-off-canvas-menu {
    transform: translate3d(-100%, 0, 0);
  }
  .right-off-canvas-menu {
    transform: translate3d(100%, 0, 0);
  }

  .left-off-canvas-menu,
  .right-off-canvas-menu {
    background-color: $offcanvas-menu-background-colour;

    nav {
      position: relative;

      ul {
        margin-left: 0;
      }

      li {
        display: block;

        a {
          background-color: $offcanvas-menu-button-colour;
          border-bottom-color: $offcanvas-menu-button-border-bottom-colour;
          color: $colour-white;
          padding: rem-calc(13 16);
          outline: none;

          &:hover {
            background-color: darken($offcanvas-menu-button-colour, 5%);
            border-bottom-color: darken($offcanvas-menu-button-border-bottom-colour, 5%);
          }

        }

        &.has-dropdown {
          pointer-events: auto;

          > a {
            position: relative;
            z-index: 998;
            padding-right: 32px;

            &:after {
              z-index: 999;
              content: '';
              position: absolute;
              right: 16px;
              top: 50%;
              margin-top: -5px;
              border-style: solid;
              border-width: 5px;
              border-color: transparent transparent transparent $offcanvas-menu-has-dropdown-arrow-colour;
            }

            &.open:after {
              border-color: $offcanvas-menu-has-dropdown-arrow-colour transparent transparent transparent;
            }
          }

          .dropdown {
            margin: 0;
            //background-color: darken($offcanvas-menu-button-colour, 10%);

            li a {
              background-color: darken($offcanvas-menu-button-colour, 10%);
              border-bottom-color: darken($offcanvas-menu-button-border-bottom-colour, 10%);
              position: relative;
              padding-left: 36px;
              font-size: rem-calc(15);

              &:hover {
                background-color: darken($offcanvas-menu-button-colour, 15%);
                border-bottom-color: darken($offcanvas-menu-button-border-bottom-colour, 15%);
              }

              i {
                position: absolute;
                width: 16px;
                height: 16px;
                left: 10px;
                top: 50%;
                margin-top: -8px;
                display: inline-block;
              }
            }

            .dropdown {
              //background-color: darken($offcanvas-menu-button-colour, 20%);

              li a {
                background-color: darken($offcanvas-menu-button-colour, 20%);
                border-bottom-color: darken($offcanvas-menu-button-colour, 20%);
                &:hover {
                  background-color: darken($offcanvas-menu-button-colour, 25%);
                  border-bottom-color: darken($offcanvas-menu-button-border-bottom-colour, 25%);
                }
              }
            }
          }
        }

      }
    }

    .lt-ie9 & {
      display: none;
    }

  }
  //.left-off-canvas-menu

  .page-container {
    //transition: all 0.5s linear;

    .move-left &,
    .move-right & {
      //filter: blur(2px);
    }
  }

  .exit-off-canvas {
    .move-left &,
    .move-right & {
      box-shadow:  inset -20px 0 20px -20px rgba(0, 0, 0, 0.25);
      background: rgba($colour-white, .75);

      &:hover {
        background: rgba($colour-white, .66);
      }
    }
  }

  //visually hides and shows any offcanvas menu that happens to be open in medium when browser grows to large
  @media #{$large-up}{

    .left-off-canvas-menu,
    .right-off-canvas-menu,
    .exit-off-canvas {
      display: none !important;
    }

    .off-canvas-wrap > .inner-wrap {
      transition: none !important;
      transform: none !important;
    }

  }

}
