// -------------------------
// Outdated Browser Message
// -------------------------

// Styles for the message displayed on IE8 and down.

@if map-get($includes, include-outdated-browser) {

  #outdated {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
    font-family: Arial, sans-serif;
    font-weight: 300;
    background-color: #f25648;
    color: #fff;
    padding: 30px 60px 20px;

    .outdated-header {
      display: inline-block;
      position: relative;
      line-height: 24px;
      font-size: 24px;
      font-family: Arial, sans-serif;
      font-weight: 300;
      color: #fff;
      margin-bottom: 16px;
    }

    .outdated-message {
      font-size: 14px;
      line-height: 14px;
      margin-top: 5px;

      div {
        display: inline-block;
        margin-bottom: 5px;
      }

    }

    .update-button {
      display: inline-block;
      position: relative;
      top: -4px;
      padding: 10px 20px;
      margin: 0 10px;
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      border: 2px solid #fff;
      cursor: pointer;
      font-weight: 700;

      &:hover {
        color: #f25648;
        background-color: #fff;
      }

    }

    .close-wrap {
      position: absolute;
      top: 50%;
      margin-top: -15px;
      right: 30px;
      width: 15px;
      height: 15px;

      .close-button {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        font-size: 36px;
        text-decoration: none;
        color: #fff;

        &:hover {
          color: #ccc;
        }

      }

    }

  }

}
