
// --------------------------
//
//  PAGE BUILDER BLOCKS
//  STYLE OVERRIDES
//
// --------------------------

// Button Page Block
.button-page-block {

  .button-link-type-content {

    .chosen-container,
    .file-select-field {
      margin-bottom: 0 !important;
    }

    .chosen-container {
      width: 100% !important;
      max-width: 100% !important;
    }

  }

}