
$page-pagination: true !default;

@if $page-pagination == true {

  .page-pagination li {
    &:first-of-type > * {
      border-radius: $global-radius 0 0 $global-radius;
    }
    &:last-of-type > * {
      border-radius: 0 $global-radius $global-radius 0;
    }
  }

}
