@if map-get($includes, include-tabs-responsive) {

  $responsive-tabs-border:                    $colour-grey-light !default;

  $responsive-tabs-tab-bg:                    $colour-white !default;
  $responsive-tabs-tab-bg-active:             $colour-white !default;
  $responsive-tabs-tab-colour:                $colour-grey !default;
  $responsive-tabs-tab-colour-active:         $colour-grey-darkest !default;
  $responsive-tabs-tab-border:                $colour-grey-light !default;
  $responsive-tabs-tab-border-active:         $colour-white !default;

  $responsive-tabs-tab-stacked-bg:            $colour-white !default;
  $responsive-tabs-tab-stacked-bg-active:     $colour-grey-lightest !default;
  $responsive-tabs-tab-stacked-colour:        $colour-grey !default;
  $responsive-tabs-tab-stacked-colour-active: $colour-grey-darkest !default;
  $responsive-tabs-tab-stacked-border:        $colour-grey-light !default;
  $responsive-tabs-tab-stacked-border-active: $colour-grey-light !default;

  $responsive-tabs-content-bg:                $colour-white !default;
  $responsive-tabs-content-border:            $colour-grey-light !default;

  ul.tabs {
    position: relative;
    z-index: 2;
    border-color: $responsive-tabs-border;
    border-style: solid;
    border-width: 1px 1px 0 1px;

    .tab {
      background-color: $responsive-tabs-tab-bg;
      border-color: $responsive-tabs-tab-border;
      border-style: solid;
      border-width: 0 0 1px 0;
      text-align: center;

      a {
        display: block;
        padding: rem-calc(10 25);
        color: $responsive-tabs-tab-colour;
      }

    }

  }

  .tabs-content {
    margin-top: rem-calc(-1);

    .content {
      padding: rem-calc(20);
      background-color: $responsive-tabs-content-bg;
      border-style: solid;
      border-color: $responsive-tabs-content-border;
      border-width: 1px;

      &.active {
        border-width: 0 1px 1px 1px;
      }

      p:last-child {
        margin-bottom: 0;
      }

    }

    > a {
      display: block;
      color: $responsive-tabs-tab-stacked-colour;
      background-color: $responsive-tabs-tab-stacked-bg;
      padding: rem-calc(10 25);
      border-color:  $responsive-tabs-tab-stacked-border;
      border-style: solid;
      border-width: 0 1px 1px 1px;

      &:first-child {
        border-width: 1px;
      }

      &.selected {
        color: $responsive-tabs-tab-stacked-colour-active;
        background-color: $responsive-tabs-tab-stacked-bg-active;
        border-color: $responsive-tabs-tab-stacked-border-active;
      }

    }

  }


  // Inline Tabs for Tablet devices and bigger (default)
  // If you want it just for desktop only, make it just for $large-up.
  @media #{$medium-up} {

    ul.tabs {
      border-width: 0 0 1px 0 !important;

      .tab {
        display: inline-block;
        vertical-align: bottom;
        margin: rem-calc(0 0 -1 0);
        border-width: 1px;

        & + .tab {
          margin-left: rem-calc(-1);
        }

        &.active {
          border-bottom: 1px solid $responsive-tabs-tab-border-active;
          background-color: $responsive-tabs-tab-bg-active;

          a {
            padding: rem-calc(12 25);
            color: $responsive-tabs-tab-colour-active;
          }

        }

      }

    }

    .tabs-content {

      > a {
        display: none;
      }

    }

    .content {
      margin-top: 0;
      border-width: 0 1px 1px 1px !important;
    }

  }


}
