@if map-get($includes, include-selection-colour ) {

  $selection-bg-colour: $colour-secondary !default;
  $selection-font-colour: $colour-white !default;

  // Note: Only color and background can be styled
  // See: https://css-tricks.com/overriding-the-default-text-selection-color-with-css/

  ::selection {
    background: $selection-bg-colour; // WebKit/Blink Browsers
    color: $selection-font-colour;
  }
  ::-moz-selection {
    background: $selection-bg-colour; // Gecko Browsers
    color: $selection-font-colour;
  }

}
