
@if map-get($includes, include-star-rating-interactive) {

  $star-rating-nojs-fallback: true !default;

  $star-rating-inactive-colour: $colour-grey-light !default;
  $star-rating-active-colour: #d8c498 !default;
  $star-rating-selected-colour: #ffc038 !default;

  .star-rating {

    .star-option {
      cursor: pointer;

      &.active label {
        color: $star-rating-active-colour !important;
      }

      &.active.selected label {
        color: $star-rating-selected-colour !important;
      }

      &.inactive label {
        color: $star-rating-inactive-colour !important;
      }

      &.selected label {
        color: $star-rating-selected-colour !important;
      }

      label {
        margin: 0 !important;
      }

    }

  }


  // No Javascript fallback styles
  // -----------------------------

  @if $star-rating-nojs-fallback == true {

    .star-rating {

      .star-option {

        label {

          .no-js & {
            margin-right: rem-calc(10) !important;

            &:before {
              display: none !important;
            }
          }
        }

        input {

          .no-js & {
            margin: rem-calc(0 -8 0 0) !important;
          }

        }

        input,
        label > span {

          .no-js & {
            // Undo .visually-hidden
            cursor: pointer !important;
            position: static !important;
            width: auto !important;
            height: auto !important;
            overflow: visible !important;
            clip: auto !important;
          }

        }

      }

    }

    .js-star-rating-readout {

      .no-js & {
        display: none !important;
      }

    }

  }

}