
$styled-list-margin-bottom: rem-calc(20) !default;
$styled-list-li-margin-bottom: 0.5em !default;

$fancy-list-bullet-colour: $primary-color !default;
$tick-list-bullet-colour: $colour-success !default;



%styled-list-defaults {
  html:not(.lt-ie10) & {
    @extend .simple-list;
    margin-bottom: $styled-list-margin-bottom;

    ul {
      @extend .simple-list;
    }

    li {
      position: relative;
      padding-left: 1.2em;
      margin-bottom: $styled-list-li-margin-bottom;

      &:first-of-type {
        margin-top: $styled-list-li-margin-bottom;
      }

      &:before {
        @extend %fi-adm;
        position: absolute;
        left: 0;
      }
    }
  }
}

%fancy-list {
  html:not(.lt-ie10) & {
    li {

      &:before {
        @extend %fi-adm-circle;
        top: 0.8em;
        font-size: 0.5em;
        color: $fancy-list-bullet-colour;
      }
    }

    ol li {
      padding-left: 0;

      &:before {
        display: none;
      }
    }
  }
}

%tick-list {
  html:not(.lt-ie10) & {
    li {

      &:before {
        @extend %fi-adm-ul-tick;
        top: 0.4em;
        font-size: 0.7em;
        color: $tick-list-bullet-colour;
      }
    }
  }
}


@if map-get($includes, include-tick-list) or map-get($includes, include-fancy-list) {
  .tick-list,
  .fancy-list
  {
    @extend %styled-list-defaults;
  }

}

@if map-get($includes, include-tick-list) {
  .tick-list {
    @extend %tick-list;
  }

}

@if map-get($includes, include-fancy-list) {
  .fancy-list {
    @extend %fancy-list;
  }

}


