
//example of use
//@include at2x('/assets/images/image-name', jpg, 512px, 512px, -0px, -0px);

// retina background images
@mixin at2x($path, $ext: "jpg", $w: auto, $h: auto, $x: 0px, $y: 0px) {

  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";

  background-image: url("#{$at1x_path}");

  background-position: #{$x} #{$y};

  background-repeat: no-repeat;
  display: inline-block;

  @media all and (-webkit-min-device-pixel-ratio : 1.5),
  all and (-o-min-device-pixel-ratio: 3/2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {

    background-image: url("#{$at2x_path}");
    background-size: $w $h;
  }
}
