
//example use
//@include border-radius(3px);
//@include border-radius-tl(3px);

@mixin border-radius($radius) {
  border-radius: $radius;
  background-clip: padding-box; // stops bg color from leaking outside the border
}


// Border Radius Top
@mixin border-radius-t($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  background-clip: padding-box;
}
@mixin border-radius-tl($radius) {
  border-top-left-radius: $radius;
  background-clip: padding-box;
}
@mixin border-radius-tr($radius) {
  border-top-right-radius: $radius;
  background-clip: padding-box;
}

// Border Radius Bottom
@mixin border-radius-b($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  background-clip: padding-box;
}
@mixin border-radius-bl($radius) {
  border-bottom-left-radius: $radius;
  background-clip: padding-box;
}
@mixin border-radius-br($radius) {
  border-bottom-right-radius: $radius;
  background-clip: padding-box;
}

// Border Radius Left
@mixin border-radius-l($radius) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
  background-clip: padding-box;
}

// Border Radius Right
@mixin border-radius-r($radius) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  background-clip: padding-box;
}
