$box-model: (
        '-x': ('left', 'right'),
        '-y': ('top', 'bottom'),
        '-t': 'top',
        '-b': 'bottom',
        '-l': 'left',
        '-r': 'right'
);

// box-model-loop mixin
// This is used in the OOCSS partials to build up
// object oriented classes, instead of having to explicitly
// declare everything x y t b l r variant
//
// Example Usage:
// @include box-model-loop($class-prefix: 'margin', $class-suffix: '25', $property: 'margin', $property_value: rem-calc(25));
//
// Example Output:
// .margin-25 {
//   margin: 25px;
// }
// .margin-x25 {
//   margin-left: 25px;
//   margin-right: 25px;
// }
// .margin-y25 {
//   margin-top: 25px;
//   margin-bottom: 25px;
// }
// .margin-t25 {
//   margin-top: 25px;
// }
// .margin-b25 {
//   margin-bottom: 25px;
// }
// .margin-l25 {
//   margin-left: 25px;
// }
// .margin-r25 {
//   margin-right: 25px;
// }
@mixin box-model-loop(
  $class-prefix, // .[margin]-x10-left { margin-left: 10px; margin-right: 10px; }
  $class-suffix, // .margin-x[10]-left { margin-left: 10px; margin-right: 10px; }
  $property, // .margin-x10-left { [margin]-left: 10px; [margin]-right: 10px; }
  $property_value, // .margin-x10-left { margin-left: [10px]; margin-right: [10px]; }
  $box-model: $box-model) {

  @if ((type-of($class-prefix) != 'string') or (type-of($class-suffix) != 'string') or (type-of($property) != 'string')) {

    @if (type-of($class-prefix) != 'string') {
      @warn 'The $class-prefix parameter needs to be a string';
    }
    @if (type-of($class-suffix) != 'string') {
      @warn 'The $class-suffix parameter needs to be a string';
    }
    @if (type-of($property) != 'string') {
      @warn 'The $property parameter needs to be a string';
    }

  } @else {

    //replaces decimal values with pt
    $class-suffix: str-replace(to-string($class-suffix), '.', 'pt');

    // Before we loop over the $box-model map and set all the
    // values for x, y, t, b...etc. we want to set a general
    // class without those (e.g. .margin-10 instead of .margin-x10)
    @if (str-slice($class-suffix, 1, 1) != '-') {
      // The $class-suffix doesn't contain a hyphen, so we'll add one in
      .#{$class-prefix}-#{$class-suffix} {
        #{$property}: $property_value !important;
      }
    } @else {
      // The $class-suffix already contains a hyphen, so we don't need to add one
      .#{$class-prefix}#{$class-suffix} {
        #{$property}: $property_value !important;
      }
    }

    // Now loop over the x, y, t, b...etc. values and set
    // classes and properties for each of them
    // e.g.
    // .margin-x10 {
    //   margin-left: 10px;
    //   margin-right: 10px;
    // }
    @each $key, $sides in $box-model {
      .#{$class-prefix}#{$key}#{$class-suffix} { // e.g. margin-x10
        @if type-of($sides == 'list') {
          @each $side in $sides {
            #{$property}-#{$side}: $property_value !important; // e.g. margin-top: 10px
          }
        } @else {
          #{$property}-#{$sides}: $property_value !important; // e.g. margin: 10px
        }
      }
    }
  }

}