
//Example of use
//@include box-shadow(0px 27px 100px -27px #000);

//Or even
//@include box-shadow(-20px 0px 50px #fff, 20px 0px 50px #fff );

//But only up to 5 separate values
//This method is not great for performance though, consider alternative methods

@mixin box-shadow($value1, $value2:false, $value3:false, $value4:false, $value5:false) {
  $params: $value1;
  @if $value2
  { $params: $value1, $value2; }
  @if $value3 != false
  { $params: $value1, $value2, $value3; }
  @if $value4 != false
  { $params: $value1, $value2, $value3, $value4; }
  @if $value5 != false
  { $params: $value1, $value2, $value3, $value4, $value5; }

  box-shadow: $params;
}
