
//example of use
//@include colour-classes(
//colour-blue,  //class name (don't include the dot)
//$colour-blue,  //colour variable name (see _variables.scss)
//true, //if a link class is also required | default = false
//true, //if a specific button class is also required  | default = false
//false, //if dropdown class is required | default = false
//true, //if a background class is required | default = true
//false,//if has background class, change the text colour for contrast, leave as default for lighten($colour, 50%) | default = false
//darken($colour-blue, 10%)//hover colour | default = darken($colour, 10%) (optional)
//);

//creates classes for colour variables.
@mixin colour-classes(
$class, //class name (dont include the dot)
$colour, //colour variable name (see _variables.scss),
$link:false, //if a link class is also required ,
$button:false, //if a specific button class is also required
$dropdown:false, //if dropdown class is required
$background:true, //if a background class is required
$contrast-colour:lighten($colour, 50%), //if has background class, change the text colour for contrast
$hover-colour:darken($colour, 10%), //if a link/button on hover what colour it be
$rgba:false, //do you want some rgba values
$rgba-min: 1,
$rgba-max: 9
) {

  //set a default value
  $colour-contrast: $colour-white;
  //pass a value to override
  @if $contrast-colour {
    $colour-contrast:#{$contrast-colour};
  }

  //start with the basic, create that class mofo
  .#{$class} {
    color: $colour !important;

    //if we need a same coloured dropdown
    @if $dropdown {
      &.dropdown {
        &:after {
          border-color: $colour transparent transparent transparent !important;
        }
        &:hover {
          &:after {
            border-color: $colour-contrast transparent transparent transparent !important;
          }
          color: $colour-contrast !important;
        }
      }
    }
  }

  //if this colour also wants link colour, create dat sheeet
  @if $link {
    a.#{$class} {
      color: $colour !important;
      &:hover { color: darken( $colour, 10% ) !important; }
    }
  }

  //if we want a background colour class of this colour
  @if $background {
    .background.#{$class} {
      background-color: $colour !important;
      color: $colour-contrast !important;
    }
  }

  @if $rgba {
    @for $i from $rgba-min through $rgba-max {
      .#{$class}.rgba-#{$i} {
        color: rgba($colour, ($i / 10)) !important;
      }

      .background.#{$class}.rgba-#{$i} {
        background-color: rgba($colour, ($i / 10)) !important;
        color: $colour-contrast !important;
      }
    }

  }


  //and for same coloured buttons on that background, not advised but hey what are rules if not for breking
  @if $button {

    button.#{$class}, .button.#{$class} {
      background-color: $colour !important;
      color: $colour-contrast !important;

      &.gradient {
        background: $colour !important;
        background: radial-gradient(circle at 0 0, lighten($colour, $gradient-lighten-percentage), $colour) !important;
      }

      @for $i from $rgba-min through $rgba-max {
        &.#{$class}.rgba-#{$i} {
          background: rgba($colour, ($i / 10)) !important;
        }
      }

      &:hover,
      &:focus {
        background-color: $hover-colour !important;
        color: $colour-contrast !important;

        &.gradient {
          background: $colour !important;
          background: radial-gradient(circle at 0 0, lighten($colour, $gradient-lighten-percentage), $colour) !important;
        }

        // stop rgba color reverting to its normal state [e.g. solid black] on hover, slightly less alpha instead
        @for $i from $rgba-min through $rgba-max {
          &.#{$class}.rgba-#{$i} {
            background: rgba($colour, (($i + 1) / 10)) !important;
          }
        }

      }

      &.disabled:hover,
      &.disabled:focus {
        background-color: $colour !important;
        //background: $colour !important;
        //background: radial-gradient(circle at 0 0, lighten($colour, 40%), $colour) !important;
        color: $colour-contrast !important;

        &.gradient {
          background: $hover-colour !important;
          background: radial-gradient(circle at 0 0, lighten($hover-colour, $gradient-lighten-percentage), $hover-colour) !important;
        }

      }

    }

    //a button in a table structure that uses multiple colour but needs one hover state
    a.button.table.table:hover , button.table.table:hover { //NB .table.table = a bit more specificity

      .#{$class}.background {
        background-color: $hover-colour !important;
        color: $colour-contrast !important;

        // stop rgba color reverting to its normal state [e.g. solid black] on hover in this table button
        $rgba-min: 1;
        $rgba-max: 9;
        @for $i from $rgba-min through $rgba-max {
          &.#{$class}.rgba-#{$i} {
            background-color: rgba($colour, ($i / 10)) !important;
          }
        }

      }

    }
  }
}

