/**
 * THEME COLOUR CLASSES
 *
 * Set up colour variants for each theme colour
 * (like assets/scss/mixins/_colours.scss, only using the theme list map)
 *
 * See http://git.bespokeinternet.com/safeguarding-blackpool.git/tree/master/ for full usage
 */

@mixin theme-colour-classes() {

  @each $theme, $map in $themes {
    .#{$theme}  {
      // Define theme color
      $colour: map-fetch($themes, $theme "colour") !global;
      $colour-contrast: map-fetch($themes, $theme "colour-contrast") !global;
      $colour-hover: map-fetch($themes, $theme "colour-hover") !global;

      .colour-theme {
        color: $colour;

        &.dropdown {
          &:after {
            border-color: $colour transparent transparent transparent !important;
          }
          &:hover {
            &:after {
              border-color: $colour-contrast transparent transparent transparent !important;
            }
            color: $colour-contrast !important;
          }
        }

        &.background {
          background-color: $colour;
          color: $colour-contrast;
        }
      }

      a.colour-theme {
        color: $colour !important;
        &:hover {
          color: darken($colour, 10%) !important;
        }
      }

      button.colour-theme, .button.colour-theme {
        background-color: $colour !important;
        color: $colour-contrast !important;

        &:hover,
        &:focus {
          background-color: $colour-hover !important;
          color: $colour-contrast !important;
        }
      }

      // Reset theme variables to null
      $colour: null !global;
      $colour-contrast: null !global;
      $colour-hover: null !global;
    }
  }
}
