
// Custom Minxins

//breakpoint mixin
@import "breakpoint";

//breakpoint mixin
@import "box-model-loop";

//sprite mixin
@import "sprite";

//retina bg images
@import "at2x";

//placeholder text
@import "placeholder";

//transform mixin
@import "transform";

//colours classes for oocss
@import "colours";

//theme colour classes for oocss. See http://git.bespokeinternet.com/safeguarding-blackpool.git/tree/master/ for full usage
@import "colours-theme";

//_border-radius variations
@import "border-radius";

//filter mixin
@import "filter";

//triangle (with borders) mixin
@import "triangle";

//themeify
@import "themeify";

//text-stroke
@import "text-stroke";


//text replace
@mixin textreplace() {
  text-indent: 1000%;
  white-space: nowrap;
  overflow: hidden;
}

//visually hidden
@mixin visually-hidden() {
  position: absolute !important;
  overflow: hidden;
  height: 1px;
  width: 1px;
  //clip: rect(1px, 1px, 1px, 1px);
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  border: 0;
}

//reverse visually hidden
@mixin reverse-visually-hidden() {
  position: static !important;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto;
  margin: auto;
  padding: auto;
}
