
//example of use
//@include sprite('/assets/ui/sprite', png, 512px, 512px, -0px, -0px);

// retina sprite image s
@mixin sprite($path, $ext: "jpg", $w: auto, $h: auto, $x: 0px, $y: 0px) {

  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";
  $svg_path: "#{$path}.svg";

  background-image: url("#{$at1x_path}");
  background-position: #{$x} #{$y};
  background-size: #{$w} #{$h};
  background-repeat: no-repeat;
  display: inline-block;

//  uncomment when .svg sprite map is enabled
//  .svg.svg:not(.vendor-ie):not(.safari) & {
//    background-image: url("#{$svg_path}");
//  }

//  uncomment when @2x version has been exported
//  @media
//  only screen and (-webkit-min-device-pixel-ratio: 2),
//  only screen and (   min--moz-device-pixel-ratio: 2),
//  only screen and (     -o-min-device-pixel-ratio: 2/1),
//  only screen and (        min-device-pixel-ratio: 2),
//  only screen and (                min-resolution: 192dpi),
//  only screen and (                min-resolution: 2dppx) {
//    background-image: url("#{$at2x_path}");
//  }

//  uncomment when @2x version has been exported and
//  .browser-android.browser-android.browser-android & {
//    background-image: url("#{$at2x_path}");
//  }

}