//example of use
//@include text-stroke(
//colour-black, //class name (don't include the dot)
//$colour-black, //colour variable name (see _variables.scss)
//1px //size value e.g. 1px 1em 1vh
//);

@mixin text-stroke(
$colour-name, //colour name (dont include the dot)
$colour, //colour name (dont include the dot)
$size //size value e.g. px or em
) {

  $zero: 0;
  $positive: #{$size};
  $negative: -#{$size};

  .text-stroke-#{$size}-#{$colour-name} {
    text-shadow:
      $zero unquote($negative) $zero $colour ,             // ⇑
      unquote($positive) unquote($negative) $zero $colour, // ⇗
      unquote($positive) $zero $zero $colour,              // ⇒
      unquote($positive) unquote($positive) $colour,       // ⇘
      $zero unquote($positive) $zero $colour,              // ⇓
      unquote($negative) unquote($positive) $zero $colour, // ⇙
      unquote($negative) $zero $zero $colour,              // ⇐
      unquote($negative) unquote($negative) $zero $colour  // ⇖
    ;

    //requires layout-engine
    .vendor-webkit & {
      -webkit-text-stroke: #{$size} $colour;
      text-shadow: none;
    }
  }
}
