/**
 * THEMIFY
 *
 * Taken from http://sassmeister.com/gist/e99b7a8c01ef87d0dff8 (just made more Anglo-centric)
 *
 * Apply a prefixed class to a style rule
 *
 * Usage:
 * .test {
 *   @include themeify() {
 *      color: $theme-colour;
 *   }
 * }
 *
 * See http://git.bespokeinternet.com/safeguarding-blackpool.git/tree/master/ for full usage
 */

@mixin themeify ($themes: $themes) {
  @each $theme, $map in $themes {
    .#{$theme} &  {
      // Define theme color
      $colour: map-fetch($themes, $theme "colour") !global;
      $colour-contrast: map-fetch($themes, $theme "colour-contrast") !global;
      $colour-hover: map-fetch($themes, $theme "colour-hover") !global;
      // ... other vars to use

      @content;

      // Reset theme variables to null
      $colour: null !global;
      $colour-contrast: null !global;
      $colour-hover: null !global;
    }
  }
}
