

//example of single use
//@include transition(all .2s ease);

//example of multiple use
//@include transition(opacity .2s linear, top .4s ease);


// transition mixin
@mixin transition($transition1, $transition2:false, $transition3:false, $transition4:false, $transition5:false) {
  $params: $transition1;
  @if $transition2
  { $params: $transition1, $transition2; }
  @if $transition3 != false
  { $params: $transition1, $transition2, $transition3; }
  @if $transition4 != false
  { $params: $transition1, $transition2, $transition3, $transition4; }
  @if $transition5 != false
  { $params: $transition1, $transition2, $transition3, $transition4, $transition5; }

  -webkit-transition: $params;
  -moz-transition: $params;
  -ms-transition: $params;
  -o-transition: $params;
  transition: $params;
}
