
// Example of use
// @include transform(scale(0.75));

// Transform mixin - made this up meself to save on vendor prefix, probably a better method to handle values (Adam N)
@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}
