
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html body {
  background-color: $admin-body-bg-colour;
  height: 100%;

  &.scroll-lock {
    overflow: hidden;
  }

}

html body.login-page,
.login-contents {
  min-height: 600px;
  background: $admin-login-bg-colour;
  //background: radial-gradient(circle at 0 0, lighten($admin-login-bg-colour, 10%), $admin-login-bg-colour);

  //.browser-internet-explorer & {
  //  background: $admin-login-bg-colour;
  //}

}

div,
ul,
ol,
dl {
  font-size: inherit;
  line-height: inherit;
}

a {
  @include single-transition(color);
}

.row {
  margin: 0;

  // Outer Padding on first row (sml/med/lrg)
  @if variable-exists(row-outer-padding-small) {
    padding: $row-outer-padding-small;
  }

  @if variable-exists(row-outer-padding-medium) {
    @media #{$medium-up}{
      padding: $row-outer-padding-medium;
    }
  }

  @if variable-exists(row-outer-padding-large) {
    @media #{$large-up}{
      padding: $row-outer-padding-large;
    }
  }

  @if variable-exists(row-outer-padding-xlarge) {
    @media #{$xlarge-up}{
      padding: $row-outer-padding-xlarge;
    }
  }

  &.collapse {
    padding: 0 !important;
  }

  .row {
    //margin: 0 auto;
    padding: 0;
  }

}

// Default Admin Button Styles
button,
.button {
  padding: rem-calc(10 28);
  font-size: rem-calc(14);
  font-weight: 600;

  &.small {
    padding: rem-calc(10 22);
    font-size: rem-calc(14);
  }

  &.tiny {
    padding: rem-calc(6 14);
    font-size: rem-calc(12);
  }

  &.colour-default,
  &.colour-cancel {
    color: $colour-grey-dark;
    background-color: rgba($colour-black, .075) !important;

    &:hover {
      background-color: rgba($colour-black, .15) !important;
    }

  }

  &.bordered {
    box-shadow: inset 0 0 0 1px rgba($colour-black, .1);

    &.colour-default,
    &.colour-cancel {
      box-shadow: inset 0 0 0 1px rgba($colour-black, .075);
    }

  }

  &.round:after {
    border-radius: 1000px;
  }

  &.gradient {
    position: relative;
    text-shadow: 0 1px 1px rgba($colour-black, .3);

    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($colour-black, 0);
      transition: background-color .3s ease;
    }

    &:hover:after {
      background-color: rgba($colour-black, .1);
    }

    > span {
      position: relative;
      z-index: 2;
    }

  }

}

// Browsers outline doesn't match the shape of the button and looks ODD, use box-shadow
input,
textarea,
//select,
button,
.button {

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba($colour-selected, .8);
  }

}

.text-shadow-none {
  text-shadow: none !important;
}

.cursor-drag {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &.cursor-drag-active-state:active,
  &.cursor-drag-active-state:focus {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}


// -----------------------------------------------
//   ADMIN SPECIFIC STYLES
// -----------------------------------------------



// ADMIN LOGIN
// =======================

.login-error-shake {
  animation-name: shake;
  animation-duration: .75s;
  animation-fill-mode: both;
  backface-visibility: hidden;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


// ADMIN GENERAL STRUCTURE
// =======================

.admin-container {
  min-height: 100%;
  min-width: rem-calc(1260); // 20px room for vertical scrollbar
  padding-left: $admin-navigation-width;
}

// Section Container
.section-container {
  border: 1px solid $section-border-colour;
}


// DASHBOARD
// =======================

.scrollable-section-wrap {
  position: relative;

  &:after {
    content: '';
    pointer-events: none;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 20px;
    height: 20px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+28&0+0,1+75 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.37) 28%, rgba(255,255,255,1) 75%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.37) 28%,rgba(255,255,255,1) 75%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.37) 28%,rgba(255,255,255,1) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }

}

.scrollable-section {
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: $colour-off-white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $colour-grey-light;
  }

  &::-webkit-scrollbar-button {
    background: $colour-white;
    height: 4px;
  }

}

.dashboard {
  color: #5b6169;

  .rm-image {
    box-sizing: content-box;
  }

}

.dashboard-block {
  box-shadow: 0 2px 3px rgba($colour-black, .075);

  &.client-information-block {
    min-height: 260px;

    .scrollable-section {
      height: 190px;
    }

  }

  &.latest-feed {

    .scrollable-section {
      height: 210px;
    }

  }

}


// ADMIN SIDEBAR NAVIGATION
// ========================

.admin-navigation,
.admin-navigation-placeholder,
.admin-navigation-bottom-actions {
  width: $admin-navigation-width;
  background-color: $admin-navigation-bg-colour;
}

.admin-navigation-bottom-actions {
  position: absolute;

  @media (min-width: $admin-min-layout-width){
    position: fixed;
  }

}

// Used to fill space when dragging "draggable" items outside of the screen
.admin-navigation-placeholder {
  position: absolute;
  z-index: 99;

  @media (min-width: $admin-min-layout-width){
    position: fixed;
  }

}

.admin-navigation {
  z-index: 100;

  .logo-divider {
    height: rem-calc(3);
    background: $colour-client;
    background: radial-gradient(circle at 0 0, lighten($colour-client, 10%), $colour-client);
  }

  .navigation-links {
    margin-bottom: rem-calc(150);
  }

  ul li {

    a {
      position: relative;
      display: block;
      color: $colour-grey-lightest;
      font-size: rem-calc(13);
      padding: rem-calc(12 20);
      line-height: 1.1;
      border-top: 1px solid rgba($colour-white, .025);
      //border-bottom: 1px solid rgba($colour-black, .15);

      &:hover {
        background-color: rgba($colour-white, .1);
      }

    }

    // Current Page Indicator
    &.show-indicator > a:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 8px 7px 0;
      border-color: transparent $admin-body-bg-colour transparent transparent;
      margin-top: -7px;
    }

  }

  .child-links {
    display: none;
  }

  .has-children {
    position: relative;

    > a {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 15px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 0 4px 6px;
        border-color: transparent transparent transparent rgba($colour-white, .1);
        margin-top: -4px;
      }

    }

    // Not the current page
    &.not-current {

      // Show child links in pop-out
      > .child-links {
        background-color: lighten($admin-navigation-bg-colour, 5%);
        position: absolute;
        z-index: 2;
        top: 0;
        left: 100%;
        width: rem-calc(200);

        .child-links {
          background-color: lighten($admin-navigation-bg-colour, 10%);
        }

        &.appear-up {
          top: auto;
          bottom: 0;
        }

        // Hide 'current page' indicator in pop-outs
        li a:after {
          display: none;
        }

      }

      //&:hover,
      &.open {

        // Always highlight the parent link
        > a {
          background-color: rgba($colour-white, .05);
        }

        > .child-links {
          display: block;
        }

      }

    }

    // The current page
    &.current {

      > a:before {
        display: none;

        // Point down
        //border-width:  6px 4px 0 4px;
        //border-color: $colour-white transparent transparent transparent;
        //margin-top: -3px;

      }

      // Always show child links nested beneath
      > .child-links {
        display: block;
        background-color: rgba($colour-black, .5);

        li {
          a {
            padding-left: rem-calc(25);
          }
          li {
            a {
              padding-left: rem-calc(35);
            }
          }
        }

      }

      //&:hover,
      &.open {

        // Show any further child links on hover in pop-out
        > .child-links {
          display: block;
        }

      }

    }

  }

  .admin-navigation-bottom-actions {

    .navigation-contact {
      background-color: darken($admin-navigation-bg-colour, 2%);
    }

  }

}


// DROPDOWNS
// =========

.has-dropdown-menu {
  position: relative;

  //&:hover,
  &.open {

    .dropdown-menu {
      //display: block;
      height: auto;
      overflow: visible;
    }

  }

  .dropdown-menu {
    //display: none;
    height: 0;
    overflow: hidden;

    position: absolute;
    width: rem-calc(150);
    top: 100%;
    left: 0;
    border-top: 5px solid transparent;

    &.appear-right {
      left: auto;
      right: 0;
    }

    .inner {
      position: relative;
      border: 1px solid $section-border-colour;
      box-shadow: 0 5px 18px rgba(0, 0, 0, .1);
    }

    a.button {
      color: $colour-grey-dark !important;
      background-color: $colour-white !important;

      &:hover {
        color: $colour-grey-dark !important;
        background-color: $colour-off-white !important;
      }

      &:focus {
        box-shadow: inset 0 0 0 2px rgba($colour-selected, .8);
      }

    }

  }

}

// ACCOUNT DROPDOWN
// ================

$account-dropdown-button-colour: $colour-white; //lighten($colour-grey-lightest, 6%);

.account-dropdown-link {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3px 0 3px;
    border-color: $colour-grey-lightest transparent transparent transparent;
    margin-top: -3px;
  }

}

.account-dropdown-menu.dropdown-menu {
  width: rem-calc(150);
  border-top: 5px solid transparent;
  left: auto;
  right: rem-calc(-10);

  //&:before {
  //  content: '';
  //  display: block;
  //  z-index: 2;
  //  position: absolute;
  //  bottom: 100%;
  //  right: 20px;
  //  width: 0;
  //  height: 0;
  //  border-style: solid;
  //  border-width: 0 5px 5px 5px;
  //  border-color: transparent transparent $account-dropdown-button-colour transparent;
  //}

  .inner {
    position: relative;
    border: 1px solid $section-border-colour;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .1);
  }

  a.button {
    color: $colour-grey-dark !important;
    background-color: $account-dropdown-button-colour !important;

    &:hover {
      color: $colour-grey-dark !important;
      background-color: darken($account-dropdown-button-colour, 8%) !important;
    }

  }

}


// NOTIFICATIONS
// ===========

// Top Notifications (Error, Success, Info)
.top-notification {
  z-index: 100;
  top: rem-calc(-100);

  .alert-box {
    padding: rem-calc(8 40 8 15);
    bottom: rem-calc(-100);
  }

}

// Active Users Notification
.active-users {
  z-index: 100;
  min-width: rem-calc(200);
  max-width: rem-calc(300);
  background-color: $colour-slate;
  background-color: rgba($colour-slate, .8);
}


// BREADCRUMBS
// ===========

.breadcrumbs {

  // Home Icon
  li:first-child {
    position: relative;
    padding-left: rem-calc(20);

    &:before {
      @extend .fi-adm;
      @include fi-adm-home;
      position: absolute;
      top: 0;
      left: 0;
      color: $colour-grey-light;
    }

  }

}


// SECTION ACTION BAR + TITLE
// ==========================

.section-action-bar {
  position: absolute;
  background-color: $admin-body-bg-colour;
  box-shadow: 0 1px 4px rgba($colour-black, 0);
  transition:
    background-color .2s ease,
    box-shadow .2s ease;

  // Fix to view, above min-width
  @media (min-width: $admin-min-layout-width) {

    &.is-fixed {
      position: fixed;
      background-color: $colour-white;
      z-index: 98;
      padding-left: $admin-navigation-width;
      box-shadow: 0 1px 4px rgba($colour-black, .1);

      .row {
        min-width: rem-calc(1100);
      }

    }

  }

  // Unstick when an input is focussed (on mobile devices)
  .touch-input-focused & {
    position: absolute !important;
  }

}

.dropdown-button {
  user-select: none;

  .main-action,
  .dropdown-toggle {
    transition: background-color .2s ease;
    background-color: transparent;

    &:hover {
      background-color: rgba(0,0,0,.1);
    }

  }

  .main-action {
    border-radius: rem-calc(100 0 0 100);
    border-right: 1px solid rgba(0,0,0,.1);
  }

  .dropdown-toggle {
    border-radius: rem-calc(0 100 100 0);
  }

  .dropdown {
    border: 1px solid $section-border-colour;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .1);

    a.button {
      color: $colour-grey-dark !important;
      background-color: $account-dropdown-button-colour !important;
      text-shadow: none;

      &:hover {
        color: $colour-grey-dark !important;
        background-color: lighten($section-border-colour, 3%) !important;
      }

    }
  }

  &.save-entry-button {

    .dropdown {
      box-shadow: none;
      border: none;
      border-top: 3px solid transparent;
    }

    .inner {
      border: 1px solid $section-border-colour;
      box-shadow: 0 5px 18px rgba(0, 0, 0, .1);
    }

  }

}

// LOGIN
// =========

.login-form-container {
  width: 450px;

  .back-to-site {
    opacity: .3;
    transition: opacity .2s ease;

    &:hover {
      opacity: 1;
    }
  }
}


// LIST VIEW
// =========

table {

  thead {
    border-bottom: 1px solid #e4e8f0;
  }

  tr {
    border-bottom: 1px solid #e4e8f0;
  }
}

// List Table
.list-table {

  // Hover / Odd / Selected states
  tr:nth-child(even) td {
    background-color: #fafafa;
  }

  tr td {
    background-color: $colour-white;
    transition: background-color .1s ease;
  }

  tbody {

    tr {

      &:hover {

        td {
          background-color: #ecf0f3;
        }

      }
    }

  }


  tr.selected-row td, tr.highlight-row td {
    background-color: #e4eef7;
  }

  // Ordable column headings (adds sorting controls)
  th.orderable {
    position: relative;
    padding-right: rem-calc(25);
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      position: absolute;
      right: rem-calc(10);
      width: 0;
      height: 0;
      border-style: solid;
      pointer-events: none;
    }

    &:before {
      top: 29%;
      //margin-top: -3px;
      border-width: 0 4px 6px 4px;
      border-color: transparent transparent rgba($colour-black, .1) transparent;
    }

    &:after {
      bottom: 29%;
      //margin-top: -3px;
      border-width: 6px 4px 0 4px;
      border-color: rgba($colour-black, .1) transparent transparent transparent;
    }

    &:hover {
      background: darken($admin-tab-bar-bg-colour, 2%);
    }

  }

  th.orderable.ordered {
    background: darken($admin-tab-bar-bg-colour, 5%);

    &.ordered-asc,
    &.ordered-desc {

      &:before {
        display: none;
      }

      &:after {
        top: 50%;
        margin-top: -3px;
      }

    }

    // Ascending
    &.ordered-asc {

      &:after {
        border-width: 0 4px 6px 4px;
        border-color: transparent transparent $colour-grey-dark transparent;
      }

    }

    // Descending
    &.ordered-desc {

      &:after {
        top: 50%;
        border-width: 6px 4px 0 4px;
        border-color: $colour-grey-dark transparent transparent transparent;
      }

    }

  }
}

.list-table-checkbox-col {
  width: 30px;
  user-select: none; // Stop text-highlight when clicked

  input {
    user-select: none;
  }

}


// EDIT VIEW
// =========

// Main Content Area (Fields)
.edit-main-content {

  //input[type="text"] {
  //  max-width: 800px;
  //}

}

// Edit View Tabs

.tabs-content > .content {
  position: absolute;
  display: block;
  height: 0;
  overflow: hidden;

  &.active {
    position: static;
    display: block;
    height: auto;
    overflow: visible;
  }

}


.edit-content-tabs {
  background-color: $admin-tab-bar-bg-colour;
  border-bottom: 1px solid $admin-tab-bar-border-colour;

  .tabs li {

    a {
      position: relative;
      color: $colour-grey;
      border-right: 1px solid $admin-tab-bar-border-colour;

      &:hover {
        background-color: rgba($colour-black, .025);
      }

      &.active {
        background-color: $colour-white;
        cursor: default;

        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          border-bottom: 1px solid $colour-white;
        }
      }
    }

    &:first-child a {
      border-top-left-radius: $global-radius;
    }

    &.has-validation-error {

      a {
        position: relative;
        padding-right: rem-calc(40) !important;
        color: $colour-error;

        &:before {
          @extend %fi-adm;
          @extend %fi-adm-warning;
          display: block;
          position: absolute;
          top: 50%;
          margin-top: -9px;
          right: 20px;
          font-size: 12px;
          color: $colour-error;
        }
      }

    }

  }

}

// Change Log
.change-log {
  background-color: rgba($colour-black, .05);
  border: 1px solid rgba($colour-black, .075);
}


// LANGUAGE SELECT
// ===============
.language-select {
  
  a {
    position: relative;
    padding: rem-calc(10 15 10 30);

    &:active,
    &:focus {
      box-shadow: inset 0 0 0 2px rgba($colour-selected, 0.8);
    }

    .status {
      display: block;
      position: absolute;
      width: rem-calc(8);
      height: rem-calc(8);
      top: 50%;
      margin-top: rem-calc(-5);
      right: rem-calc(15);
      background-color: $colour-grey-lightest;
    }

    &.inactive {

      .status {
        background-color: $colour-error;
      }

    }

    &.active {

      .status {
        background-color: $colour-success;
      }

    }

    &.current,
    &.selected {

      &:before {
        @extend %fi-adm;
        @extend %fi-adm-check;
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        left: 10px;
        font-size: rem-calc(12);
        color: $colour-grey;
      }

    }
    
  }
}



// MODALS
// ======
.reveal-modal-bg {
  background: $colour-slate;
  background: rgba($colour-slate, .9);
}

.reveal-modal {
  width: 95%;
  left: 0;
  right: 0;
  margin: 0 auto;
  min-width: rem-calc(1000);
  max-width: rem-calc(1400);
  border: 0;
  border-radius: $global-radius;
  box-shadow: none;
  top: rem-calc(75);
  padding: 0;
  outline: none;
  overflow: hidden;

  &.notice-modal,
  &.session-timeout-modal {
    min-width: 0;
    width: rem-calc(500);
  }

  &.notice-modal {
    top: rem-calc(125);
  }

  &.asset-manager-modal {
    width: rem-calc(1200);
  }

  &.asset-preview-modal {
    width: rem-calc(1200);
    top: rem-calc(50);
  }

  &.icon-picker-modal {
    width: rem-calc(935);
  }

  .close-reveal-modal {
    color: $colour-grey-light;
    width: rem-calc(42);
    height: rem-calc(42);
    line-height: rem-calc(42);
    font-size: rem-calc(32);
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 2px;
    right: 2px;
  }

  .modal-content {
    padding: rem-calc(20 20 0 20);
  }

  .modal-scrollable-section {
    max-height: rem-calc(340);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .modal-actions {
    padding: rem-calc(20);
    background-color: #eee;
    border-top: 1px solid rgba($colour-black, .1);
  }

}

.reveal-modal.asset-preview-modal {

  .file-details {
    background-color: darken($colour-off-white, 2%);
    border-right: darken($colour-off-white, 4%);
  }

  .asset-preview {
    width: 860px;
    height: 648px;
  }

  &.crop-asset-modal {

    .asset-preview {
      height: 600px;
    }

  }

  .crop-image {

    &.is-hidden {
      position: absolute;
    }

  }

  .crop-canvas {
    display: inline-block;
  }

  .static-preview,
  .crop-preview,
  .crop-image,
  .crop-canvas {
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }

}

.reveal-modal.page-builder-modal {

  .search-bar {
    border-radius: rem-calc(100);
  }

  .modal-scrollable-section {
    top: 50px;
    min-height: rem-calc(290); // 3 rows high
    max-height: rem-calc(550);
    max-height: calc(100vh - 295px);
  }

}

// CROPPING UI
// =================

.crop-canvas-container {

  .crop-image {
    position: relative;
    z-index: 1;
  }

  .cropper-container {
    z-index: 1;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    z-index: 2;
  }

  // Dark Overlay
  &:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($colour-black, .8);
  }

  // Loading Spinner
  &:after {
    top: 50%;
    left: 50%;
    width: 22px;
    height: 22px;
    background-size: 22px 22px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAwFBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+Kz6mvAAAAP3RSTlMABgcTFRYXGBkaHDAxREVGR0hJSkxNTk9QgoOEhYaHiZCRkpOWuru/wMLExdrb3N/j5ebn7O7v8PH19vf4+f6sXXAgAAABM0lEQVR4AeXVX0/CQBAE8KWgIlWvV1EUURTE/6BYC7aUzvf/VkLckL3LNuFNE+aJDL9cX9o50hJ/Joa2zRiYbI3nwPxvcCOoxrWGa/vlLK7CUVr2pa2XQBHr2BZAWRc4+IbUEkcLAGlAInEh9Qh45Z8mB7DkP1R9MBge6pZjF2sdumWYiSNkohzAtdtdSevEZEDHrTora0lN2G371XkvpF2KnaS/eW7qoDVi8HZCCcC50/FwA6Y0BQdDHQ82ICHzzk95aOm4+cJgYmmXctQ786v2ZahbW8B/+S+A7LjKout2N1hpU2Ez/4Ndl3mk2pwPad3f7vNCLAEsPB0XsnwCHklqK22QSkszYE5Sf9X8YbT6MJ4u5TDy5LKVmPWs7HtjXqse82Dvf15A/qU53hpHyYfR+h8W50heoI1C0AAAAABJRU5ErkJggg==);
    animation: fi-spin 2s infinite linear;

    margin-top: rem-calc(-12);
    margin-left: rem-calc(-12);

  }

  &.built {

    &:before,
    &:after {
      display: none;
    }

  }

}


// ICON SELECT INPUT
// =================

.placeholder-block {
  width: rem-calc(120);
  height: rem-calc(120);
  border-width: 1px;
  border-style: dashed;
  border-color: $colour-grey-light;

  .has-error & {
    border-color: $colour-error;
  }
}

.icon-select-placeholder {

  &.selected {
    border-style: solid;
  }

}

.icon-select-grid {
  max-height: 450px;
  overflow-y: auto;

  .icon-option {
    color: $colour-slate;
    border: 1px solid $colour-grey-light;
    transition:
      color .2s ease,
      background-color .2s ease;

    &:hover {
      background-color: lighten($colour-grey-lightest, 2%);
    }

    &.selected {
      background-color: $colour-white;
      border: 1px solid $colour-selected;
      box-shadow: 0 0 0 1px $colour-selected;
    }

  }

}


// GOOGLE RESULT PREVIEW
// ===============
.google-result-preview {
  width: 590px;
  font-family: arial,sans-serif;

  .title-preview {
    color: #1a0dab;
    font-size: 18px;
  }

  .url-preview {
    color: #006621;
    font-size: 14px;
  }

  .description-preview {
    color: #545454;
    font-size: 14px;
    height: 40px;
    overflow: hidden;
  }

}



// FILE SELECT INPUT
// ==================

.file-select-field {
  border: 1px solid $input-border-color;
  padding-left: rem-calc(125);

  .has-error & {
    border-color: $colour-error;
  }

  > .button {
    border-right: 1px solid $input-border-color;
    padding-bottom: rem-calc(9);
  }

  input {
    outline: none !important;
    box-shadow: none !important;
  }

}


// IMAGE SELECT INPUT
// ==================

.image-select-field {

  .image-select-placeholder,
  .image-preview {
    width: rem-calc(125);
    height: rem-calc(125);
  }

  .image-container {
    width: rem-calc(125);
  }

  .image-preview > a {
    width: 100%;
    height: 100%;
  }

  .image-select-block {

    &.is-loading {

      .image-loading-overlay {
        display: block;
      }

    }

  }

  .image-select-placeholder,
  .image-loading-overlay {
    border-radius: rem-calc(10);
  }

  .image-loading-overlay {
    display: none;
  }

  .image-select-placeholder {
    border: 1px dashed $colour-grey-light;
    background-color: $colour-white;
    transition: background-color .3s ease;

    &:hover {
      background-color: $colour-off-white;
    }

  }

  .image-preview {
    border: 1px solid $colour-grey-lightest;
    //background-color: darken($colour-off-white, 2%);
  }

  .hash-bg {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEX////MzMw46qqDAAAAFUlEQVQY02NghAIGGBgggQG2HiYAAEUQAIEnpAxuAAAAAElFTkSuQmCC);
  }

  .inline-error {
    margin-top: $column-gutter / 2;
  }

  .has-error & {

    .image-placeholder-block {
      border-color: $colour-error;
    }

  }

}

//.selected-asset-preview {
//  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAwFBMVEUpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTMpKTNBHipSAAAAP3RSTlMABgcTFRYXGBkaHDAxREVGR0hJSkxNTk9QgoOEhYaHiZCRkpOWuru/wMLExdrb3N/j5ebn7O7v8PH19vf4+f6sXXAgAAABM0lEQVR4AeXVX0/CQBAE8KWgIlWvV1EUURTE/6BYC7aUzvf/VkLckL3LNuFNE+aJDL9cX9o50hJ/Joa2zRiYbI3nwPxvcCOoxrWGa/vlLK7CUVr2pa2XQBHr2BZAWRc4+IbUEkcLAGlAInEh9Qh45Z8mB7DkP1R9MBge6pZjF2sdumWYiSNkohzAtdtdSevEZEDHrTora0lN2G371XkvpF2KnaS/eW7qoDVi8HZCCcC50/FwA6Y0BQdDHQ82ICHzzk95aOm4+cJgYmmXctQ786v2ZahbW8B/+S+A7LjKout2N1hpU2Ez/4Ndl3mk2pwPad3f7vNCLAEsPB0XsnwCHklqK22QSkszYE5Sf9X8YbT6MJ4u5TDy5LKVmPWs7HtjXqse82Dvf15A/qU53hpHyYfR+h8W50heoI1C0AAAAABJRU5ErkJggg==);
//  background-size: 22px 22px;
//  background-repeat: no-repeat;
//  background-position: center center;
//}

// SORTABLE TABLE STYLES
// ===============

$table-border-colour: $colour-grey-lightest;

.table-head {
  display: table-header-group !important;
}
.table-body {
  display: table-row-group !important;
}

.sortable-table {

  > .table {
    border: 1px solid $table-border-colour;

    .ui-sortable-placeholder {
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      background-color: transparent;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 9999px;
        height: 1px;
        border: 0;
        background-color: $colour-grey-lightest;
      }

    }

    .table-row {
      background-color: $colour-white;

      &.ui-sortable-helper {
        z-index: 3 !important;
        border: 0;

        &:after {
          content: '';
          z-index: -1;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          box-shadow: 0 2px 2px 0 rgba($colour-black, .2);
        }

        .table-cell {
          border-bottom: 1px solid $table-border-colour;
        }

      }

      // No border on last child
      &:last-child {

        .table-cell {
          border-bottom: 0 !important;
        }

      }

      > .table-cell {
        border-right: 1px solid $table-border-colour;
        border-top: 1px solid $table-border-colour;
        padding: 10px;

        &:last-child {
          border-right: 0;
        }

        &.heading {
          border-top: 0;
          background-color: $colour-off-white;
        }

        &.handle-cell {
          width: rem-calc(33) !important;
          max-width: rem-calc(33) !important;
          padding: 0;
        }

        &.action-cell {
          width: rem-calc(60);
          max-width: rem-calc(60) !important;
        }

      }

    }

  }

  .drag-handle {
    width: rem-calc(32);
    height: rem-calc(58);
    line-height: rem-calc(58);
  }

  &.has-error {

    input {
      border-color: $input-border-color;
    }

    table {
      border: 1px solid $colour-error;
    }

  }

  .delete-row {
    width: rem-calc(38);
    height: rem-calc(38);
    line-height: rem-calc(38);
    padding: 0;
  }

  button.add-row {
    border: 1px dashed $colour-grey-light;
  }

  button.move-row {
    display: block;
    width: rem-calc(30);
    height: rem-calc(18);
    padding: 0;
    margin: 0;

    &.move-up {
      margin-bottom: rem-calc(2);
    }

  }

}

// TABLE BUILDER
// ===============

.table-builder {

  .table {

    select {
      width: auto;
      min-width: rem-calc(150);
    }

    textarea {
      min-height: 0;
      max-height: rem-calc(200);
    }

  }

}


// MENU BUILDER
// ===============

.menu-builder {
  color: $colour-grey;

  .menu-builder-item {
    border: 1px solid $input-border-color;
    background: $colour-off-white;
  }

  .menu-builder-item-inner {
    position: relative;
    padding: rem-calc(11 120 11 50);
  }

  .drag-handle {
    position: absolute;
    top: 0;
    left: 0;
    padding: rem-calc(10);
    cursor: move;
    background-color: rgba($colour-black, .05);

    i:before {
      @extend %fi-adm;
      @extend %fi-adm-drag-handle;
      font-size: rem-calc(14);
    }

  }

  .show-children {
    display: none;
    padding-right: rem-calc(10);
    cursor: pointer;
  }

  .show-children i:before {
    @extend %fi-adm;
    //@extend %fi-adm-plus;
    @extend %fi-adm-arrow-right;
    position: relative;
    top: 1px;
  }

  .menu-builder-item-actions {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: rem-calc(5);
  }

  .settings-toggle {
    display: inline-block;
    padding: rem-calc(10);
    font-size: rem-calc(14);
    text-align: right;
    cursor: pointer;
  }

  .settings {
    border-top: 1px solid $input-border-color;
    background: $colour-white;
  }

  .ui-sortable-placeholder {
    position: relative;

    /**
     * Use pseudo element instead of border on placeholder element itself
     * because you get a visible jump in height when dragging otherwise
     */
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      border: 1px dashed $colour-grey-light; // #4183C4;
    }

  }

  .mjs-nestedSortable-error {
    background: #fbe3e4;
    border-color: transparent;
  }

  ol {
    list-style-type: none;
    max-width: 530px;

    li {
      width: 530px;
      margin: 10px 0;

      ol {
        margin-left: 36px;
      }
    }
  }

  li.mjs-nestedSortable-branch > .menu-builder-item .show-children {
    display: inline-block;
  }

  li.mjs-nestedSortable-branch.mjs-nestedSortable-expanded > .menu-builder-item .show-children i:before {
    //@extend %fi-adm-minus;
    @extend %fi-adm-arrow-down;
    top: 2px;
  }

  li.mjs-nestedSortable-collapsed > ol {
    display: none;
  }

  .item-title {
    font-size: rem-calc(14)
  }

}



// ASSET MANAGER
// =============

$image-preview-size: rem-calc(45);
$draggable-bg-colour: darken($colour-grey-lightest, 2%);

.asset-manager {

  &.asset-scroll-container {
    height: 500px;
    overflow-y: auto;
  }

  .asset-preview-cell {
    max-width: $image-preview-size;
  }

  .asset-preview {
    width: $image-preview-size;
    height: $image-preview-size;

    &.icon {
      width: auto;
    }

  }

  // Item dragged from
  .ui-dragging-from {
    opacity: .3 !important;
  }

  // Drag Styles
  .ui-draggable {

    // Cloned Item
    &.ui-draggable-dragging {
      z-index: 10;
      width: auto !important;
      background-color: $draggable-bg-colour !important;
      border: 1px solid darken($draggable-bg-colour, 5%) !important;
      opacity: 1 !important;
      color: $colour-slate;
      border-radius: $global-radius;
      white-space: nowrap;
      box-shadow:
        0 10px 20px rgba(0,0,0,.15),
        0 6px 6px rgba(0,0,0,.1);

      * {
        color: $colour-slate !important;
      }

      tr, td {
        background-color: $draggable-bg-colour !important;
      }

      tr, th {
        display: block;
        padding: 0;
      }

      td {
        display: none;
      }

      td[data-name]{
        display: block !important;
      }

      a,
      a:hover {
        background-color: transparent !important;
      }

      // Hide child folders
      li {
        display: none !important;
      }

    }

  }

  tr.ui-draggable-dragging {
    padding: rem-calc(0 5);
  }

  // Multiple Select
  &.multiple-selected {

    // Fake "Stacked Items" effect
    tr.ui-draggable-dragging {
      box-shadow:

        // Fake Stack File 1
        3px 3px 0 0 darken($draggable-bg-colour, 3%),
        4px 4px 0 0 darken($draggable-bg-colour, 9%),

        // Fake Stack File 2
        7px 7px 0 0 darken($draggable-bg-colour, 5%),
        8px 8px 0 0 darken($draggable-bg-colour, 11%),

        // Drop Shadow
        0 10px 20px rgba(0,0,0,.15),
        0 6px 6px rgba(0,0,0,.1);

    }

  }

  // Highlight item right clicked on
  tr.has-action-menu-open td {
    background-color: #dbe1e6 !important;
  }

}

[data-file-actions] {

  &.is-hidden {
    display: none !important;
  }

}


// CUSTOM CONTEXT OPTION MENU (RIGHT CLICK)
// =============

.option-menu {
  position: absolute;
  width: rem-calc(150);
  z-index: 5;
  border: 1px solid $colour-grey-lightest;
  box-shadow:
    0 10px 20px rgba(0,0,0,.15),
    0 6px 6px rgba(0,0,0,.1);

  .button {

    &:hover {
      background-color: lighten($colour-grey-lightest, 5%) !important;
    }

  }

}


// ASSET MANAGER FOLDER TREE (TREE INDEX)
// =========================

$folder-tree-cell-width: rem-calc(220);
$folder-tree-cell-width-xlarge: rem-calc(240);

.file-list-cell,
.folder-tree-cell {
  border: 1px solid #e4e8f0;
}

.folder-tree-cell {
  width: $folder-tree-cell-width;
  max-width: $folder-tree-cell-width;

  @media #{$xlarge-up}{
    width: $folder-tree-cell-width-xlarge;
    max-width: $folder-tree-cell-width-xlarge;
  }

}

.file-list-cell {
  position: relative;
  z-index: 3;
}

.folder-tree {
  padding: rem-calc(10 0z 1 0);
  font-size: rem-calc(14);

  ol {
    list-style-type: none;
    margin: 0;

    li ol {
      margin-left: rem-calc(15);
    }
  }

  li {
    position: relative;
    display: block;

    // Hover State
    .inner:hover {
      background-color: rgba($colour-black, .05);
    }

    // Right-clicked state
    &.has-action-menu-open > .inner {
      background-color: rgba($colour-black, .08) !important;
    }


    .folder-item {
      display: block;
      padding: rem-calc(5 15);
      white-space: nowrap;
      color: $colour-grey;
    }

    .folder-toggle {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      width: rem-calc(15);
      height: 100%;
      //background-color: rgba($colour-black, .1);
    }

    .fi-adm-folder {
      position: relative;
      top: 1px;
      color: $colour-grey-light;
    }

    &.current > .inner {
      background-color: transparent;
    }

    &.current > .inner .folder-item,
    &.current > .inner .folder-item:hover {
      font-weight: 600;
      color: $colour-grey-dark;

      .fi-adm-folder {
        color: $colour-slate;
      }

    }

    a {
      transition: none;
    }

  }

  // DROPPABLE STATES
  .ui-droppable {

    &.ui-droppable-hover {
      background-color: $colour-slate !important;
      color: $colour-white !important;

      .fi-adm {
        color: $colour-white !important;
      }

    }

  }

  // Hide any children by default
  li > ol {
    display: none;
  }

  // Indicate child folders (closed)
  ol li.has-children > .inner .fi-adm-folder:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -4px 0 0 -16px;
    width: 0;
    height: 0;
    border-style: solid;

    border-width: 3px 0 3px 5px;
    border-color: transparent transparent transparent $colour-grey;

  }

  // Child folders open
  ol li.is-expanded {

    > ol {
      display: block;
    }

    &.has-children > .inner .fi-adm-folder:after {
      margin: -3px 0 0 -17px;
      border-width: 5px 3px 0 3px;
      border-color: $colour-grey transparent transparent transparent;

    }

  }

}

// Class to make table rows highlight on hover
.hover-table-row tbody {
  tr:nth-of-type(even):hover,
  tr:hover {
    background-color: darken($colour-white,3%);
  }
}

// Class to make a tbale row look selected
.selected-table-row {
  background-color: lighten(#e4e8f0, 2%) !important;
}

// Fix for white buttons on tables with rows with colour
table .colour-white {
  &button ,
  &.button {
    background-color: rgba($colour-white,0) !important;

    &:hover {
      background-color: rgba($colour-white,0) !important;
    }
  }
}


// PAGE BUILDER
// ===============

.page-builder {

  .page-builder-block {
    position: relative;
    z-index: 2 !important;

    &:hover {
      z-index: 4 !important;
    }

    .block-inner {
      position: relative;
      z-index: 2;

      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 2px 2px 0 rgba($colour-black, .25);
        opacity: 0;
        //transition: opacity .3s ease;
      }

    }

    .block-heading {
      background-color: $colour-off-white;
      border: 1px solid $input-border-color;
      padding: rem-calc(10 120 10 50);

      .block-toggle i:before {
        @include fi-adm-arrow-up;
      }

      .content-snippet {
        display: none;
      }

    }

    .block-handle {
      background-color: rgba($colour-black, .05);
    }

    .block-status {
      display: none;
      height: rem-calc(42);
      line-height: rem-calc(42);

      .status-icon {
        width: rem-calc(8);
        height: rem-calc(8);
      }

    }

    .dropdown-menu {
      width: rem-calc(120);
      margin-top: rem-calc(-10);
      border: none;
      z-index: 10;

      a {
        display: block;
        padding: rem-calc(5 10);
      }

      .inner {
        background-color: $colour-off-white;
        border: 1px solid $colour-grey-lightest;
      }

    }

    .block-content {
      background-color: $colour-white;
      border: 1px solid $input-border-color;
      border-top: 0;
    }

    &.is-inactive {

      .block-heading {
        background-color: $colour-grey-lightest;
      }
      .block-heading-inner {
        opacity: .5;
      }

      .block-status {
        display: inline-block;
      }

    }

    &.is-collapsed {

      .block-content {
        height: 0 !important;
        border: 0 !important;
        overflow: hidden !important;
      }

      .content-snippet {
        display: inline;
      }

      .block-toggle i:before {
        @include fi-adm-arrow-down;
      }

    }

  }

  .ui-sortable-placeholder {
    position: relative;
    margin-bottom: rem-calc(20);

    /**
     * Use pseudo element instead of border on placeholder element itself
     * because you get a visible jump in height when dragging otherwise
     */
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      border: 1px dashed lighten($colour-grey-light, 2%);
      border-radius: $global-radius;
    }

  }

  .ui-sortable-helper {

    .block-inner:after {
      opacity: 1;
    }

  }

  button.add-block {
    border: 1px dashed $colour-grey-light;
  }

}

.page-builder-modal {

  .block-type {
    border: 1px solid $colour-grey-lightest;

    &.selected {
      border: 1px solid $colour-selected;
      box-shadow: 0 0 0 2px $colour-selected;
    }

  }

}

// ASSET GALLERY
// -----------------
.asset-gallery.asset-gallery-page-block {

  $drag-handle-height: rem-calc(150);
  .drag-handle {
    height: $drag-handle-height;
    line-height: $drag-handle-height;
  }

  .ui-sortable-placeholder {
    margin: 0;

    &:before {
      border: 0 !important;
    }

  }

  //.input-row {
  //  padding-top: 0;
  //}

}

//colours a tinyMCE text with white text to have a grey bg so you can see that it says 'white text'
.mce-text[style*="color:rgb(255, 255, 255)"] {
  background-color: rgba(0,0,0,0.5);
}

// Tinymce loading state
textarea[data-tinymce] {
  visibility: hidden;
}

.tinymce-wrap {
  min-height: 60px;
  background-image: url('../ui/loading-simple.gif');
  background-repeat: no-repeat;
  background-position: -10px 0;
}
