
// -------------------
//   TINYMCE STYLES
//  [CMS Content/WYSIWYG Editor]
// -------------------

@if map-get($includes, include-tinymce) {

  // Theme Tweaks
  .mce-tinymce {
    margin-bottom: $column-gutter;

    .mce-menu {
      margin: 0 0 0 1px;
    }

    .mce-panel,
    &.mce-panel {
      background-color: $colour-off-white;
      border-color: lighten($input-border-color, 5%);
    }

    &.mce-panel {
      margin-bottom: rem-calc(20);

      .has-error & {
        border-color: $colour-error;
      }
    }

    button {
      transition: none;
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }

    }

  }


  // Editor Body
  #tinymce {
    padding: rem-calc(25 15 15 15);
    color: $colour-grey-dark;
    background-color: $colour-white;

    p, ul, ol, h1, h2, h3, h4, h5, h6 {
      position: relative;
      border: 1px dashed #ddd;

      &:hover {
        border: 1px dashed #aaa;
      }

      &:before {
        content: '';
        display: block;
        width: auto;
        position: absolute;
        top: -12px;
        left: 6px;
        font-size: 12px;
        line-height: 14px;
        color: #ddd;
        background-color: #fff;
        padding: 0 4px;
      }

      &:hover {
        &:before {
          color: #aaa;
        }
      }

    }

    hr {
      border: none !important;

      &:before {
        display: none !important;
      }
    }

    h1, h2, h3, h4, h5, h6, p {
      padding: 8px 15px;
    }

    h1:before {
      content: 'H1 Heading';
    }
    h2:before {
      content: 'H2 Heading';
    }
    h3:before {
      content: 'H3 Heading';
    }
    h4:before {
      content: 'H4 Heading';
    }
    h5:before {
      content: 'H5 Heading';
    }
    h6:before {
      content: 'H6 Heading';
    }

    p:before {
      content: 'Paragraph';
    }

    ul:before {
      content: 'List (Unordered)';
    }

    ol:before {
      content: 'List (Numbered)';
    }

    hr {
      margin-bottom: 40px;

      &:before {
        content: 'Horizontal Rule';
        top: -20px;
        left: -3px;
      }

    }

  }

}