
// CUSTOM TOGGLES
// Map of includes
$includes: (
        //include-[component-name]: true/false

        // OOCSS Toggles
        include-animations:                                     true,  // Basic Animation Classes [_animations.scss]
        include-background:                                     true,  // Background sizing / positions [_background.scss]
        include-border:                                         true,  // Border classes ( .border-t1 = border-top: 1px solid; ) [_border.scss]
        include-border-zero:                                    true,  // Border 0 classes ( .border-t0 = border-top: 0; ) [_border.scss]
        include-border-responsive:                              true,  // Define borders with viewport [_border.scss]
        include-button-padding:                                 true,  // Button padding for tiny, small medium and large [_padding.scss]
        include-cursors:                                        true,  // Define cursor (pointer, none) [_display.scss]
        include-child-display:                                  false,  // Child objects display content with viewport [_display.scss]
        include-child-display-responsive:                       false,  // Child objects display content with viewport for responsive [_display.scss]
        include-dropdown-menu:                                  false,  // Shows and hides dropdown content when opened via hover / click
        include-display-responsive:                             true,  // Display content with viewport [_display.scss]
        include-font-size-responsive:                           true,  // Font Sizes that get reduces by a set amount for small devices [_type.scss]
        include-fixed-font-size:                                true,  // Font does NOT reduce for small devices (couple with above) [_type.scss]
        include-flexbox:                                        false,  // Flexbox display propertise [_flexbox.scss]
        include-floats-responsive:                              true,  // Responsive Float classes e,g, .float-left-medium-up [_display.scss]
        include-heights-responsive:                             true,  // Set height (.height-50, .height-33 + responsive) [_display.scss]
        include-hide-responsive:                                true,  // Hide content with viewport (hide-for-*) [_display.scss]
        include-inline-list-dividers:                           true,  // Adds a pipeline | after each li, but not the last. (.inline-list-dividers)
        include-line-height:                                    true,  // Control line height (rem, em, 1.1pt, 1.1em) [_type.scss]
        include-list-style:                                     true,  // List Styles (disc, square, circle, none) [_type.scss]
        include-letter-spacing:                                 false,  // Control letter spacing ( .letter-spacing-0pt01em ) [_type.scss]
        include-letter-spacing-negative:                        false,  // Negative letter spacing [_type.scss]
        include-margin-auto:                                    true,  // Margin auto in directions [_margin.scss]
        include-margin-auto-responsive:                         true,  // Margin auto in directions for breakpoints  [_margin.scss]
        include-margin-zero:                                    true,  // Margin 0 in directions [_margin.scss]
        include-margin-zero-responsive:                         true,  // Margin 0 in directions for breakpoints [_margin.scss]

        include-margin-rem:                                     true,  // Margin by rem/px [_margin.scss]
        include-margin-rem-responsive:                          true,  // Responsive margin by rem/px [_margin.scss]
        include-margin-rem-negative:                            true,  // Negative margin by rem/px [_margin.scss]
        include-margin-rem-negative-responsive:                 true,  // Negative responsive margin by rem/px [_margin.scss]
        include-margin-gutter:                                  true,  // Margin to match grid gutter width [_margin.scss]
        include-margin-gutter-responsive:                       true,  // Responsive margin to match grid gutter width [_margin.scss]
        include-margin-gutter-negative:                         true,  // Negative margin to match grid gutter width [_margin.scss]
        include-margin-gutter-negative-responsive:              true,  // Negative responsive margin to match grid gutter width [_margin.scss]
        include-margin-gutter-full:                             true,  // Margin to be full width of the gutter [_margin.scss]
        include-margin-gutter-full-responsive:                  true,  // Responsive margin to be full width of the gutter [_margin.scss]
        include-margin-gutter-full-negative:                    true,  // Negative margin to be full width of the gutter [_margin.scss]
        include-margin-gutter-full-negative-responsive:         true,  // Negative responsive margin to be full width of the gutter [_margin.scss]

        include-margin-em:                                      true,  // Margin in em's from $size-list-em [_margin.scss]
        include-margin-em-responsive:                           true,  // Margin in em's from $size-list-em for breakpoints [_margin.scss]

        include-margin-em-negative:                             true,  // Margin in negative em's from $size-list-em [_margin.scss]
        include-margin-em-negative-responsive:                  true,  // Margin in negative em's from $size-list-em for breakpoints [_margin.scss]

        include-margin-em-points:                               true,  // Margin 0.1 to 0.9 in em's [_margin.scss]
        include-margin-em-points-responsive:                    true,  // Margin 0.1 to 0.9 in em's for breakpoints [_margin.scss]

        include-margin-em-points-negative:                      true,  // Margin -0.1 to -0.9 in em's [_margin.scss]
        include-margin-em-points-negative-responsive:           true,  // Margin -0.1 to -0.9 in em's for breakpoints [_margin.scss]

        include-opacity:                                        true,  // Control opacity / hover opacity (hover-fade) [_opacity.scss]
        include-padding-rem:                                    true,  // Padding oocss classes [_padding.scss]
        include-padding-rem-responsive:                         true,  // Padding oocss responsive classes [_padding.scss]
        include-padding-bottom-ratio:                           true,  // Padding to mimic video ratio when displaying responsive videos
        include-padding-gutter:                                 true,  // Padding to match grid gutter width [_padding.scss]
        include-padding-gutter-responsive:                      true,  // Responsive padding to match grid gutter width [_padding.scss]
        include-padding-gutter-full:                            true,  // to be full width of the gutter [_margin.scss]
        include-padding-gutter-full-responsive:                 true,  // Responsive to be full width of the gutter [_padding.scss]
        include-padding-em:                                     true,  // Padding in em's from $size-list-em  [_padding.scss]
        include-padding-em-responsive:                          true,  // Padding in em's from $size-list-em for breakpoints [_padding.scss]
        include-padding-em-points:                              true,  // Padding in em's to decimal points [_padding.scss]
        include-padding-em-points-responsive:                   true,  // Padding 0.1em to 0.9em for breakpoints [_padding.scss]
        include-padding-zero:                                   true,  // Padding 0 in directions [_padding.scss]
        include-padding-zero-responsive:                        true,  // Padding 0 in directions for breakpoints [_padding.scss]

        include-portrait-landscape:                             true,  // Layouts properties for view port dimensions in portrait and landscape [_portait-landscape.scss]
        include-radius-remove:                                  true,  // Border radius in px [_radius.scss]
        include-radius-global:                                  true,  // Border radius to match global-border-radius [_radius.scss]
        include-radius-remove-responsive:                       true,  // Responsive border radius in px [_radius.scss]
        include-radius-global-responsive:                       true,  // Responsive border radius to match global-border-radius [_radius.scss]
        include-position-responsive:                            true,  // Position with viewport (relative, absolute, top-0, bottom-0) [_display.scss]
        include-transforms:                                     false,  // Common transforms (.rotate-90, .flip-horizontal) [_transform.scss]
        include-text-columns:                                   false,  // Columns in text using column-count [_display.scss]
        include-text-stroke:                                    false,  // Outline type or icons with mixin and oocss options [_type.scss]
        include-visibility-responsive:                          true,  // Allow screen readers to see read text but hide for screen sizes (visually-hidden-*) [_display.scss]
        include-vertical-align-responsive:                      true,  // Responsive vertical alignment using vertical-align [_display.scss]
        include-widths-responsive:                              true,  // OOCSS width like .width-20-small-only etc [_display.scss]
        include-wysiwyg:                                        false,  // WYSIWYG defaults / overrides [_wysiwyg.scss] //using cms-content instead
        include-z-index:                                        true,  // z-index classes (.z-index-1) [_display.scss]
        include-z-index-negative:                               true,  // Negative z-index classes [_display.scss]

        // Component Toggles
        include-cms-content:                                    false,  // Default styles/overrides for client's cms/wysiwyg content
        include-forms:                                          true,  // Basic form styles
        include-fancy-list:                                     false,  // UL with custom, styleable bullets (using iconfont)
        include-form-error-neg-top-margin:                      true,  // Sets all from errors messages to sit below the forms without oocss classes
        include-fancy-checkbox:                                 true,  // Styled checkboxes (using label:before)
        include-fancy-radiobuttons:                             true,  // Styled radio buttons (using label:before)
        include-fancy-switch:                                   true,  // Styled switch toggle (on/off)
        include-google-maps:                                    false,  // Google map default styles
        include-google-map-info-window:                         false,  // Google map custom info window styles
        include-headroom:                                       false,  // Hide (slide up) header after offset, show instantly on scroll up
        include-highlighted-text:                               false,  // Wrap text in an inline, solid colour highlight
        include-label-placeholder:                              false,  // Placeholder using <label>, hidden when valid
        include-magic-line:                                     false,  // Heading with vertically centered line
        include-mobile-header:                                  true,  // Smaller, fixed mobile header (with offcanvas)
        include-nestable:                                       false,  // JQuery Nestable (used for custom blocks in PatCMS, this does not need to be on for PATCMS to work as its now included in the PATCMS files. This is an option if you need it for the websites frontend)
        include-outdated-browser:                               false,  // Outdated browser warning message
        include-offcanvas-menu:                                 true,  // Slide in, off-screen mobile menu
        include-slick-carousel:                                 false,  // Carousels [_slick.scss, _slick-overrride.scss]
        include-selectordie:                                    false,  // Styled select boxes [_selectordie.scss, _selectordie-overrride.scss]
        include-selection-colour:                               true,  // Style selection colour (e.g. click and drag text) [_selection-colour.scss]
        include-star-rating-interactive:                        false,  // Star Rating interactive states (hover, selected etc) [_star-rating.scss]
        include-table-displays-responsive:                      true,  // Change table structure with viewport [_table.scss]
        include-tables-js-responsive:                           false,  // Change table structure with viewport [_table.scss]
        include-touch-display:                                  true,  // Creates display classes for classes
        include-tabs-responsive:                                false,  // Default inline-tab style, with 'accordion' layout for mobile
        include-tick-list:                                      false,  // UL with tick's for bullets (using iconfont)

        // General Toggles
        include-hide-number-input-arrows:                       false,  // Hide (if false) the browser-default arrows (a.k.a spinners) on input[type=number]
        include-tinymce:                                        true   // Styling for TinyMCE texteditor

);


// Toggle the extra large grid in Foundation, and margin/padding classes
// --------------------
$include-xl-html-grid-classes: true;


// Does the project support REM? Convert PX to REM using rem-calc(12);
// --------------------
$rem-support: false;
$rem-base: 16; // Base font size for REM calculations


// --------------------------------------------------


// Client Main Colour
$colour-client:             #1bbcef;

// Primary & Secondary
$colour-primary:            #01a9da;
$colour-secondary:          #71c341;

// Colours
$colour-blue:               #01a9da;
$colour-slate:              #292933;

// Tones
$colour-white:              #fff;
$colour-off-white:          #f2f2f2;

$colour-grey-lightest:      #dddddd;
$colour-grey-light:         #bbbbbb;
$colour-grey:               #808080;
$colour-grey-dark:          #444444;
$colour-grey-darkest:       #222222;

$colour-off-black:          #050505;
$colour-black:              #000;


// Admin Specific Colours
$admin-min-layout-width:        1296px;
$admin-login-bg-colour:         $colour-slate;
$admin-body-bg-colour:          #f7f7f7;
$admin-navigation-bg-colour:    $colour-slate;

$admin-tab-bar-bg-colour:       #f1f3f5;
$admin-tab-bar-border-colour:   #e4e8f0;

$section-border-colour:         #e4e8f0;

$admin-popup-shadow:            0 5px 18px rgba(0, 0, 0, .2);

// Form Colours
$colour-success:            #71c341;    // Green
$colour-warning:            #eba709;    // Orange
$colour-error:              #fc635d;    // Red
$colour-info:               #01a9da;    // Blue
$colour-cancel:             #ebebeb;    // Grey

$colour-selected:           #4d90fe;    // "Focus" blue


//  Social Colours
$include-social-facebook:   true;
$include-social-twitter:    true;
$include-social-googleplus: false;
$include-social-instagram:  false;
$include-social-linkedin:   false;
$include-social-pinterest:  false;
$include-social-rss:        false;
$include-social-skype:      false;
$include-social-snapchat:   false;
$include-social-tumblr:     false;
$include-social-vimeo:      false;
$include-social-whatsapp:   false;
$include-social-youtube:    false;

$colour-facebook: false;
$colour-googleplus: false;
$colour-instagram: false;
$colour-linkedin: false;
$colour-pinterest: false;
$colour-rss: false;
$colour-skype: false;
$colour-snapchat: false;
$colour-tumblr: false;
$colour-twitter: false;
$colour-vimeo: false;
$colour-whatsapp: false;
$colour-youtube: false;

@if $include-social-facebook   == true { $colour-facebook:   #3b5998; }
@if $include-social-googleplus == true { $colour-googleplus: #dd4b39; }
@if $include-social-instagram  == true { $colour-instagram:  #e4405f; }
@if $include-social-linkedin   == true { $colour-linkedin:   #007bb6; }
@if $include-social-pinterest  == true { $colour-pinterest:  #cb2028; }
@if $include-social-rss        == true { $colour-rss:        #f4821f; }
@if $include-social-skype      == true { $colour-skype:      #00aff0; }
@if $include-social-snapchat   == true { $colour-snapchat:   #fffc00; }
@if $include-social-tumblr     == true { $colour-tumblr:     #2c4762; }
@if $include-social-twitter    == true { $colour-twitter:    #00aced; }
@if $include-social-vimeo      == true { $colour-vimeo:      #1ab7ea; }
@if $include-social-whatsapp   == true { $colour-whatsapp:   #43d854; }
@if $include-social-youtube    == true { $colour-youtube:    #bb0000; }


$admin-navigation-width: rem-calc(180);
$gradient-lighten-percentage: 15%;

// Global Radius (border, inputs, buttons etc.)
$global-radius: rem-calc(4);

// Placeholder colour
$placeholder-font-colour: $colour-grey;

// Font variations (add your custom fonts to these stacks)
$serif-font-family: Georgia, Times, 'Times New Roman', serif;
$sans-serif-font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// Sizes for OOCSS EM margin/padding
$size-list-em:
1
, 0.5
, 2
//, 3
//, 4
//, 5
;

// Sizes for OOCSS PX margin/padding
$size-list:
1
, 2
, 3
, 4
, 5
, 6
, 7
, 8
, 9
, 10
, 15
, 20
, 25
, 30
, 40
, 50
;
$size-list-margin:              $size-list;
$size-list-margin-negative:     $size-list;
$size-list-padding:             $size-list;

// Used for border widths on .border-* classes
$size-list-border:
1
,2
,3
,4
,5
;

// For Widths and Heights we need to render a % value
$percent: '%';

// Width values to be looped over
// 0 and auto are hardcoded.
// You can also use values with decimal places, e.g. 12.5
$width-list:
100
,90
,80
,70
,75
,66 //66.66666%
,60
,50
,40
,33 //33.33333%
,30
,20
,25
//,16.6 //6th - 16.66667%
//,12.5 //8th - 12.5%
,10
//, 8.3 //12th - 8.33333%
;


// Height values to be looped over
// 0 and auto are hardcoded.
// You can also use values with decimal places, e.g. 12.5
$height-list:
100
//,90
//,80
//,70
//,75
//,60
,50
//,40
//,33
//,30
//,20
//,25
//,10
;


// We use these to control header font sizes
$h1-font-size: rem-calc(46);
$h2-font-size: rem-calc(34);
$h3-font-size: rem-calc(24);
$h4-font-size: rem-calc(20);
$h5-font-size: rem-calc(18);
$h6-font-size: rem-calc(16);

// We use these to control header font sizes for $medium-only (tablet-devices)
$h1-font-size-for-medium: rem-calc(44);
$h2-font-size-for-medium: rem-calc(30);
$h3-font-size-for-medium: rem-calc(22);
$h4-font-size-for-medium: rem-calc(18);
$h5-font-size-for-medium: rem-calc(17);
$h6-font-size-for-medium: rem-calc(16);

// We use these to control header font sizes for $small-only (mobile-devices)
$h1-font-size-for-small: rem-calc(42);
$h2-font-size-for-small: rem-calc(28);
$h3-font-size-for-small: rem-calc(20);
$h4-font-size-for-small: rem-calc(18);
$h5-font-size-for-small: rem-calc(17);
$h6-font-size-for-small: rem-calc(16);

$paragraph-line-height: 1.4; // $paragraph-line-height: 1.6;

//  Responsive Font Sizes Ranges
// (Ranges [in pixels])
$small-font-list: //from sizes 10px to 17px;
8
, 9
, 10
, 11
, 12
, 13
, 14
, 15
, 16
, 17
;
$small-font-range: $small-font-list; //from sizes 10px to 17px;


$medium-font-list: //from sizes 18px to 32px;
18
, 19
, 20
, 21
, 22
, 23
, 24
, 25
, 26
, 27
, 28
, 29
, 30
, 31
, 32
;
$medium-font-range: $medium-font-list; //from sizes 18px to 32px;


$large-font-list: //from sizes 33px to 72px;
33
, 34
, 35
, 36
, 37
, 38
, 39
, 40
, 41
, 42
, 43
, 44
, 45
, 46
, 47
, 48
, 49
, 50
, 51
, 52
, 53
, 54
, 55
, 56
, 57
, 58
, 59
, 60
, 61
, 62
, 63
, 64
, 65
, 66
, 67
, 68
, 69
, 70
, 71
, 72
;
$large-font-range: $large-font-list; //from sizes 33px to 72px;


// Responsive font reduction for small screens, the fonts deemed large medium and small are multiplied by the numbers below to reduce them all.
$small-font-reduction: 1;
$medium-font-reduction: 1;
$large-font-reduction: 1;

// .small-paragraph p - Used to reduce all paragraph font sizes inside container.
$small-paragragh-font-size: rem-calc(14);

$line-height-list:
normal
,0
,0.1
,0.2
,0.3
,0.4
,0.5
,0.6
,0.7
,0.8
,0.9
,1
,1.1
,1.2
,1.3
,1.4
,1.5
,1.6
,1.7
,1.8
,1.9
,2
;


// Letter Spacing
// Creates classes .letter-spacing-0pt01em through to .letter-spacing-0pt1em or customise as required. the values are devided by 100 to create the correct decimal point as sass dont like decimals
//$letter-spacing-em-min: 1;
//$letter-spacing-em-max: 10;
//$letter-spacing-negative-em-min: 1;
//$letter-spacing-negative-em-max: 10;


// Font Weight Range
// Creates classes .font-weight-100 through to .font-weight-900 or customise as required
//$font-weight-min: 1;
//$font-weight-max: 9;


// Set the margin-bottom across all inputs (text, select, labelplaceholder)
$input-margin-bottom: rem-calc(20);



// Z-Index OOCSS classes
// For these to be exported, include-z-index and/or include-z-index-negative need to be set to true

$z-index-min: 0;
$z-index-max: 5;

$z-index-negative-min: 1;
$z-index-negative-max: 5;



// Row Outer Padding
// -------------------

$row-outer-padding-small: rem-calc(0 10);
//$row-outer-padding-medium: rem-calc(0 15);
//$row-outer-padding-large: rem-calc(0 20);
//$row-outer-padding-xlarge: rem-calc(0 25);




// -------------------
// COMPONENT VARIABLES
// -------------------


// CMS Content
// -------------------

//$cms-content-styled-lists: true;  // Style all <ul>'s in cms-content with .fancy-list styles



// Highlighted Text
// -------------------

//$highlighted-text-padding-x: 15px;
//$highlighted-text-padding-y: 10px;
//$highlighted-text-bg-color: $colour-white;


// Styled Lists
// -------------------

//$styled-list-margin-bottom: rem-calc(20); // Set the margin-bottom across all styled lists
//$styled-list-li-margin-bottom: 0.5em; // Set the margin-bottom across all list items inside styled lists

//$tick-list-bullet-colour: $colour-success;
//$fancy-list-bullet-colour: $primary-color;


// Mobile Header
// -------------------

//$mobile-header-height: rem-calc(60);
//$mobile-header-logo-max-width: rem-calc(86);
//$mobile-header-border-bottom: $colour-grey-lightest;


// Fancy Checkbox
// -------------------

$fancy-checkbox-bg-colour:        $colour-white;
//$fancy-checkbox-border-size:    1px;
//$fancy-checkbox-border-colour:  lighten($colour-grey-light, 8%);
$fancy-checkbox-tick-colour:      $colour-slate;
//$fancy-checkbox-border-radius:  0;


// Fancy Radiobuttons
// -------------------

$fancy-radio-bg-colour:                 $colour-white;
//$fancy-radio-border-size:             1px;
//$fancy-radio-border-colour:           lighten($colour-grey-light, 8%);
$fancy-radio-dot-active-colour:         $colour-slate;
$fancy-radio-dot-inactive-colour:       $colour-white;
//$fancy-radio-border-radius:           50%;


// Responsive Tabs
// -------------------

//$responsive-tabs-border:                      $colour-grey-light;

//$responsive-tabs-tab-bg:                      $colour-white;
//$responsive-tabs-tab-bg-active:               $colour-white;
//$responsive-tabs-tab-colour:                  $colour-grey;
//$responsive-tabs-tab-colour-active:           $colour-grey-darkest;
//$responsive-tabs-tab-border:                  $colour-grey-light;
//$responsive-tabs-tab-border-active:           $colour-white;

//$responsive-tabs-tab-stacked-bg:              $colour-white;
//$responsive-tabs-tab-stacked-bg-active:       $colour-grey-lightest;
//$responsive-tabs-tab-stacked-colour:          $colour-grey;
//$responsive-tabs-tab-stacked-colour-active:   $colour-grey-darkest;
//$responsive-tabs-tab-stacked-border:          $colour-grey-light;
//$responsive-tabs-tab-stacked-border-active:   $colour-grey-light;

//$responsive-tabs-content-bg:                  $colour-white;
//$responsive-tabs-content-border:              $colour-grey-light;


// Slick
// -------------------

// Customisable default vars

//$slick-loader-path: "./" ;
//$slick-arrow-color: white;
//$slick-dot-color: $colour-secondary; //black;
//$slick-dot-color-active: $colour-primary; //$slick-dot-color;
//$slick-dot-size: 10px; //6px;

//$slick-opacity-default: 1; // .75;
//$slick-opacity-on-hover: 0.66; // 1;
//$slick-opacity-not-active: 1; // .25;

// New customisable vars

//$slick-arrow-size: inherit;
//$slick-arrow-fixed-button-size: 1.6em;
//$slick-arrow-background-color: $colour-primary;
//$slick-arrow-radius: $global-radius;

//$slick-dot-tap-area-on-small: rem-calc(48); //to pass hit area on pagespeed insights
//$slick-dot-tap-area-spacing-on-small: rem-calc(16);
//$slick-dot-tap-area-on-medium: rem-calc(36);
//$slick-dot-tap-area-spacing-on-medium: rem-calc(8);
//$slick-dot-tap-area-on-large: rem-calc(24);
//$slick-dot-tap-area-spacing-on-large: rem-calc(0);

//$slick-dot-margin-top: rem-calc(5);
//$slick-dot-margin-bottom: rem-calc(10);



// Selection Colour
// -------------------

// $selection-bg-colour: $colour-primary;       // $selection-bg-colour: $colour-primary;
// $selection-font-colour: $colour-primary;     // $selection-font-colour: $colour-primary;


// Star Rating
// -------------------

$star-rating-nojs-fallback: false;                       //$star-rating-nojs-fallback: true;

//$star-rating-inactive-colour: $colour-grey-light;     //$star-rating-active-colour: #d8c498;
//$star-rating-active-colour: #d8c498;                  //$star-rating-active-colour: #d8c498;
//$star-rating-selected-colour: #ffc038;                //$star-rating-selected-colour: #ffc038;



//Label Placeholder Variables
// -------------------

//$label-placehoder-font-colour: $placeholder-font-colour !default;
//$label-placehoder-focus-bg-colour: $colour-grey-dark !default;
//$label-placehoder-focus-font-colour: $colour-white !default;


//Offcanvas Menu Variables
// -------------------

//$offcanvas-menu-background-colour: $colour-grey !default;
//$offcanvas-menu-button-colour: $offcanvas-menu-background-colour !default;
//$offcanvas-menu-button-border-bottom-colour: darken($offcanvas-menu-button-colour, 2.5%) !default;
//$offcanvas-menu-has-dropdown-arrow-colour: rgba($colour-white, 0.4) !default;
