/*! Pushy - v1.1.0 - 2017-1-30
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

// Menu Appearance
.pushy {
  position: fixed;
  width: 260px;
  height: 100%;
  top: 0;
  z-index: 9999;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &.pushy-left {
    left: 0;
  }

  &.pushy-right {
    right: 0;
  }

}

.pushy-content{
  visibility: hidden;
}

/* Menu Movement */
.pushy-left {
  transform: translate3d(-260px,0,0);
}

.pushy-open-left {
  #container,
  .push {
    transform: translate3d(260px ,0,0);
  }
}

.pushy-right {
  transform: translate3d(260px,0,0);
}

.pushy-open-right {
  #container,
  .push {
    transform: translate3d(-260px,0,0);
  }
}

.pushy-open-left,
.pushy-open-right {

  .pushy {
    transform: translate3d(0,0,0);
  }

  .pushy-content {
    visibility: visible;
  }

}

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

.pushy-content {
  transition: visibility .2s cubic-bezier(.16, .68, .43, .99);
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pushy-open-left,
.pushy-open-right {

  .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0,0,0,0.5);
    -webkit-animation: fade 500ms;
    animation: fade 500ms;
  }

}

@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}