/*
 * Note: DON'T include using a <link> tag
 * Only used on AMP pages using file_get_contents()
 */

$primary: #2C4697;
$secondary: #91C629;

html, body {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.colour-primary {
  color: $primary;
}

.colour-secondary {
  color: $secondary;
}

.main-body {
  max-width: 37.5rem;
  margin: 0 auto;
}

.container {
  padding: 0 .9375rem;
}

h2, h3, h4, h5, h6 {
  margin: 1.875rem 0 1.25rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: .875rem;
}
h5 {
  font-size: .75rem;
}
h6 {
  font-size: .625rem !important;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

ul, ol {
  margin: 1.25rem 0;
}

ol {
  padding-left: 1.25rem;
}

li {
  font-size: 1rem;
  margin-bottom: .625rem;
}

.table {
  display: table;
}
.table-cell {
  display: table-cell;
  vertical-align: top;
}
.vertical-middle {
  vertical-align: middle;
}
.vertical-baseline {
  vertical-align: baseline;
}

header {
  padding: .625rem .625rem .75rem;

  a {
    display: table;
    width: 100%;
    text-align: center;

    > span {
      display: table-cell;
      text-align: left;

      svg {
        width: 5.875rem;
        vertical-align: middle;
      }

      + span {
        text-align: right;

        i {
          display: none;
          vertical-align: middle;
          font-style: normal;
          font-weight: 700;
          padding: 0 20px;
          color: #595959;

          @media only screen and (min-width: 19.375em) {
            display: inline-block;
          }

        }

        svg {
          width: 1.75rem;
          vertical-align: middle;
        }

      }

    }

  }

  svg {
    display: inline-block;
  }

}

.breadcrumbs {
  display: block;
  overflow: hidden;
  list-style: none;
  border-style: none;
  margin: 0;
  padding: .625rem 0 .9375rem;
  font-size: 0;

  > * {
    margin: 0;
    display: inline;
    font-size: .625rem;
    line-height: 1.3;
    color: #B6B6B6;

    &:before {
      content: "|";
      color: #B6B6B6;
      margin: 0 .3125rem;
      position: relative;
      top: -1px;
    }

    &:first-child:before {
      content: "";
      margin: 0;
    }

  }

  a {
    color: #B6B6B6;
  }

}

h2.subtitle {
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.2;
}

.article-info {
  margin-bottom: .625rem;
}

.article-category,
.article-date {
  display: inline-block;
  vertical-align: middle;
  margin: 0 .625rem .625rem 0;
  font-size: .8125rem;
  color: #B6B6B6;
}

.article-date {
  padding-left: .8125rem;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.article-category {
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5);
}

.width-50 {
  width: 50%;
}

.padding-y30 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
.padding-l30 {
  padding-left: 1.875rem;
}

.article-author {
  display: table;
  width: 100%;
  font-size: .875rem;
  color: #444444;
  margin-bottom: 1.875rem;
}

.author-image,
.image-cell {
  width: 4.0625rem;
}

.author-cell {
  padding-left: .9375rem;
  line-height: 1.2;
}

.author-image {
  border-radius: 100%;
}

.author-name {
  font-size: 1.125rem;
  font-weight: 700;
  color: #DDDDDD;
  margin: .125rem 0 .5rem;
}

.simple-list {
  margin-top: 0;
  margin-bottom: 1.25rem;
  padding-left: 0;
  list-style: none;
}

.inline-list {
  margin-left: -.3125rem;
  margin-right: -.3125rem;

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 .3125rem;
  }

}

.related-service-links a {
  color: #DDDDDD;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 $primary;
}

.font-size-0 {
  font-size: 0;
}

.links {

  .title {
    font-size: .875rem;
    margin: 0 0 10px;
    font-weight: 400;
  }

  svg {
    width: 13px;
    height: 13px;
    max-width: 13px;
    max-height: 13px;
    margin-right: .3125rem;
  }

  .share .button {
    padding: .3125rem .625rem .25rem;
  }

  .button {
    padding: .4375rem .625rem;
    font-size: .75rem;
    margin-bottom: .625rem;
    line-height: 1;

    &.colour-twitter {
      border: 2px solid #00ACED;
    }

    &.colour-linkedin {
      border: 2px solid #007BB6;

      svg {
        position: relative;
        top: -1px;
      }

    }

    &.colour-facebook {
      border: 2px solid #3B5998;
    }

    &.colour-primary {
      border: 2px solid $primary;
    }

    &.colour-secondary {
      border: 2px solid $secondary;
    }

  }

}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  border: 0;
}

.cms-content {
  margin-bottom: 1.875rem;

  amp-img {
    margin-bottom: 1.875rem !important;
  }

  a {
    color: $primary;
    font-weight: normal;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

  }

  ul {
    list-style: none; // Remove list bullets
    padding-left: 0;

    li {
      position: relative;
      padding-left: 1rem;
    }

    li:before {
      content: '';
      position: absolute;
      top: .375rem;
      left: 0;
      line-height: 1;
      border-radius: 100%;
      background-color: $primary;
      width: .5rem;
      height: .5rem;
    }

  }

}

blockquote {
  margin: 1.875rem 0;
  padding: 0 1.25rem 0 1.25rem;
  border-left: 1px solid $primary;
}

.article-jump-link {
  display: block;
  font-size: .875rem;
  margin-top: .9375rem;
  color: #595959;

  span {
    font-weight: 700;
    color: #444444;
  }

}

.article-footer {
  padding: 0 1rem 1rem;
  margin-top: 3.125rem;
  text-align: center;

  p,
  address {
    font-style: normal;
    font-size: .75rem;
    color: #595959;
    margin-bottom: .625rem;
  }

  a {
    color: #595959;
  }

  small {
    color: #B6B6B6;
    font-size: .625rem;
    line-height: 1.2;
    display: block;
  }

  .social-links {
    margin-top: .625rem;

    svg {
      width: 2rem;
    }

  }

}

.footer-logo {
  display: block;
  overflow: hidden;
  margin: .625rem auto;

  svg {
    max-width: 94px;
  }

}

.button,
.tel-link {
  display: inline-block;
  vertical-align: middle;
  color: #444444;
  font-weight: 700;
}

.button {
  padding: .75rem 1.875rem;
  border: 2px solid $primary;
  border-radius: 100px;
  margin-bottom: 1.875rem;

  &:hover {
    text-decoration: none;
    border: 2px solid $primary;
  }

}

.tel-link {
  font-size: 1.5rem;
}

.theme-bg-colour {
  background-color: rgba(255, 255, 255, 0.8);
}

.hero-wrapper {
  margin: 0 -.9375rem 1.875rem;
}

.hero {
  background-color: #444444;
  position: relative;
  overflow: hidden;
  min-height: 290px;
  display: table;
  width: 100%;

  &:before {
    content: '';
    display: block;
    height: 33%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(0deg, rgba(68, 68, 68, 0) 0%, rgba(68, 68, 68, 1) 100%);
  }

}

.title-container {
  padding: 3.125rem 1.875rem;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 3;
  display: table-cell;
  vertical-align: middle;

  h1.title {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.2;
  }

}

.theme-bg-colour {
  background: rgba(0, 0, 0, 0.6) url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA1Ni43IDU2LjciIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDU2LjcgNTYuNyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHJlY3QgeD0iMCIgeT0iMCIgb3BhY2l0eT0iMC4yIiB3aWR0aD0iMjguMyIgaGVpZ2h0PSIyOC4zIi8+PC9zdmc+);
  background-size: 2px 2px;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slant-container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  font-size: 0;
  margin-bottom: -.0625rem;
}

.slant {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: 600;
}